<div class="size-wrapper">
    <div class="size-section left-section" >
        <label class="control-label overflow-label" ng-bind="::translate('Length')"></label>
        <input type="text" ng-model="length" touch-spin spin-options="spinOption">
    </div>
    <div class="size-section center-section">
        <label class="control-label overflow-label" ng-bind="::translate('Width')"></label>
        <input type="text" ng-model="width" touch-spin spin-options="spinOption">
    </div>
    <div class="size-section right-section">
        <label class="control-label overflow-label" ng-bind="::translate('Height')"></label>
        <input type="text" ng-model="height" touch-spin spin-options="spinOption">
    </div>
<div>