<div class="row" ng-controller="calendarCtrl">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-6">
                <div class="hpanel">
                    <div class="panel-body">
                        <div id="external-events">
                            <h2>UI Calendar</h2> is a complete AngularJS directive for the Arshaw FullCalendar - jQuery plugin that provides a full-sized, drag & drop event calendar.
                            <p>
                                <a href="http://angular-ui.github.io/ui-calendar/" target="_blank">Ui Calendar documentation</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="hpanel">
                    <div class="panel-body">
                        <div id="external-events">
                            <strong>Click, Drop or Resize event on calendar!</strong>

                            <p>Message from functions:
                                <br>

                            </p><div class="p-m h-bg-navy-blue text-white" ng-show="alertMessage">
                                {{alertMessage}}
                            </div>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Calendar
            </div>
            <div class="panel-body">
                <div class="btn-toolbar"></div>
                <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
            </div>
        </div>
    </div>
</div>