<div class="row">
    <div class="col-md-12">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                Chat room
            </div>
            <div class="panel-body no-padding">


                <div class="row">

                    <div class="col-md-9">
                        <div class="chat-discussion">

                            <div class="chat-message left">
                                <img class="message-avatar" src="images/a2.jpg" alt="">
                                <div class="message">
                                    <a class="message-author" href="#"> Michael Smith </a>
                                    <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                            </span>
                                </div>
                            </div>
                            <div class="chat-message right">
                                <img class="message-avatar" src="images/a2.jpg" alt="">
                                <div class="message">
                                    <a class="message-author" href="#"> Michael Smith </a>
                                    <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                            </span>
                                </div>
                            </div>
                            <div class="chat-message left">
                                <img class="message-avatar" src="images/a1.jpg" alt="">
                                <div class="message">
                                    <a class="message-author" href="#"> Michael Smith </a>
                                    <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                            <span class="message-content">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                            </span>
                                </div>
                            </div>
                            <div class="chat-message right">
                                <img class="message-avatar" src="images/a4.jpg" alt="">
                                <div class="message">
                                    <a class="message-author" href="#"> Karl Jordan </a>
                                    <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                                            </span>
                                </div>
                            </div>
                            <div class="chat-message left">
                                <img class="message-avatar" src="images/a2.jpg" alt="">
                                <div class="message">
                                    <a class="message-author" href="#"> Michael Smith </a>
                                    <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                            </span>
                                </div>
                            </div>
                            <div class="chat-message right">
                                <img class="message-avatar" src="images/a5.jpg" alt="">
                                <div class="message">
                                    <a class="message-author" href="#"> Alice Jordan </a>
                                    <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                                It uses a dictionary of over 200 Latin words.
                                            </span>
                                </div>
                            </div>
                            <div class="chat-message left">
                                <img class="message-avatar" src="images/a6.jpg" alt="">
                                <div class="message">
                                    <a class="message-author" href="#"> Mark Smith </a>
                                    <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                                It uses a dictionary of over 200 Latin words.
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="chat-users">

                            <div class="users-list">

                                <div class="chat-user">
                                    <span class="pull-right label label-success">Online</span>
                                    <img class="chat-avatar" src="images/a3.jpg" alt="">
                                    <div class="chat-user-name">
                                        <a href="#">Janet Smith</a>
                                    </div>
                                </div>
                                <div class="chat-user">
                                    <img class="chat-avatar" src="images/a1.jpg" alt="">
                                    <div class="chat-user-name">
                                        <a href="#">Monica Smith</a>
                                    </div>
                                </div>
                                <div class="chat-user">
                                    <span class="pull-right label label-success">Online</span>
                                    <img class="chat-avatar" src="images/a2.jpg" alt="">
                                    <div class="chat-user-name">
                                        <a href="#">Michael Smith</a>
                                    </div>
                                </div>
                                <div class="chat-user">
                                    <img class="chat-avatar" src="images/a4.jpg" alt="">
                                    <div class="chat-user-name">
                                        <a href="#">Karl Jordan</a>
                                    </div>
                                </div>
                                <div class="chat-user">
                                    <img class="chat-avatar" src="images/a5.jpg" alt="">
                                    <div class="chat-user-name">
                                        <a href="#">Alice Smith</a>
                                    </div>
                                </div>
                                <div class="chat-user">
                                    <img class="chat-avatar" src="images/a6.jpg" alt="">
                                    <div class="chat-user-name">
                                        <a href="#">Monica Cale</a>
                                    </div>
                                </div>
                                <div class="chat-user">
                                    <img class="chat-avatar" src="images/a2.jpg" alt="">
                                    <div class="chat-user-name">
                                        <a href="#">Mark Jordan</a>
                                    </div>
                                </div>
                                <div class="chat-user">
                                    <span class="pull-right label">Online</span>
                                    <img class="chat-avatar" src="images/a3.jpg" alt="">
                                    <div class="chat-user-name">
                                        <a href="#">Janet Smith</a>
                                    </div>
                                </div>
                                <div class="chat-user">
                                    <img class="chat-avatar" src="images/a4.jpg" alt="">
                                    <div class="chat-user-name">
                                        <a href="#">Karl Jordan</a>
                                    </div>
                                </div>
                                <div class="chat-user">
                                    <img class="chat-avatar" src="images/a5.jpg" alt="">
                                    <div class="chat-user-name">
                                        <a href="#">Alice Smith</a>
                                    </div>
                                </div>
                                <div class="chat-user">
                                    <img class="chat-avatar" src="images/a6.jpg" alt="">
                                    <div class="chat-user-name">
                                        <a href="#">Monica Cale</a>
                                    </div>
                                </div>
                                <div class="chat-user">
                                    <img class="chat-avatar" src="images/a2.jpg" alt="">
                                    <div class="chat-user-name">
                                        <a href="#">Mark Jordan</a>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type your message here...">
                        <span class="input-group-btn">
                            <button class="btn btn-success">
                                Send</button>
                        </span>
                </div>
            </div>

        </div>


    </div>

</div>