<div class="row">
    <div class="col-lg-12">

        <div class="hpanel forum-box">

            <div class="panel-heading">
                <span class="pull-right">
                    <i class="fa fa-clock-o"> </i> Last modification: 10.12.2015, 10:22 am
                </span>
                <span class="f"> General topics > Announcements > <span class="text-success">Free talks</span> </span>
            </div>


            <div class="panel-body">
                <div class="media">
                    <div class="media-image pull-left">
                        <img src="images/a4.jpg" alt="profile-picture">
                        <div class="author-info">
                            <strong>Anna Smith</strong><br>
                            April 11.2015
                            <div class="badges">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-shield text-success"></i>

                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <h5>Vivamus luctus diam et magna</h5>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look
                        even slightly believable.
                        Ut mollis mauris in quam scelerisque, nec euismod nulla rutrum. Vestibulum elementum porta pharetra. Praesent volutpat, mi sed laoreet facilisis, turpis erat ornare orci, a
                        faucibus sapien eros quis nibh.
                        <br>
                        <br>
                        Praesent tempus nunc in libero lacinia, nec auctor arcu commodo. Sed sagittis interdum varius. Cras quis ex dictum, laoreet enim quis, aliquam
                        odio. Nunc ac risus ex. Nunc tempor a ex nec malesuada. Suspendisse efficitur varius mollis.
                        <br>
                        <br>
                        Mauris tellus eros, faucibus vel fringilla sit amet, volutpat commodo erat. Nam fermentum tellus facilisis consectetur varius. Mauris et molestie leo. Cras mattis pellentesque massa, convallis accumsan dui sagittis vel.
                        <br>
                        <br>
                        <i>
                            - Best regards, Anna Smith
                        </i>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="media">
                    <div class="media-image pull-left">
                        <img src="images/a2.jpg" alt="profile-picture">
                        <div class="author-info">
                            <strong>Robert Jackson</strong><br>
                            May 01.2015
                            <div class="badges">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>

                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <h5>Nam fermentum tellus</h5>
                        Vivamus luctus diam et magna bibendum, quis tristique urna cursus. In dignissim tellus eu metus pharetra vulputate. Proin eu tempus tortor, vitae bibendum est. Nam placerat hendrerit rhoncus. Ut finibus, orci ut euismod gravida, felis elit lobortis purus, eget bibendum tortor sapien sit amet turpis. Integer porttitor ligula ac felis imperdiet volutpat. Praesent sit amet libero id eros convallis fringilla tempus vitae est.
                        <br>
                        <br>
                        Sed venenatis dui non blandit semper. Proin sed ullamcorper arcu, et ullamcorper mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam vitae efficitur urna. Integer vitae mi commodo, porttitor nulla vitae, sollicitudin eros.
                        <br>
                        <br>
                        <i>
                            - Best regards, Robert Jackson
                        </i>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="media">
                    <div class="media-image pull-left">
                        <img src="images/a1.jpg" alt="profile-picture">
                        <div class="author-info">
                            <strong>Mark Smith</strong><br>
                            May 01.2015
                            <div class="badges">
                                <i class="fa fa-shield text-success"></i>
                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <h5>Aenean molestie lorem ut sem</h5>
                        Nam fermentum tellus facilisis consectetur varius. Mauris et molestie leo. Cras mattis pellentesque massa, convallis accumsan dui sagittis vel. Ut mollis mauris in quam scelerisque, nec euismod nulla rutrum. Vestibulum elementum porta pharetra. Praesent volutpat, mi sed laoreet facilisis, turpis erat ornare orci, a faucibus sapien eros quis nibh. Praesent tempus nunc in libero lacinia, nec auctor arcu commodo. Sed sagittis interdum varius. Cras quis ex dictum, laoreet enim quis, aliquam odio. Nunc ac risus ex. Nunc tempor a ex nec malesuada. Suspendisse efficitur varius mollis.
                        <br>
                        <br>
                        Sed venenatis dui non blandit semper. Proin sed ullamcorper arcu, et ullamcorper mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam vitae efficitur urna. Integer vitae mi commodo, porttitor nulla vitae, sollicitudin eros.
                        <br>
                        <br>
                        <i>
                            - Best regards, Mark Smith
                        </i>
                    </div>
                </div>
            </div>


            <div class="panel-body">
                <div class="media">
                    <div class="media-image pull-left">
                        <img src="images/a6.jpg" alt="profile-picture">
                        <div class="author-info">
                            <strong>John Jackson</strong><br>
                            Oct 21.2015
                            <div class="badges">
                                <i class="fa fa-shield text-success"></i>
                                <i class="fa fa-shield text-success"></i>
                                <i class="fa fa-star text-warning"></i>
                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <h5>Fusce tristique massa turpis</h5>
                        Sed venenatis dui non blandit semper. Proin sed ullamcorper arcu, et ullamcorper mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam vitae efficitur urna. Integer vitae mi commodo, porttitor nulla vitae, sollicitudin eros.
                        <br>
                        <br>
                        Proin eu tempus tortor, vitae bibendum est. Nam placerat hendrerit rhoncus. Ut finibus, orci ut euismod gravida, felis elit lobortis purus, eget bibendum tortor sapien sit amet turpis. Integer porttitor ligula ac felis imperdiet volutpat. Praesent sit amet libero id eros convallis fringilla tempus vitae est.
                        <br>
                        <br>
                        Quisque gravida maximus rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget felis dictum, aliquam nunc vitae, pharetra dolor. Aenean sapien erat, molestie sit amet faucibus non, pharetra a dui. Aenean ut venenatis dolor, et volutpat odio. Nam ultrices gravida ligula sed porta.
                        <br>
                        <br>
                        <i>
                            - Best regards, John Jackson
                        </i>

                        <!-- Comments -->
                        <div class="forum-comments">
                            <div class="media">
                                <a class="pull-left">
                                    <img src="images/a1.jpg" alt="profile-picture">
                                </a>

                                <div class="media-body">
                                    <span class="font-bold">John Novak</span>
                                    <small class="text-muted">21.03.2015</small>

                                    <div class="social-content">
                                        Injected humour, or randomised words which don't look even slightly believable.
                                        Proin eu tempus tortor, vitae bibendum est. Nam placerat hendrerit rhoncus.
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left">
                                    <img src="images/a3.jpg" alt="profile-picture">
                                </a>

                                <div class="media-body">
                                    <span class="font-bold">Mark Smith</span>
                                    <small class="text-muted">14.04.2015</small>
                                    <div class="social-content">
                                        Many desktop publishing packages and web page editors.Morbi imperdiet sem non dignissim vulputate.
                                        Cras maximus porttitor dui sed placerat. Integer eleifend pulvinar arcu at mattis. Ut porta tellus id enim volutpat, non pharetra elit vestibulum.
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left">
                                    <img src="images/a9.jpg" alt="profile-picture">
                                </a>

                                <div class="media-body">
                                    <span class="font-bold">John Smith</span>
                                    <small class="text-muted">22.11.2015</small>
                                    <div class="social-content">
                                        Nunc egestas eu odio ut pellentesque. Fusce sagittis quam et lobortis scelerisque. Nulla in libero lacinia, fringilla magna in, congue diam. Vivamus fermentum eget erat hendrerit mattis. Nulla facilisi.
                                    </div>
                                </div>
                            </div>

                            <form>
                            <input class="form-control" placeholder="Your comment">
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="media">
                    <div class="media-image pull-left">
                        <img src="images/a2.jpg" alt="profile-picture">
                        <div class="author-info">
                            <strong>Robert Jackson</strong><br>
                            May 01.2015
                            <div class="badges">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>

                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <h5>Nam fermentum tellus</h5>
                        Vivamus luctus diam et magna bibendum, quis tristique urna cursus. In dignissim tellus eu metus pharetra vulputate. Proin eu tempus tortor, vitae bibendum est. Nam placerat hendrerit rhoncus. Ut finibus, orci ut euismod gravida, felis elit lobortis purus, eget bibendum tortor sapien sit amet turpis. Integer porttitor ligula ac felis imperdiet volutpat. Praesent sit amet libero id eros convallis fringilla tempus vitae est.
                        <br>
                        <br>
                        Sed venenatis dui non blandit semper. Proin sed ullamcorper arcu, et ullamcorper mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam vitae efficitur urna. Integer vitae mi commodo, porttitor nulla vitae, sollicitudin eros.
                        <br>
                        <br>
                        <i>
                            - Best regards, Robert Jackson
                        </i>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="media">
                    <div class="media-image pull-left">
                        <img src="images/a4.jpg" alt="profile-picture">
                        <div class="author-info">
                            <strong>Anna Smith</strong><br>
                            April 11.2015
                            <div class="badges">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-shield text-success"></i>

                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <h5>Vivamus luctus diam et magna</h5>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look
                        even slightly believable.
                        Ut mollis mauris in quam scelerisque, nec euismod nulla rutrum. Vestibulum elementum porta pharetra. Praesent volutpat, mi sed laoreet facilisis, turpis erat ornare orci, a
                        faucibus sapien eros quis nibh.
                        <br>
                        <br>
                        Praesent tempus nunc in libero lacinia, nec auctor arcu commodo. Sed sagittis interdum varius. Cras quis ex dictum, laoreet enim quis, aliquam
                        odio. Nunc ac risus ex. Nunc tempor a ex nec malesuada. Suspendisse efficitur varius mollis.
                        <br>
                        <br>
                        Mauris tellus eros, faucibus vel fringilla sit amet, volutpat commodo erat. Nam fermentum tellus facilisis consectetur varius. Mauris et molestie leo. Cras mattis pellentesque massa, convallis accumsan dui sagittis vel.
                        <br>
                        <br>
                        <i>
                            - Best regards, Anna Smith
                        </i>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="media">
                    <div class="media-image pull-left">
                        <img src="images/a6.jpg" alt="profile-picture">
                        <div class="author-info">
                            <strong>John Jackson</strong><br>
                            Oct 21.2015
                            <div class="badges">
                                <i class="fa fa-shield text-success"></i>
                                <i class="fa fa-shield text-success"></i>
                                <i class="fa fa-star text-warning"></i>
                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <h5>Fusce tristique massa turpis</h5>
                        Sed venenatis dui non blandit semper. Proin sed ullamcorper arcu, et ullamcorper mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam vitae efficitur urna. Integer vitae mi commodo, porttitor nulla vitae, sollicitudin eros.
                        <br>
                        <br>
                        Proin eu tempus tortor, vitae bibendum est. Nam placerat hendrerit rhoncus. Ut finibus, orci ut euismod gravida, felis elit lobortis purus, eget bibendum tortor sapien sit amet turpis. Integer porttitor ligula ac felis imperdiet volutpat. Praesent sit amet libero id eros convallis fringilla tempus vitae est.
                        <br>
                        <br>
                        Quisque gravida maximus rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget felis dictum, aliquam nunc vitae, pharetra dolor. Aenean sapien erat, molestie sit amet faucibus non, pharetra a dui. Aenean ut venenatis dolor, et volutpat odio. Nam ultrices gravida ligula sed porta.
                        <br>
                        <br>
                        <i>
                            - Best regards, John Jackson
                        </i>

                        <!-- Comments -->
                        <div class="forum-comments">
                            <div class="media">
                                <a class="pull-left">
                                    <img src="images/a1.jpg" alt="profile-picture">
                                </a>

                                <div class="media-body">
                                    <span class="font-bold">John Novak</span>
                                    <small class="text-muted">21.03.2015</small>

                                    <div class="social-content">
                                        Injected humour, or randomised words which don't look even slightly believable.
                                        Proin eu tempus tortor, vitae bibendum est. Nam placerat hendrerit rhoncus.
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left">
                                    <img src="images/a3.jpg" alt="profile-picture">
                                </a>

                                <div class="media-body">
                                    <span class="font-bold">Mark Smith</span>
                                    <small class="text-muted">14.04.2015</small>
                                    <div class="social-content">
                                        Many desktop publishing packages and web page editors.Morbi imperdiet sem non dignissim vulputate.
                                        Cras maximus porttitor dui sed placerat. Integer eleifend pulvinar arcu at mattis. Ut porta tellus id enim volutpat, non pharetra elit vestibulum.
                                    </div>
                                </div>
                            </div>
                            <form>
                                <input class="form-control" placeholder="Your comment">
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
