<div class="row">
    <div class="col-lg-12">

        <div class="hpanel">
        <div class="panel-body">
            <div class="text-muted small pull-right text-right">
                Proin eu tempus tortor, vitae bibendum est. Nam placerat hendrerit rhoncus<br>
                Last modyfication by: <span class="font-bold">Mike Smith</span>
                21.03.2015, 06:45 pm
            </div>
            <div class="form-inline">
               Search topic: <input class="form-control" type="text">
            </div>

        </div>

        </div>


        <div class="hpanel forum-box">

            <div class="panel-heading">
                <span class="pull-right">
                    <i class="fa fa-clock-o"> </i> Last modification: 10.12.2015, 10:22 am
                </span>
                General topics
            </div>

            <div class="panel-body">
                <div class="row">

                       <div class="col-md-10 forum-heading">

                           <span class="label label-success pull-left">Special</span>
                           <a ui-sref="app_views.forum_details"><h4> General Discussion</h4></a>
                           <div class="desc">Suspendisse egestas risus quis sem ultricies venenatis. Phasellus maximus tortor ut augue accumsan, sed posuere dolor tincidunt. In hac habitasse platea dictumst.</div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number"> 4780 </span>
                            <small>Views</small>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number"> 150 </span>
                            <small>Posts</small>
                        </div>
                    </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 forum-heading">
                        <a ui-sref="app_views.forum_details"><h4>Introductions</h4></a>
                        <div class="desc">Mauris feugiat ante vitae euismod vestibulum. Suspendisse id ullamcorper odio, ut tristique ante. In scelerisque dolor in mi condimentum consequat.</div>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 260 </span>
                        <small>Views</small>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 149 </span>
                        <small>Posts</small>
                    </div>
                </div>
            </div>

        </div>

        <div class="hpanel forum-box">

            <div class="panel-heading">
                <span class="pull-right">
                    <i class="fa fa-clock-o"> </i> Last modification: 11.10.2015, 08:10 am
                </span>
                Nunc eu luctus neque.
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 forum-heading">
                        <span class="label label-warning pull-left">New</span>
                        <a ui-sref="app_views.forum_details">
                            <h4>Morbi aliquam aliquam</h4>
                        </a>
                        <div class="desc">Morbi aliquam aliquam erat, id iaculis dui maximus vel. Curabitur dolor leo, tempus sit amet rutrum nec, luctus vel nisl. Nam sollicitudin quam non arcu faucibus, id mattis lacus interdum. Nam eleifend sodales ante sed pharetra. Integer cursus dapibus fringilla.</div>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 2451 </span>
                        <small>Views</small>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 100 </span>
                        <small>Posts</small>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 forum-heading">
                        <span class="label label-warning pull-left">New</span>
                        <a ui-sref="app_views.forum_details"><h4>Quisque ultrices </h4></a>
                        <div class="desc">Vestibulum scelerisque semper ligula ac consectetur. Proin tincidunt dui ac quam mollis eleifend.</div>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 5699 </span>
                        <small>Views</small>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 114 </span>
                        <small>Posts</small>
                    </div>
                </div>
            </div>

        </div>

        <div class="hpanel forum-box">

            <div class="panel-heading">
                <span class="pull-right">
                    <i class="fa fa-clock-o"> </i> Last modification: 01.03.2015, 11:10 am
                </span>
                Aenean vitae
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 forum-heading">
                        <a ui-sref="app_views.forum_details">
                            <h4>Pellentesque rhoncus </h4>
                        </a>
                        <div class="desc">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </div>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 1200 </span>
                        <small>Views</small>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 457 </span>
                        <small>Posts</small>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 forum-heading">
                        <a ui-sref="app_views.forum_details"><h4>Sed iaculis vel libero</h4></a>
                        <div class="desc">Nam sollicitudin quam non arcu faucibus, id mattis lacus interdum. Nam eleifend sodales ante sed pharetra. Integer cursus dapibus fringilla. Maecenas volutpat dapibus vestibulum. Mauris ullamcorper nibh nec consectetur fermentum. </div>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 460 </span>
                        <small>Views</small>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 280 </span>
                        <small>Posts</small>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 forum-heading">
                        <span class="label label-info pull-left">Latest</span>
                        <a ui-sref="app_views.forum_details"><h4>Mauris fermentum </h4></a>
                        <div class="desc">Aenean ornare lacus quis blandit posuere. Nulla porta lectus facilisis justo pharetra, nec varius felis sollicitudin.</div>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 870 </span>
                        <small>Views</small>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 621 </span>
                        <small>Posts</small>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 forum-heading">
                        <a ui-sref="app_views.forum_details"><h4>Vivamus non lacus diam.</h4></a>
                        <div class="desc">Aenean quis nulla finibus, lobortis nunc sit amet, tempor ligula. Nunc pharetra, mauris aliquet mollis semper, libero eros mattis eros, sit amet semper elit libero in leo. In porttitor quam sit amet felis congue aliquam. Ut commodo aliquam consectetur. In hac habitasse platea dictumst.</div>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 278 </span>
                        <small>Views</small>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 455 </span>
                        <small>Posts</small>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 forum-heading">
                        <a ui-sref="app_views.forum_details"><h4>Donec lacus dolor</h4></a>
                        <div class="desc">Nullam ipsum diam, tempus at pretium id, posuere rutrum urna. Sed et eros vitae magna condimentum semper sed vel enim. </div>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 780 </span>
                        <small>Views</small>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 120 </span>
                        <small>Posts</small>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 forum-heading">
                        <a ui-sref="app_views.forum_details"><h4>Fusce sagittis</h4></a>
                        <div class="desc">Duis sed enim velit. In auctor porta lorem, nec viverra risus faucibus at. Nulla sagittis eros id nibh vulputate, id malesuada nunc ultrices.</div>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 824 </span>
                        <small>Views</small>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="number"> 266 </span>
                        <small>Posts</small>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
