<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Invoice <small>IN-9177283-2016</small></h4>
                    </div>
                    <div class="col-md-6">
                        <div class="text-right">
                            <button class="btn btn-default btn-sm"><i class="fa fa-pencil"></i> Edit </button>
                            <button class="btn btn-default btn-sm"><i class="fa fa-check"></i> Save </button>
                            <button class="btn btn-primary btn-sm"><i class="fa fa-dollar"></i> Make A Payment</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-body p-xl">
                <div class="row m-b-xl">
                    <div class="col-sm-6">
                        <h4>IN-9177283-2016</h4>

                        <address>
                            <strong>Homer, Inc.</strong><br>
                            30 Mortensen Avenue<br>
                            Salinas, CA 93905<br>
                            <abbr title="Phone">P:</abbr> (831) 758-7200
                        </address>
                    </div>
                    <div class="col-sm-6 text-right">
                        <span>To:</span>
                        <address>
                            <strong>Corporate, Inc.</strong><br>
                            60 Mortensen Avenue<br>
                            Salinas, CA 123343<br>
                            <abbr title="Phone">P:</abbr> (831) 752-7000
                        </address>
                        <p>
                            <span><strong>Invoice Date:</strong> May 16, 2016</span><br>
                            <span><strong>Due Date:</strong> May 24, 2016</span>
                        </p>
                    </div>
                </div>

                <div class="table-responsive m-t">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Item List</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Tax</th>
                            <th>Total Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div><strong>Lorem Ipsum is that it has a more-or-less normal</strong></div>
                                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore.
                                </small>
                            </td>
                            <td>1</td>
                            <td>$26.00</td>
                            <td>$5.98</td>
                            <td>$31,98</td>
                        </tr>
                        <tr>
                            <td>
                                <div><strong>Lorem Ipsum is that it has</strong></div>
                                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.
                                    Eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </small>
                            </td>
                            <td>2</td>
                            <td>$80.00</td>
                            <td>$36.80</td>
                            <td>$196.80</td>
                        </tr>
                        <tr>
                            <td>
                                <div><strong>Has a more-or-less normal</strong></div>
                                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.
                                </small>
                            </td>
                            <td>3</td>
                            <td>$420.00</td>
                            <td>$193.20</td>
                            <td>$1033.20</td>
                        </tr>
                        <tr>
                            <td>
                                <div><strong>That it has a more-or-less</strong></div>
                                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.
                                </small>
                            </td>
                            <td>4</td>
                            <td>$320.00</td>
                            <td>$233.10</td>
                            <td>$193.10</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="row m-t">
                    <div class="col-md-4 col-md-offset-8">
                        <table class="table table-striped text-right">
                            <tbody>
                            <tr>
                                <td><strong>Sub Total :</strong></td>
                                <td>$1026.00</td>
                            </tr>
                            <tr>
                                <td><strong>TAX :</strong></td>
                                <td>$235.98</td>
                            </tr>
                            <tr>
                                <td><strong>TOTAL :</strong></td>
                                <td>$1261.98</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="m-t"><strong>Comments</strong>
                            It is a long established fact that a reader will be distracted by the readable content of a page
                            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>