.file-invisible {
    opacity:0;
    width:100%;
    cursor:pointer !important;
}
.btn-upload {
    width:100px;
    height:34px;
    position:relative;
    cursor:pointer !important;
    display: inline-block;
    overflow:hidden;
}
.btn-upload input {
    position:absolute;
    left:-122px;
    width:325px;
    top:0;
    height:34px;
}
.btn-upload span {
    cursor: pointer !important;
}
.well.my-drop-zone {
    height:119px;
}
.hgrey .panel-heading {
    background:#f2f2f2 !important;
    border-bottom:2px solid #aaa !important;
}
.hgrey-no-border .panel-heading {
    background:#f2f2f2 !important;
}
.tab-content .hpanel .panel-body {
    padding:10px 20px 0 20px;
}
.tab-content .hpanel .panel-body.comment {
    padding: 15px;
}
.tab-content .hpanel {
    margin-bottom: 10px;
}
.tab-content .comment-hpanel.hpanel {
    margin-bottom: 5px;
}
.tab-content .form-group {
    margin-bottom: 10px;
}
.tab-content .icheckbox_square-green.checked {
    background-position: -168px 0;
}
.tab-content .icheckbox_square-green {
    background-position: -144px 0;
}
.tab-content .icheckbox_square-green,
.tab-content .iradio_square-green {
    width:23px;
    height: 23px;
}
.btn-admin .btn span {
    font-size:14px;
}
.grid {
    width:100%;
    height:250px; 
}
.hpanel .hbuilt {
    border-radius:0 !important;
}
.btn-s.btn-default.btn-outline {
    border-color: #aaa;
    background:#fff;
}
.btn-s.btn-default.btn-outline i {
    vertical-align:middle;
}
.btn-s.btn-default.btn-outline[disabled] {
    border-color: #aaa;
    background: #999;
}
.btn-s.btn-default.btn-outline[disabled] i {
    color:#fff !important;
}
.preview-images .panel-body img {
}
.btn-xs.btn-s.btn-default.btn-outline:hover {
    background:#ddd;
    color:#333;
}
.btn-s.btn-xs {
    padding: 3px 6px 1px 6px;
}
.ui-grid-cell-focus {
    outline: 0;
    background-color: #f0f0f0;
}
.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background-color: #f0f0f0;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
    background:#fff;
    border-bottom: 1px solid #eee;
}
.ui-grid-row:last-child .ui-grid-cell {
    border-bottom: 1px solid #ccc;
    border-bottom-width: 1px !important;
}
.ui-grid-row:nth-child(even) .ui-grid-cell:last-child {
    border-right: 1px solid #ccc;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell:last-child {
    border-right: 1px solid #ccc;
}
.summer {
    border:1px solid #ddd;
    border-radius:4px;
    min-height: 34px;
}
.note-editor p, .summer-text p {
    margin:0;
}
.note-editor table, 
.summer-text table {
    margin-bottom: 0;
}
.image-wrap {
    vertical-align:middle;
    text-align:center;
    display: table-cell;
    height:225px;
}
.image-wrap img {
    margin-bottom: 40px;
    max-height: 100%;
    border: 1px solid #ddd;
    max-width: 100%;
    margin-top: 25px;
    max-height: 150px;
}
.image-wrap label {
    position: absolute;
    left: 20px;
    bottom: 5px;
}
.image-wrap a.closebox:hover {
    background: #f00;
    color: #fff;
}
.image-wrap a.closebox {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 1px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.panel-body.image-body {
    height:194px;
    margin:0 auto;
    display: table;
    position:relative;
    width:100%;
}
.preview-images > div {
    vertical-align:middle;
}
.panel-body.image-body.hred {
    border-top:3px solid red;
}
.panel-body.image-body.hyellow {
    border-top:3px solid #cbcb3a;
}
.product-preview {
    width: 140px;
}
.admin-btns .btn {
    height:36px;
    outline:none !important;
}
.tab-content .hpanel .note-editable.panel-body {
    padding: 5px 10px;
    min-height: 34px;
}
.note-editor .note-editing-area .note-editable {
    color:#333;
}
.note-editor {
    overflow: visible !important;
}
.note-color-reset {
    text-align:center;
}
.note-popover .popover .popover-content, .panel-heading.note-toolbar {
    padding: 5px 5px 0px 5px;
}
.note-popover .popover .popover-content>.btn-group, 
.panel-heading.note-toolbar>.btn-group {
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 0;
    margin-bottom: 5px;
}
.admin-page table canvas {
    border: 1px solid #ccc;
}
.ui-grid {
    border: 0 none;
}
.tab-content .tab-pane > div {
    background:#fff;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
}
.blue {
    color: #25f;
}
.red {
    color: #f31;
}
.green {
    color: #5c5;
}
.btn-s.btn-default.btn-outline[disabled] {
    background:#ccc;
}
.hgrey .hbuilt, .hgrey-no-border .hbuilt {
    padding: 5px 10px;
}
.radio-preview-product {
    position: absolute;
    bottom: -5px;
    left: 20px;
    width: 100%;
}
.product-brand-small {
    width: 60px;
    background-size: contain;
    display: inline-block;
    margin-right: 25px;
    border-radius: 4px;
    border: 1px solid transparent;
}
.remove-product-price {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
    height: 20px;
    border: 1px solid #ccc;
    background:#fff;
    border-radius: 4px;
    text-align:center;
}
.remove-product-price:hover {
    background:#eee;
    border-color: #999;
    cursor: pointer;
}
.remove-product-price:hover  span.fa {
    color:#f00;
}
.remove-product-price span.fa {
    color: #000;
}
.overflow-label-group {
    text-overflow: ellipsis;
    overflow: hidden;
}
.overflow-label {
    display: inline;
    white-space: nowrap;
    white-space:nowrap;
}