﻿.cabinet-page table {
}
.table-profile {
    border:1px solid #ddd;
    margin:0 20px 20px 0;
    width:100%;
}
.login-card:hover {
    border-color: #39f;
    cursor:pointer;
    background:#edf7fd;
}
.login-card {
    overflow:hidden;
    height: 100px;
    border: 1px solid #ccc;
    float: left;
    display: inline-block;
    margin: 0 0px 20px 0;
    width: 100%;
    border-radius:4px;
}
.profile-image {
    width: 100px;
    display: inline-block;
    float: left;
}
.profile-info {
    height: 100px;
    margin-left: 100px;
    position:relative;
}
.profile-info .btn {
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 9px;
    padding: 1px 4px 1px;
}
.login-card:hover .fa.social.fa-google-plus {
    color:#B24F40;
}
.login-card:hover .fa.social.fa-facebook {
    color:#4F6098;
}
.login-card:hover .fa.social.fa-twitter {
    color:#75C9FE;
}
.profile-info .fa.social {
    position: absolute;
    right: 3px;
    bottom: 3px;
    font-size: 16px;
    padding: 1px;
}
.profile-image img {
    width:100%;
    border-right:1px solid #ccc;
}
.profile-info > a > div, 
.profile-info > div {
    padding: 16px 10px;
}
.profile-info > div > div, .profile-info > a > div > div {
    padding:2px;
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
}
.profile-info-line {
    white-space:nowrap;
}
.address-text-editor textarea {
    width:100% !important;
    resize:vertical;
}
.address-text-editor .form-inline.editable-wrap {
    width:100%;
    padding-right:100px;
}
.address-text-editor .form-inline.editable-wrap > div {
    width:100%;
}
.editable pre:hover {
    border-color: #39f;
    background:#edf7fd;
}
.divacs {
    position: absolute;
    top: 5px;
    left: 20px;
    background: #ff2c00;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 10px;
}
.order-item {
    border-radius:4px;
    border:1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
}
.cabinet-page a.accordion-toggle {
    outline:none;
}
.order-user-thumbnail {
    width: 64px;
    border-radius: 4px;
    position: absolute;
    left: 5px;
    top: 5px;
}
.cabinet-page .panel-group .panel-heading {
    position:relative;
    height: 75px;
}
.order-user-name {
    position: absolute;
    left: 75px;
    top: 10px;
    font-size: 10px;
}
.order-date {
    position: absolute;
    left: 75px;
    top: 25px;
    font-size: 10px;
}
.order-total {
    position: absolute;
    left: 75px;
    top: 40px;
    font-size: 15px;
    font-weight: 600;
    color:#0a0;
}
.order-state {
    position: absolute;
    left: 75px;
    top: 57px;
    font-size: 10px;
    padding: 2px 2px 1px 2px;
}
.order-state.new {
    background: #ccc;
}
.order-state.placed {
    background: #fcf;
}
.order-state.failed {
    background: #f30;
    color: #fff;
}
.order-state.canceled {
    background: #fe4;
}
.order-state.processed {
    background: #4cf;
}
.order-state.succeeded {
    background: #8f8;
}
.orders-accordion .table th {
    white-space:nowrap;
    vertical-align:middle;
    border-right: 1px solid #ddd;
}
.orders-accordion .table td {
    border-right: 1px solid #ddd;
    vertical-align:middle;
    text-align:center;
}
.orders-accordion .table {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.orders-accordion .address-address-editor pre {
    min-height: 34px;
}
.orders-accordion .address-address-editor .editable-wrap {
    width: 100%;
    padding-right: 90px;
}
.orders-accordion .address-address-editor .editable-wrap div,
.orders-accordion .address-address-editor .editable-wrap textarea {
    width: 100%;
}
.order-number {
    position:absolute;
    bottom:20px;
    right:5px;
}