﻿.row.products {
    text-align: center;
    padding:0 10px;
    clear: both;
}
.row.products .hpanel {
    margin-bottom: 10px;
    margin-top: 10px;
}
.row.products .hpanel.animated-panel {
    animation-delay: 0.1s;
}
.page-size-group .btn {
    padding: 4px 9px;
}
.page-size-label {
    font-weight: normal;
}
.ng-hide {
    display: none !important;
}
.color-heart {
    color: #ff004b
}
.btn-in-cart {
    background: #62cb31;
    color: #fff;
}
.panel-body.product-image-body {
    margin: 0 auto;
    display: table;
    position: relative;
    width: 100%;
    border-radius:0;
}
.product-image-wrap {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    height: 180px;
}
.product-image-wrap.y {
    height: 160px;
}
.product-image-wrap.y {
    display: inline-block;
    vertical-align:top;

}
.product-image-wrap.y img {
    height: 100%;
    padding: 10px 0;
}
.product-image-wrap img {
    margin: 0;
}
.product-image-wrap img.x {
    max-width: 100%;
    margin: 0;
    max-height: 100%;
}
@media (max-width: 1600px) {
    .product-image-wrap.y {
        height: 160px;
    }
}
@media (max-width: 1350px) {
    .product-image-wrap.y {
        height: 150px;
    }
}
@media (max-width: 1200px) {
    .product-image-wrap {
        height: 140px;
    }
    .product-image-wrap.y {
        height: 160px;
    }
}
@media (max-width: 1100px) {
    .product-image-wrap.y {
        height: 170px;
    }
}
@media (max-width: 980px) {
    .product-image-wrap {
        height: 180px;
    }
    .product-image-wrap.y {
        height: 210px;
    }
}
@media (max-width: 860px) {
    .product-image-wrap {
        height: 150px;
    }
    .product-image-wrap.y {
        height: 180px;
    }
}
@media (max-width: 800px) {
    .product-image-wrap {
        height: 150px;
    }
    .product-image-wrap.y {
        height: 150px;
    }
}
@media (max-width: 768px) {
    .product-image-wrap {
        height: 140px;
    }
    .product-image-wrap.y {
        height: 165px;
    }
    .product-image-wrap img { 
        min-height: initial;
    }
}
@media (max-width: 525px) {
    .product-image-wrap.y {
        height: 150px;
    }
}
@media (max-width: 390px) {
    .product-image-wrap {
        height: 90px;
    }
    .product-image-wrap.y {
        height: 110px;
    }
}
@media (max-width: 320px) {
    .product-image-wrap {
        height: 90px;
    }

    .product-image-wrap.y {
        height: 110px;
    }
}
.catalog-page a:hover .hpanel.w-150 h5 {
    margin-bottom:0px;
    padding-bottom:1px;
}
.catalog-page .hpanel.w-150 {
    text-align:center;
}
.catalog-page a .hpanel.w-150 h5 {
    margin-bottom: 2px;
    display: inline;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.panel-html-content p {
    padding: 0;
    margin: 0;
}
.panel-body.image-body:hover {
    background:#f9f9f9;
}
.filters {
    margin: 0 0 0 0;
    padding: 5px;
}
.row.content-row:after {
    clear: none !important;
}
.left-side {
    float:left;
    width: 250px;
}
.right-side {
    margin-left: 250px;
}
.right-side.m-l-0 {
    margin-left: 0;
}
.filters-text {
    padding: 6px 8px !important;
    text-transform: uppercase;
    background: #f4f5f7 !important;
    font-weight: 700;
    font-size: 12px !important;
}
.div-split {
    display:none;
}
@media (max-width: 768px) {
    .row.products {
        padding:0 10px;
     }
    .content {
        padding:15px 15px 0 15px;
    }
    .ng-hide-small {
        display:none;
    }
    .div-split {
        display:block;
    }
    .left-side {
        float:left;
        width: inherit;
    }
    .page-size-label {
        text-align:right;
    }
    .label-page-size-span {
        display:none;
    }
    .left-side.filters-visible {
        width:100%;
    }
    .left-side.filters-visible ~ .right-side {
    }
    .right-side {
        margin-left: 0;
    }
}
.br-small {
    display: none;
}
@media (max-width: 525px) {
    .content-row.filters-visible {
        display:none;
    }
    .br-small {
        display:block;
    }
}

.control-switch {
    position:relative;
    height: 54px;
}

.control-switch .filter-label {
    position: absolute;
    left: 92px;
    top: 25px;
}

.control-switch .switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 20px 5px 0 25px;
  position:absolute;
  left:0;
  top:-3px;
  max-width:inherit;
}

.control-switch .switch input {display:none;}

.control-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.control-switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.control-switch input:checked + .slider {
  background-color: #2196F3;
}

.control-switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.control-switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.control-switch .slider.round {
  border-radius: 34px;
}

.control-switch .slider.round:before {
  border-radius: 50%;
}
.m-t-0 {
    margin-top:0;
}
.p-t-0 {
    padding-top:0;
}
.filters button {
    width:100%;
    margin-bottom:5px;
}
.filters .hpanel .panel-body {
    padding:5px;
    border-radius:0;
}
.filters .hpanel {
    margin-bottom:5px;
}
.filters .hpanel .panel-body > a {
    display:inline-block;
    width:100%;
}
.filters .hpanel .panel-body hr {
    margin:5px 0;
}
.filters .hpanel .panel-body > a span {
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 5px;
    top: 5px;
    color: slategray;
    font-weight: bold;
}
.product-image-wrap .product-brand-small {
    position:absolute;
    top: 5px;
    left: 8px;
    width: 48px;
}
.swipebox-wrapper .product-brand-small {
    position: absolute;
    bottom: 10px;
    z-index: 100;
    left: 10px;
    cursor: pointer;
}
.table-params {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 0;
    display: inline-block;
    overflow: hidden;
    border-top: 0 none;
}
.table-params .td1 div {
    max-width: 110px;
    min-width: 110px;
}
.table-params td div {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.table-params .td1 {
    width: 110px;
    border-right: 1px solid #ddd;
    padding: 4px 8px;
}
.table-params .td2 {
    width: 100%;
    padding: 4px 8px;
}
.sort-items a {
    padding: 3px 20px 3px 10px !important;
}
.small-search-field {
    width: 100%;
}
.small-search-field input {
    display: block;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.row.products .is-category .hpanel.animated-panel {
    border-color: gold !important;
    transition: border-color 0.2s !important;
}
.is-category .series-text {
    display:none;
}
.row.products .is-category .hpanel.animated-panel:hover {
    border-color: gold !important;
    transition: border-color 0.2s !important;
    box-shadow: 0px 0px 12px rgba(50,50,50,0.75);
}
.row.products .hpanel.animated-panel:hover {
    border-color: palegoldenrod !important;
    transition: border-color 0.2s !important;
    box-shadow: 0px 0px 12px rgba(50,50,50,0.75);
}
.custom-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}