﻿body {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    transition: all 0.5s;
}
#logo {
    padding: 3px 0 0 70px;
}
.cart {
    font-size:13px;
    border-radius:4px;
}
#wrapper {
}
.cart-th {
    padding: 5px 3px 2px;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    background: #f6f5dd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.cart-td a {
    border-bottom: 1px dotted #22604d;
    padding-bottom: 4px;
}
.cart-td a:hover {
    border-bottom: 2px solid #469a84;
}
.cart-td {
    padding: 2px 0px 5px 0px;
    display: inline-block;
}
.cart.col-lg-12 {
}
.cart-page .p-sm {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 0px !important;
}
.cart .col-lg-12,
.cart .col-lg-6,
.cart .col-md-2,
.cart .col-sm-2,
.cart .col-xs-2,
.cart .col-md-4,
.cart .col-sm-4,
.cart .col-lg-1,
.cart .col-md-1,
.cart .col-sm-1,
.cart .col-xs-1,
.cart .col-sm-11,
.cart .col-xs-11,
.cart .col-lg-5,
.cart .col-md-5,
.cart .col-xs-4
 {
    padding-left:2px;
    padding-right:0;
}
.cart-row {
    border-top: 1px dotted #999;
    margin-bottom: 15px;
    margin-right: 0;
    margin-left: 0;
    border-radius: 0px;
}
.cart-row:hover {
    background:#fcfcfc;
}
.logged-in  {
    font-weight: 700;
    color: #3cb371;
    background: url(/images/user.png);
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: 100%;
}
.logged-in:hover  {
    opacity:0.9;
}
.login-social-btn {
    background:#fff;
    position:relative;
}
.login-social-btn > span {
    background:#fff;
    position:absolute;
    padding:6px;
    margin-left:-70px;
    left:50%;
    top:-36px;
}
.login-social-btns > a:hover {
    background-position:0 -1px;
}
.login-social-btns > a {
    position:relative;
    color:#fff !important;
    width:38px;
    padding-left:20px;
    background-position:0 -38px;
    height:38px;
    margin:0 5px;
    border-radius:36px;
}
.login-social-btns .fa {
    font-size: 48px;
    margin: 0 5px;
    cursor: pointer;
    vertical-align: middle;
    transition: color 0.25s;
}
.login-social-btns .fa-facebook-square {
    color:#4F6098;
}
.login-social-btns .fa-facebook-square:hover {
    color:#4972C7;
}
.login-social-btns .fa-instagram {
    color: #dd5b8f;
}
.login-social-btns .fa-instagram:hover {
    color: #D93175;
}
.login-social-btns .fa-instagram-square {
    background-image: url('../images/instagram-inactive.png');
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    width: 43px;
    height: 48px;
    background-size: 100%;
    margin-top: 2px;
}
.login-social-btns .fa-instagram-square:hover {
    background-image: url('../images/instagram-active.png');
    background-position-y: 0;
}
.login-social-btns .fa-google-plus-square {
    color:#B24F40;
}
.login-social-btns .fa-google-plus-square:hover {
    color:#DA4435;
}
.login-social-btns .fa-twitter-square {
    color:#75C9FE;
}
.login-social-btns .fa-twitter-square:hover {
    color:#40B5FF;
}
.form-summary-msg  {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.validation-error {
    color:#d00;
}
label.validation-error {
    font-weight: normal;
    margin: 4px 2px 2px 5px;
    font-size:11px;
}
.form-control.validation-error {
    border-color: #d00 !important;
    color: #555 !important;
}
.user-picture {
    background-repeat: no-repeat;
    background-size:24px;
    display: inline-block;
    height:24px;
    width: 24px;
}
.ui-grid-viewport {
    overflow: auto !important;
}
.green-cart {
    color:#299c00;
    font-weight:bold;
}
.cart-count {
    position: absolute;
    right: 7px;
    top: 27px;
    font-weight: bold;
    font-style: normal;
    font-size: 19px;
    color: #f92 !important;
}
.star-wrap {
    position: absolute;
    top: -23px;
    right: 5px;
    padding: 0px 2px;
}
.star-filled.fa-star {
    color:#f92;
}
.fa-star {
    color:#bbb;
    cursor:pointer;
    font-size:10px;
}
.cart .btn-xs {
    padding: 5px 11px;
    font-size: 9px;
    margin: 4px 2px;
}
.cart > .cart-td {
    display: inline;
}
.cart .btn-xs.btn-danger {
    float: right;
    margin-top: 3px;
}
.hpanel .panel-body.border-radius0 {
    border-radius:0;
}
.ui-select-match {
    overflow:hidden;
}
textarea.form-control {
    resize:vertical;
}
.hpanel.order-it {
    padding: 0 !important;
    margin-bottom: 0 !important;
    border: 0 none;
}
.hpanel.order-it .cart-row {
    border: 1px dotted #ccc;
    margin-bottom: 5px;
    padding-bottom: 0 !important;
}
.hpanel.order-it .cart-th {
    background:#f3f3f3;
}
.hpanel.order-it .cart {
    padding:0 !important;
}
.table-cart-total {
    margin-right: 15px;
    float: right;
}
.hpanel.order-it .cart-td {
    color:#555 !important;
    white-space:nowrap;
}
.order-page input,
.order-page textarea,
.order-page .ui-select-placeholder,
.order-page .ui-select-match-text,
.order-page .ui-select-choices-row-inner div { 
    font-size:13px !important;
}
.ui-select-match-text {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    border-right: 16px solid transparent;
}
.order-page #wrapper,
.about-page #wrapper,
.delivery-page #wrapper {
    background: #fff;
}
.order-it .table>tbody>tr>td {
    border-top:0 none;
}
.just-date .picker-switch.accordion-toggle, .just-date ~ div .picker-switch.accordion-toggle {
    display:none;
}
a .outside-cart {
    color: #292 !important;
}
.outside-cart:hover {
    border-color:#ac2;
    background: #e5ffe5;
}
.outside-cart.visible {
    right: 0px;
}
.outside-cart {
    position: fixed;
    right: -100px;
    top: 50%;
    margin-top: -20px;
    height: 42px;
    width: 70px;
    background: #cfc;
    font-weight: 700;
    font-size: 30px;
    padding: 2px 5px;
    z-index: 1001;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-left: 2px solid #6c1;
    border-top: 2px solid #6c1;
    border-bottom: 2px solid #6c1;
    transition: all 1s;
}
.outside-cart span {
    font-size: 14px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    font-weight: 700;
    left: 41px;
}
.outside-cart i {
    font-weight: bold;
    margin-left:3px;
}
.comment {
    position:relative;
}
.comment .btn-danger {
    position:absolute;
    top:5px;
    right:5px;
    font-size: 10px;
    padding: 0px 3px;
}
.min-height100 {
    min-height: 100px;
}
.min-height200 {
    min-height: 200px;
}
.min-height400 {
    min-height:400px;
}
.product-link {
    color: #22604d;
    padding-bottom:2px;
    border-bottom:1px dotted #333;
    padding-right: 2px;
}
.comment-product-link {
    margin-bottom:20px;
}
.profile-link:hover .author-info strong {
    color:#4972C7;
}
.forum-box .panel-body .media-image {
    text-align: center;
    min-width: 100px;
}
.slider.slider-horizontal {
    width:100%;
}
.range-wrap {
    margin:0 10px;
}
div.jqcloud a {
    white-space:nowrap;
}
div > .checkbox:last-child, div > .radio:last-child {
    margin-bottom:0;
}
.normalheader .panel-body {
    padding-bottom:10px;
}
.grayscale {
    filter: grayscale(100%);
    opacity: 0.75;
}
.notexists {
    opacity: 0.5;
}
.admin-page .nav-tabs > li {
    float: left;
    margin-bottom: 10px;
    border: 0 !important;
}
.admin-page .nav-tabs > li.active > a {
    background-color: slategrey;
    color: #fff;
    font-weight: bold;
    border-radius:4px;
}
.admin-page .nav-tabs > li > a {
    margin-right: 0;
    border:0 !important;
    border-radius: 0 0 0 0;
}
#mirror.visible {
    border: 1px solid #eee;
    border-radius: 4px;
}
.tab-pane .grid.grid-editor.ui-grid {
    display:none;
}
.tab-pane.active .grid.grid-editor.ui-grid {
    display: block;
}
.grid.grid-editor .ui-grid-header-cell-wrapper {
    background:#fff;
}
.grid.grid-editor .ui-grid-top-panel {
    background:#fff;
}
.ui-grid-contents-wrapper {
    overflow: hidden;
}
.orders-accordion.custom-padding {
    border-radius: 0;
    border:0 none;
}
.orders-accordion.custom-padding.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top: 0 none;
    padding: 0 0 0 0;
}
.orders-accordion.custom-padding .panel-heading {
    padding: 0;
    background: #fff !important;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border-radius: 0 !important;
}
.faq-panel .panel-group {
    margin-bottom:0;
}
.address-address-editor .editable-wrap input.editable-input {
    max-width: 155px;
}
.hpanel .panel-body.panel-border-body {
    border-left: 0 none;
    border-right: 0 none;
    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
}
.comment-hpanel {
    z-index:1;
}
.comment-hpanel.loading {
    position: absolute;
    z-index: 0;
}