﻿.comment-header img {
    width: 32px;
    border-radius: 50%;
    vertical-align: top;

}
.comment-header .user-image span {
    color: #333;
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    font-weight: bold;
}
.added-comment-text {
    font-size: 10px;
    padding-left: 5px;
}
.comment-body {
    clear: both;
}
.panel-body.comment {
    padding: 15px;
    border-radius:4px;
}
.comment-body {
    margin-bottom: 5px;
}
.subcomments {
    padding-top: 5px;
    border-top: 1px solid #eee;
    padding-left:20px;
}
.subcomments img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-top: 0;
    border-radius: 50%;
}
.reply {
    margin: 10px 0 0 0;
}
.comment .product {
    padding-bottom: 10px;
    float: right;
    padding-right: 20px;
}
.panel-body .comment {
    position: relative;
}
.comment .product img {
    margin-right: 5px;
    border-radius: 4px;
    background-size: 100%;
    max-width: 40px;
    vertical-align: middle;
}
.comment .product.small-comment {
    float: left;
}
.comment .product .product-link {
    text-overflow: ellipsis;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}
.small-comment .user-image {
    width: 100%;
    border-top: 2px solid #eee;
    padding-top: 10px;
}
.comment-user-fullname {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 155px;
}
.comment .subcomments .btn-danger {
    font-size: 7px;
    padding: 0 2px;
}
.comment .subcomments .added-comment-text {
    padding-left: 0;
}