.recent-outer {
    border-radius: 4px;
    margin-bottom: 5px;
    overflow: hidden;
    user-select:none;
}
.recent-item img {
}
.recent-item:hover {
    border: 2px solid palegoldenrod;
    box-shadow: 0px 0px 12px rgba(50,50,50,0.75);
}
.recent-item {
    height: 185px;
    margin: 10px 15px 10px 15px;
    border: 2px solid rgb(250, 225, 163);
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    box-shadow: none;
    user-select: none;
    -webkit-user-drag:none;
    -webkit-user-select:none;
}
.recent-wrapper {
    height: 200px;
    padding: 0 0px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
.btn-go:hover {
    background:#fff;
    cursor: pointer;
}
.btn-go:hover span {
}
.btn-go span {
    text-align: center;
    vertical-align: middle;
    width: 37px;
}
.inactive.btn-go {
    opacity: 0.5;
}
.inactive.btn-go span{
    opacity: 0.75;
    color: #ccc;
}
.btn-go {
    font-size: 24px;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    user-select: none;
}
.btn-left {
    top: 112px;
    left: 12px;
}
.btn-right {
    top: 112px;
    right: 12px;
}