.search-wrapper .filters {
    transition: height ease 0.5s;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding-left: 7px;
    max-width: 680px;
    background: #fff;
    font-size: 12px;
}
.search-wrapper .filters .form-control {
    height: 27px;
}
.search-wrapper.small {
    background: #f1f3f6;
    border-bottom: 1px solid #ddd;
}
.search-wrapper.small .filters {
    max-width: 235px;
    margin-left:5px;
    margin-top: 0;
}
.search-wrapper .footer-row table {
    margin-left: 0;
}
.search-wrapper .footer-row {
    margin: 0px;
    padding-bottom: 5px;
}
.search-wrapper.small .footer-row {
    margin: 0px 5px 0 5px;
    padding-bottom: 5px;
}
.search-wrapper .main-row {
    margin-bottom:5px;
}
.search-wrapper.small .main-row {
    margin: 0 5px;
    padding-bottom: 5px;
}
.search-wrapper table {
    margin-left:5px;
}
.search-wrapper.small table {
    width: 100%;
    margin-left: 0;
}
.search-wrapper.small td {
    width: 50%;
}
.search-wrapper.small .buttons-row {
    margin-top: 5px;
    padding: 0;
}
.search-wrapper.small .main-row > div {
    padding: 0;
}
.search-wrapper .filters .content {
    margin: 10px !important;
    padding: 0 !important;
}
.search-wrapper .filters .content span {
    font-weight: bold;
}
.search-wrapper .filters .content .row > div {
    padding: 0 5px 5px 10px;
}
.search-wrapper .filters .range-wrap {
    margin: 0;
    width: 200px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.i-group.btn-group > .btn {
    font-size: 12px;
    padding: 4px 7px;
}
.i-group.btn-group > .btn.active {
    background: #62cb31;
    color: #fff;
    font-weight: bold;
}
.all-series-text {
    color: #bbb;
    font-size: 10px;
}
.loading {
    background: url('../../styles/img/loading.gif') no-repeat center center;
    height: 22px;
    margin: 10px 0;
}