<script> window.prerenderReady = false; </script>

<div class="catalog-page page">
    <div class="content" panel>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 center-block">

                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <h4 class="center-block text-uppercase" ng-bind="::translate('Internet magazine')"></h4>
                        <h2 class="center-block">
                            <span class="font-uppercase" style="font-size: 20px;font-weight: bold;word-spacing: -2px">
                                <span style="color:#E67E22">I</span>
                                <span style="color:#FFB606">G</span>
                                <span style="color:#62CB31">R</span>
                                <span style="color:#3498DB">U</span>
                                <span style="color:#9B59B6">H</span>
                                <span style="color:#34495E">I</span>
                            </span>
                        </h2>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-justify" style="padding:0" ng-bind-html="trustAsHtml(translate('AboutText'))"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12" style="padding:0">
                            <img src="images/preview/banners/disney.png" class="m-b about-banner" alt="logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>