<script> window.prerenderReady = false; </script>

<div class="cart-page page">

    <div ng-if="isCartEmpty()" class="content" panel>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h5><span ng-bind-html="::translate('CartEmpty')"></span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="!isCartEmpty()" class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="hpanel">
                    <div class="panel-body p-md">
                        <div ng-repeat="(k, v) in cart" class="cart-row row p-sm" style="padding: 15px 0px !important">
                            <div class="cart col-lg-12">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
                                    <div class="cart-th text-center"><strong>#</strong></div>
                                    <div class="cart-td text-center">{{ $index+1 }}</div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-8 col-xs-11">
                                    <div class="cart-th"><strong ng-bind="::translate('Name')"></strong></div>
                                    <div class="cart-td">
                                        <a ng-href="#/product/{{ ::v.Id }}">{{ v.Name }}</a>
                                    </div>
                                    <button class="btn btn-danger btn-xs" ng-click="removeFromCart(v.Id)"><i class="fa fa-close"></i></button>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 text-center">
                                    <div class="cart-th text-center"><strong ng-bind="::translate('Count')"></strong></div>
                                    <button class="btn btn-grey btn-xs" ng-click="plusCountCart(v)"><i class="fa fa-plus"></i></button>
                                    <div class="cart-td text-center" style="padding:0 2px">{{ v.Count }}</div>
                                    <button class="btn btn-grey btn-xs" ng-click="minusCountCart(v)"><i class="fa fa-minus"></i></button>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 text-center">
                                    <div class="cart-th text-center"><strong ng-bind="::translate('Price')"></strong></div>
                                    <div class="cart-td text-right">{{ beautyAmount(v.ProductPrice.Price) }}&nbsp;&#8372;</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 text-center">
                                    <div class="cart-th text-center"><strong ng-bind="::translate('Cost')"></strong></div>
                                    <div class="cart-td text-right">{{ beautyAmount(v.ProductPrice.Price * v.Count) }}&nbsp;&#8372;</div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-11 table-cart-total">
                                <table class="table text-right">
                                    <tbody>
                                        <tr>
                                            <td><strong style="text-transform:uppercase"><span ng-bind="::translate('Total')"></span>:</strong></td>
                                            <td class="cart-td" style="display:table-cell">{{ beautyAmount(totalCart()) }}&nbsp;&#8372;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button ng-disabled="isCartEmpty() || totalCart() === 0" class="btn btn-primary" style="float:right;margin-right:15px" ng-click="proceedOrder()"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;<span ng-bind="::translate('PlaceOrder')"></span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="m-t">
                                    <strong><span ng-bind="::translate('Important')"></span>:</strong>
                                    <span ng-bind-html="::trustAsHtml(translate('PressOrderYouAgreeWithAgreement'))"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>