<script> window.prerenderReady = false; </script>

<div class="about-page page">
    <div class="content" panel>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div ng-if="model.faqs.length === 0" class="hpanel comment-hpanel">
                        <div class="panel-body comment">
                            <span ng-if="!loadingMore" ng-bind="::translate('NoFAQ')"></span>
                            <span ng-if="loadingMore" ng-bind="::translate('Loading')"></span>
                        </div>
                    </div>
                    <div ng-if="model.faqs.length > 0" class="panel-body faq-panel">
                        <script type="text/ng-template" id="group-template.html">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="color:#555">
                                    <a tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                                        <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                                            {{ heading }}
                                        </span>
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" uib-collapse="!isOpen">
                                <div class="panel-body" style="text-align: right; overflow:hidden;" ng-transclude></div>
                            </div>
                        </script>
                        <uib-accordion close-others="false">
                            <div ng-repeat="f in model.faqs" uib-accordion-group class="orders-accordion custom-padding panel-default" is-open="f.isCustomHeaderOpen" style="position:relative;padding:0">
                                <uib-accordion-heading>
                                    <div style="padding:10px 0 10px 0;font-size:13px">
                                        <span style="color:#3e77aa;border-bottom: 1px dotted #3e77aa !important;text-transform:none">{{ ::f.CName }}</span>
                                    </div>
                                </uib-accordion-heading>
                                <div class="text-left" style="font-size:12px" ng-bind-html="::f.CDesc">
                                </div>
                            </div>
                        </uib-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>