<script> window.prerenderReady = false; </script>

<div class="catalog-page page">
    <div class="m-content">
        <search-panel search-cfg="searchGlobal" apply-search="applySearchFilter" is-small="false" is-collapsed="true"></search-panel>
    </div>
    <div class="content">
        <div class="row products">
            <div ng-if="categories" id="p{{ ::c.Id }}" ng-repeat="c in categories" class="col-lg-3 col-md-4 col-sm-6 col-xs-6" style="vertical-align:top;padding-left:5px;padding-right:5px">
                <a ng-href="{{ ::getCategoryUrl(c) }}" data-category-code="{{ ::c.Code }}" style="min-height:260px">
                    <div animate-index="$index" class="animated-panel hpanel w-150" style="overflow:hidden;border: 2px solid gainsboro;border-radius: 4px">
                        <div class="panel-heading hbuilt" style="padding-top:12px;overflow:hidden;text-overflow:ellipsis;text-transform: uppercase;border:0 none">
                            <h5 class="text-center custom-text">{{ ::c.CName }}</h5>
                        </div>
                        <div class="panel-body panel-border-body text-center" style="padding: 0">
                            <div class="product-image-wrap y" style="overflow:hidden;position:relative;width:100%">
                                <img class="product-item-preview" ng-src="{{ ::getUrl('/api/Catalog/GetPreviewCategoryImage?id=' + c.Id) }}" style="display:inline-block;margin:0 auto">
                            </div>
                        </div>
                        <button class="btn btn-default btn-xs" style="border-color: transparent;padding: 2px 4px;margin: 6px auto">
                            <span class="fa fa-envelope"></span>
                            <span ng-bind="::translate('Subscribe')" style="padding-left: 4px"></span>
                        </button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>