 <div ng-if="!startLoading && products && products.length === 0" class="hpanel comment-hpanel">
    <div class="panel-body comment">
        <span ng-bind="::translate('NoProductsForAppliedFilter')"></span>
    </div>
</div>
<div ng-if="(viewType == 0 || small) && products" id="p{{ ::p.Id }}" ng-class="{'grayscale': !p.Active,'notexists': !p.IsExists}" ng-repeat="p in products" class="col-lg-3 col-md-4 col-sm-6 col-xs-6" style="vertical-align: top; padding-left: 5px; padding-right: 5px">
    <a ui-sref="product({id: p.Id })" data-product-id="{{ p.Id }}" style="min-height: 260px" class="viewtype0">
        <div animate-index="$index" class="animated-panel hpanel w-150" style="border: 2px solid moccasin; border-radius: 4px">
            <div background-color-fun background-color-fun-index="$index" class="panel-heading hbuilt" style="padding: 6px 5px 5px 5px; overflow: hidden; text-overflow: ellipsis; text-transform: uppercase;border:0 none">
                <h5 class="text-center custom-text">{{ p.Name }}</h5>
                <div style="font-size:10px;text-align:left;margin-top:2px">
                    <span style="color:#999">{{ p.Rate || 0 }}</span>&nbsp;<i class="fa fa-star star-filled"></i><span style="color:#999">&nbsp;/&nbsp;{{ p.RateCount }}</span>&nbsp;<span class="fa fa-user" style="color:mediumaquamarine"></span>
                </div>
            </div>
            <div class="panel-body panel-border-body product-image-body text-center h-180" style="padding: 0">
                <div class="product-image-wrap">
                    <img ng-if="p.Brand" class="product-brand-small" ng-src="{{ getUrl('/api/Catalog/GetPreviewBrandImage?id=' + p.Brand.Id) }}">
                    <img class="product-item-preview x" ng-src="{{ getUrl('/api/Catalog/GetPreviewImage?id=' + p.Id) }}">
                </div>
                <div ng-show="loggedIn" class="star-wrap" ng-click="preventDefault($event)">
                    <span ng-repeat="s in [1,2,3,4,5]">
                        <i class="fa fa-star" ng-class="{'star-filled': s <= clickedStar(p) }" ng-click="clickStar(p, s, $event)"></i>
                    </span>
                </div>
            </div>
            <div class="panel-footer" style="position: relative; text-align: left;border:0 none">
                <h5 class="price">{{ p.ProductPrice.Price }}&nbsp;&#8372;</h5>
                <div ng-if="p.Active && p.IsExists" ng-click="goToCart(p, $event)" ng-class="{'btn-in-cart': inCart(p), 'btn-default': !inCart(p)}" class="btn pull-right btn-cart"><i class="mt-2 pe-7s-cart font-16"></i></div>
            </div>
        </div>
    </a>
</div>
<div ng-if="(viewType == 1 && !small) && products" id="p{{ ::p.Id }}" ng-class="{'grayscale': !p.Active,'notexists': !p.IsExists}" ng-repeat="p in products" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="vertical-align: top; padding-left: 5px; padding-right: 5px">
    <a ng-href="#/product/{{ ::p.Id }}" data-product-id="{{ ::p.Id }}" style="min-height: 260px" class="viewtype1">
        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6" style="padding-right:1px;padding-left:0">
            <div animate-index="$index" class="animated-panel hpanel w-150" style="border: 2px solid rgb(250, 225, 163)">
                <div background-color-fun background-color-fun-index="$index" class="panel-heading hbuilt" style="padding: 6px 5px 5px 5px; overflow: hidden; text-overflow: ellipsis; text-transform: uppercase;border-radius: 0 !important">
                    <h5 class="text-center">{{ p.Name }}</h5>
                    <div style="font-size:10px;text-align:left;margin-top:4px">
                        <span style="color:#999">{{ p.Rate || 0 }}</span>&nbsp;<i class="fa fa-star star-filled"></i><span style="color:#999">&nbsp;/&nbsp;{{ p.RateCount }}</span>&nbsp;<span class="fa fa-user" style="color:mediumaquamarine"></span>
                    </div>
                </div>
                <div class="panel-body product-image-body text-center h-180" style="padding: 0">
                    <div class="product-image-wrap">
                        <img ng-if="p.Brand" class="product-brand-small" ng-src="{{ getUrl('/api/Catalog/GetPreviewBrandImage?id=' + p.Brand.Id) }}">
                        <img class="product-item-preview x" ng-src="{{ getUrl('/api/Catalog/GetPreviewImage?id=' + p.Id) }}">
                    </div>
                    <div ng-show="loggedIn" class="star-wrap" ng-click="preventDefault($event)">
                        <span ng-repeat="s in [1,2,3,4,5]">
                            <i class="fa fa-star" ng-class="{'star-filled': s <= clickedStar(p) }" ng-click="clickStar(p, s, $event)"></i>
                        </span>
                    </div>
                </div>
                <div class="panel-footer" style="position: relative; text-align: left">
                    <h5 class="price">{{ p.ProductPrice.Price }}&nbsp;&#8372;</h5>
                    <div ng-if="p.Active && p.IsExists" ng-click="goToCart(p, $event)" ng-class="{'btn-in-cart': inCart(p), 'btn-default': !inCart(p)}" class="btn pull-right btn-cart"><i class="mt-2 pe-7s-cart font-16"></i></div>
                </div>
            </div>
        </div>
    </a>
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 tab-panel-view">
        <uib-tabset>
            <uib-tab>
                <uib-tab-heading>
                    <span class="tab-title hide-if-needed"><span ng-bind="::translate('Description')"></span></span>
                </uib-tab-heading>
                <div class="panel-body" style="padding-bottom: 10px;padding-top: 5px;padding-left: 0px; padding-right: 0">
                    <div class="vtd panel-body panel-html-content" ng-bind-html="trustAsHtml(p.Description)">
                    </div>
                    <div class="vtd-bottom">
                    </div>
                </div>
            </uib-tab>
            <uib-tab>
                <uib-tab-heading>
                    <span class="tab-title hide-if-needed"><span ng-bind="::translate('Params')"></span></span>
                </uib-tab-heading>
                <div class="panel-body" style="min-height: 213px">
                    <table class="table table-params">
                        <tr ng-repeat="pr in ::p.params">
                            <td class="td1">
                                <div><b> {{ ::pr.name }} </b></div>
                            </td>
                            <td class="td2">
                                <div>
                                    <span>{{ ::pr.value }}</span>
                                    <img ng-if="pr.image" ng-src="{{ ::pr.image }}" style="margin-left:5px; height: 20px; vertical-align: middle">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>