<h5 ng-bind="::translate('OnlyRegisteredUsersCanAddComments')" class="ng-binding"></h5>
<br>
<div class="row" style="padding-left: 10px;padding-right: 10px">
    <div ng-class="{'col-lg-12' : !loggedIn, 'col-md-12' : !loggedIn, 'col-lg-9' : loggedIn, 'col-md-8' : loggedIn}" class="col-sm-12 col-xs-12" style="padding-left: 5px;padding-right: 5px">

        <div ng-if="comments.length === 0" class="hpanel comment-hpanel">
            <div class="panel-body comment">
                <span ng-if="!loadingMore" ng-bind="::translate('NoComments')"></span>
                <span ng-if="loadingMore" ng-bind="::translate('Loading')"></span>
            </div>
        </div>

        <div class="hpanel comment-hpanel" ng-repeat="c in comments" style="margin-bottom: 5px">
            <div class="panel-body comment">
                <button ng-if="admin" class="btn btn-danger btn-xs" ng-click="removeComment(c)">
                    <i class="fa fa-close"></i>
                </button>
                <div ng-if="c.Product && $state.current.name != 'product'" class="product" ng-class="{'small-comment': small}">
                    <img ng-src="{{ ::getUrl('/api/Catalog/GetPreviewImage?id=' + c.Product.Id) }}" alt="{{ ::c.Product.Name }}">
                    <a class="product-link" ng-href="#/product/{{ ::c.Product.Id }}" data-product-id="{{ ::c.Product.Id }}">
                        <span> {{ c.Product.Name }}</span>
                    </a>
                </div>
                <div class="comment-header" ng-class="{'small-comment': c.Product && small && $state.current.name != 'product'}">
                    <div class="user-image pull-left">
                        <img ng-src="{{ ::getProfileImage(c.User) }}" alt="profile-picture" style="display: inline-block">
                        <div class="comment-user-fullname">
                            <div><span style="color: #333">{{ ::c.User.Fullname }}</span></div>
                            <div class="added-comment-text">{{ ::formatDate(c.PopulationDate, true) }} </div>
                        </div>
                    </div>
                    <div class="right-comment-side pull-right">

                    </div>
                </div>
                <div class="comment-body">
                    <span class="" ng-bind="::c.Text"></span>
                </div>
                <div ng-show="c.showSubComments && c.SubComments && c.SubComments.length" class="subcomments">
                     <table ng-repeat="sc in c.SubComments" style="width: 100%;margin-top: 6px;margin-left:0">
                        <tr>
                            <td style="width:24px">
                                <img ng-src="{{ ::getProfileImage(sc.User) }}" alt="profile-picture">
                            </td>
                            <td style="width: 100%;font-size: 12px;color: #888;padding-right: 18px">
                                <span style="color:#555">{{ ::sc.Text }}</span>
                                <div>
                                    <span class="added-comment-text">{{ ::formatDate(sc.PopulationDate, true) }}</span>
                                </div>
                            </td>
                            <td style="position:relative">
                                <button ng-if="loggedIn && admin" class="btn btn-danger btn-xs" ng-click="removeComment(c, sc, true)">
                                    <i class="fa fa-close"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div ng-show="!c.showSubComments && c.SubComments && c.SubComments.length > 0" class="reply" style="display:inline-block">
                    <button ng-click="c.showSubComments = !c.showSubComments" class="btn btn-link btn-xs" style="border: 1px solid #ddd;text-decoration: none !important; outline: none !important"><span class="fa fa-comments-o"></span>&nbsp;&nbsp;<span ng-bind="::translate('ShowSubComments')"></span><span>&nbsp;({{ c.SubComments.length }})</span></button>
                </div>
                <div ng-if="loggedIn" class="reply" style="display:inline-block">
                    <button ng-init="c.readyToComment=false" ng-click="c.readyToComment = !c.readyToComment" class="btn btn-link btn-xs" style="border: 1px solid #ddd;text-decoration: none !important; outline: none !important"><span class="fa fa-reply"></span>&nbsp;&nbsp;<span ng-bind="::translate('Reply')"></span></button>
                </div>
                <div ng-if="loggedIn && c.readyToComment">
                    <table style="width:100%;margin-top: 10px">
                        <tr>
                            <td style="width:24px;vertical-align:middle">
                                <img ng-src="{{ ::getProfileImage(auth) }}" style="width:24px;height:24px;margin-right:10px;border-radius:50%" alt="">
                            </td>
                            <td style="width:100%">
                                <input ng-if="c.readyToComment" autofocus="1" ng-init="c.subComment=''" ng-disabled="addingComment" class="form-control" placeholder="{{ ::translate('AddComment') }}" style="width: 100%;height: 28px;font-size: 12px;padding: 6px 6px" ng-model="c.subComment" ng-keydown="addSubComment(c, $event)">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
        <button ng-if="comments.length > 0 && showMoreComments" ng-disabled="loadingMore" ng-click="loadMoreComments(($state.current.name == 'product' ? productId : '') )" class="btn btn-default col-xs-12" ng-bind="::translate('LoadMore')" style="margin-bottom:15px;background-color:powderblue"></button>

    </div>
    <div ng-if="loggedIn" class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="margin-bottom:15px;padding-left: 5px;padding-right: 5px">
        <div class="hpanel mb-0 forum-box">
            <div class="panel-body comment">
                <div class="form-group">
                    <label class="control-label ng-binding" ng-bind="::translate('Text')"></label><strong>*</strong>
                    <textarea ng-disabled="addingComment" ng-readonly="addingComment" class="form-control" ng-model="comment.text" rows="5" style="font-size:13px;min-height:50px" required></textarea>
                    <label ng-hide="comment.text" class="validation-error" ng-bind="::translate('Required')"></label>
                </div>
                <button ng-show="loggedIn" class="btn btn-info" ng-bind="::translate('AddComment')" ng-click="addComment()" ng-disabled="(!comment.text || addingComment)" style="width:100%"></button>
            </div>
        </div>
    </div>
</div>