<script> window.prerenderReady = false; </script>

<div class="order-page page">

    <div ng-if="isCartEmpty()" class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h5><span ng-bind-html="::translate('CartEmpty')"></span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="!isCartEmpty()" class="content" style="display:inline-block">

        <div ng-if="!loggedIn" class="col-lg-12 col-md-12 col-sm-12">
            <div class="alert alert-warning">
                <i class="fa fa-bolt"></i> <span ng-bind="::translate('YouAreNotLoggedIn')"></span>
            </div>
        </div>

        <div class="hpanel">
            <div class="panel-body" style="padding:15px 5px">

                <div class="col-lg-6 col-md-5 col-sm-12" style="margin-bottom:20px">
                    <fieldset>
                        <legend ng-bind="::translate('FillFormFields')"></legend>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                <label class="control-label" ng-bind="::translate('DeliveryMethod')"></label><strong class="validation-error">*</strong>
                                <div style="position:relative;height:34px">
                                    <ui-select ng-model="deliveryMethod.selected" theme="bootstrap" style="position:absolute;left:0;top:0;width:100%">
                                        <ui-select-match placeholder="{{ ::translate('StartTypeToSearch') }}">{{ $select.selected.Name }}</ui-select-match>
                                        <ui-select-choices repeat="deliveryMethod in deliveryMethods | propsFilter: {Name: $select.search} | limitTo: 25" refresh-delay="200">
                                            <div ng-bind-html="deliveryMethod.Name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div ng-if="isNP(deliveryMethod)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                <label class="control-label" ng-bind="::translate('Area')"></label>
                                <div style="position:relative;height:34px">
                                    <ui-select ng-disabled="!areas.length" on-select="onSelectNPArea($item, $model)" ng-model="area.selected" theme="bootstrap" style="position:absolute;left:0;top:0;width:100%">
                                        <ui-select-match placeholder="{{ ::translate('StartTypeToSearch') }}">{{ $select.selected.Description }}</ui-select-match>
                                        <ui-select-choices repeat="area in areas | propsFilter: {Description: $select.search}" refresh-delay="250">
                                            <div ng-bind-html="area.Description | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>


                            <div ng-if="isNP(deliveryMethod)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                <label class="control-label" ng-bind="::translate('City')"></label><strong class="validation-error">*</strong>
                                <div style="position:relative;height:34px">
                                    <ui-select ng-if="langId === 0" ng-disabled="!cities.length" on-select="onSelectNPCity($item, $model)" ng-model="city.selected" theme="bootstrap" style="position:absolute;left:0;top:0;width:100%">
                                        <ui-select-match placeholder="{{ ::translate('StartTypeToSearch') }}">{{ $select.selected.DescriptionRu }}</ui-select-match>
                                        <ui-select-choices repeat="city in cities | propsFilter: {DescriptionRu: $select.search} | limitTo: 50" refresh-delay="200">
                                            <div ng-bind-html="city.DescriptionRu | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ui-select ng-if="langId === 1" ng-disabled="!cities.length" on-select="onSelectNPCity($item, $model)" ng-model="city.selected" theme="bootstrap" style="position:absolute;left:0;top:0;width:100%">
                                        <ui-select-match placeholder="{{ ::translate('StartTypeToSearch') }}">{{ $select.selected.Description }}</ui-select-match>
                                        <ui-select-choices repeat="city in cities | propsFilter: {Description: $select.search} | limitTo: 50" refresh-delay="200">
                                            <div ng-bind-html="city.Description | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div ng-if="isNP(deliveryMethod)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                <label class="control-label" ng-bind="::translate('Warehouse')"></label><strong class="validation-error">*</strong>
                                <div style="position:relative;height:34px">
                                    <ui-select ng-if="langId === 0" ng-disabled="!warehouses.length" ng-model="warehouse.selected" theme="bootstrap" style="position:absolute;left:0;top:0;width:100%">
                                        <ui-select-match placeholder="{{ ::translate('StartTypeToSearch') }}">{{ $select.selected.DescriptionRu }}</ui-select-match>
                                        <ui-select-choices repeat="warehouse in warehouses | propsFilter: {DescriptionRu: $select.search}" refresh-delay="200">
                                            <div ng-bind-html="warehouse.DescriptionRu | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ui-select ng-if="langId === 1" ng-disabled="!warehouses.length" ng-model="warehouse.selected" theme="bootstrap" style="position:absolute;left:0;top:0;width:100%">
                                        <ui-select-match placeholder="{{ ::translate('StartTypeToSearch') }}">{{ $select.selected.Description }}</ui-select-match>
                                        <ui-select-choices repeat="warehouse in warehouses | propsFilter: {Description: $select.search}" refresh-delay="200">
                                            <div ng-bind-html="warehouse.Description | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div ng-if="!isNP(deliveryMethod)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label ng-binding" ng-bind="::translate('Address')"></label>
                                    <div ng-bind-html="::trustAsHtml(translate('PickupAddressText'))">
                                    </div>
                                </div>
                            </div>

                            <div ng-if="::(!loggedIn || !emailValid())" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label ng-binding" ng-bind="::translate('Email')"></label><strong class="validation-error">*</strong>
                                    <input type="text" class="form-control" ng-model="model.email" required>
                                    <label ng-if="!emailValid()" class="validation-error" ng-bind="::translate('EmailInvalid')"></label>
                                </div>
                            </div>

                            <div ng-if="!loggedIn" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label ng-binding" ng-bind="::translate('YourName')"></label><strong class="validation-error">*</strong>
                                    <input type="text" class="form-control" ng-model="model.fullName" required>
                                    <label ng-if="!model.fullName" class="validation-error" ng-bind="::translate('Required')"></label>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label ng-binding" ng-bind="::translate('Phone')"></label><strong class="validation-error">*</strong>
                                    <input type="text" class="form-control" ng-model="model.phone" required input-mask e-mask="mask">
                                    <label ng-if="!phoneValid()" class="validation-error" ng-bind="::translate('Required')"></label>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label ng-binding" ng-bind="::translate('AdditionalInfo')"></label>
                                    <textarea class="form-control" ng-model="model.addinfo" rows="2"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span style="font-size:12px">* - <span ng-bind="::translate('RequiredFields')"></span></span>
                                <div>&nbsp;</div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a class="btn btn-default" ui-sref="cart"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;<span ng-bind="::translate('Back')"></span></a>
                                <button class="btn btn-primary" ng-disabled="!canOrder()" ng-click="order()"><i class="fa fa-thumbs-o-up"></i>&nbsp;&nbsp;<span ng-bind="::translate('Order')"></span></button>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-12">
                    <fieldset>
                        <legend ng-bind="::translate('YourOrder')"></legend>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="hpanel hgrey order-it">
                                    <div class="panel-body" style="padding:0;border:0 none">
                                        <div ng-repeat="(k, v) in cart" class="cart-row row p-sm" style="padding: 10px 10px 0 10px !important">
                                            <div class="cart col-lg-12">
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
                                                    <div class="cart-th text-center"><strong>#</strong></div>
                                                    <div class="cart-td text-center">{{ $index+1 }}</div>
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-sm-11 col-xs-11">
                                                    <div class="cart-th"><strong ng-bind="::translate('Name')"></strong></div>
                                                    <div class="cart-td">
                                                        <div class="cart-td text-left">{{ v.Name }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-center">
                                                    <div class="cart-th text-center"><strong ng-bind="::translate('Count')"></strong></div>
                                                    <div class="cart-td text-center">{{ v.Count }}</div>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-center">
                                                    <div class="cart-th text-center"><strong ng-bind="::translate('Price')"></strong></div>
                                                    <div class="cart-td text-right">{{ beautyAmount(v.ProductPrice.Price) }}&nbsp;&#8372;</div>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-center">
                                                    <div class="cart-th text-center"><strong ng-bind="::translate('Cost')"></strong></div>
                                                    <div class="cart-td text-right">{{ beautyAmount(v.ProductPrice.Price * v.Count) }}&nbsp;&#8372;</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-t">
                                            <div class="col-md-6 table-cart-total">
                                                <table class="table text-right m-b-none">
                                                    <tbody>
                                                        <tr>
                                                            <td><strong style="text-transform:uppercase"><span ng-bind="::translate('Total')"></span>:</strong></td>
                                                            <td class="cart-td" style="display:table-cell">{{ beautyAmount(totalCart()) }}&nbsp;&#8372;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>

</div>