<script> window.prerenderReady = false; </script>

<div class="login-container">
    <div class="row" style="margin-bottom:20px">
        <div class="col-md-12">
            <div ng-if="loginMsg" class="form-summary-msg alert alert-success">
                <span ng-bind-html="loginMsg"></span>
            </div>
            <div ng-if="errorMsg" class="form-summary-msg alert alert-danger">
                <span ng-bind-html="errorMsg"></span>
            </div>
            <div class="text-center m-b-md">
                <h3 ng-bind="::translate('RecoveryPassword')"></h3>
                <small ng-bind="::translate('FillFormBelow')"></small>
            </div>
            <div class="hpanel">
                <div class="panel-body" style="padding:10px">
                    <p ng-bind="::translate('EnterEmailForResetPassword')"></p>
                    <form id="loginForm">
                        <div class="form-group">
                            <label class="control-label" for="username" ng-bind="::translate('Email')"></label>
                            <input type="text" value="" ng-class="{'validation-error': validation.email}" id="email" autofocus ng-model="email" placeholder="" class="form-control" name="email">
                            <label ng-if="validation.email" class="validation-error" ng-bind-html="validation.email"></label>
                        </div>
                    </form>
                    <button class="btn btn-warning btn-block" ng-click="recovery()" ng-bind="::translate('RecoveryPassword')"></button>
                    <hr>
                    <div class="login-social-btn"><span calc-left-margin ng-bind="::translate('OrUse')"></span></div>
                    <a class="btn btn-default btn-block" ui-sref="login" ng-bind="::translate('Login')"></a>
                    <a class="btn btn-default btn-block" ui-sref="register" ng-bind="::translate('Register')"></a>
                </div>
            </div>
        </div>
    </div>
</div>
