<script> window.prerenderReady = false; </script>

<div class="product-page page">

    <div class="content" panel>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel" style="margin-bottom:10px">
                    <div class="panel-heading hbuilt">
                        <h5 class="price"><span ng-bind="::translate('Price')"></span>:&nbsp;&nbsp;<strong class="text-success">{{ product.ProductPrice.Price }}</strong>&nbsp;&#8372;</h5>
                        <div class="btn-group pull-right">
                            <span>
                                <span ng-show="product.Active && product.IsExists" class="btn btn-sm to-cart" ng-class="{'btn-success': inCart(product), 'btn-default': !inCart(product)}" ng-click="goToCart(product, $event)">
                                    <span class="pe-7s-cart font-14" style="vertical-align: middle;margin-bottom: 1px"></span>
                                    &nbsp;&nbsp;
                                    <span class="standart-font" ng-bind="::translate('InCart')"></span>
                                </span>
                            </span>
                        </div>
                    </div>
                    
                    <div ng-show="product.Active === false" class="text-center">
                        <h4><span ng-bind="::translate('ProductNotActive')"></span></h4>
                    </div>
                    <div ng-show="product.Active === true && product.IsExists === false" class="text-center">
                        <h4><span ng-bind="::translate('ProductNotExists')"></span></h4>
                    </div>
                    <div class="panel-body h-300" style="padding: 10px 0px 15px 0px">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" id="preview">
                            <div class="swipebox-wrapper" style="position:relative;height:auto">
                                <img ng-if="product.Brand" class="product-brand-small" ng-src="{{ getUrl('/api/Catalog/GetPreviewBrandImage?id=' + product.Brand.Id) }}" ng-click="startGallery()">
                                <div class="text-left" style="display:inline-block">
                                    <div class="btn-group gallery-start">
                                        <span>
                                            <i class="fa fa-search-plus btn btn-default btn-xs">
                                                &nbsp;&nbsp;
                                                <span class="standart-font" ng-bind="::translate('PressForPreview')"></span>
                                            </i>
                                        </span>
                                    </div>
                                </div>
                                <div ng-show="loggedIn" class="star-wrap" ng-click="preventDefault($event)" style="display: inline-block; position: inherit; top: inherit;right: inherit; vertical-align: text-top; padding-right:20px">
                                    <span ng-repeat="s in [1,2,3,4,5]">
                                        <i class="fa fa-star" ng-class="{'star-filled': s <= clickedStar(product) }" ng-click="clickStar(product, s, $event)"></i>
                                    </span>
                                </div>
                                <div style="font-size: 10px;display: inline-block;padding-top: 7px">
                                    <span style="color:#999">{{ product.Rate || 0 }}</span>&nbsp;<i class="fa fa-star star-filled"></i><span style="color:#999">&nbsp;/&nbsp;{{ product.RateCount }}</span>&nbsp;<span class="fa fa-user" style="color:mediumaquamarine"></span>
                                </div>
                                <div id="gallery" ng-class="{'grayscale': !product.Active, 'notexists': !product.IsExists}" class="swipebox-gallery">
                                    <a ng-if="!image.IsPreview" ng-repeat="image in product.Images" class="fancybox-button place-img swipebox fancybox" data-fancybox-group="gallery" rel="fancybox-button" ng-href="{{ getUrl('/api/Catalog/GetProductImage?id=' + product.Id +'&imageId='+ image.Id) }}.jpg" title="{{ imageTitle($index, product) }}">
                                        <img ng-src="{{ getUrl('/api/Catalog/GetProductImage?id=' + product.Id +'&imageId='+ image.Id) }}" alt="{{ imageTitle($index, product) }}" style="opacity:0">
                                    </a>
                                    <div class="ct-img">
                                        <div class="ct-img-val"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="text-left" style="margin-bottom: 33px">
                            </div>
                            <div id="mirror" style="margin-bottom: 20px"></div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left" id="buffer" style="height: 20px">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left" ng-class="{'admin-page': (small || medium)}">
                            <uib-tabset>
                                <uib-tab select="tabSelected()">
                                    <uib-tab-heading>
                                        <em class="fa fa-info"></em><span class="tab-title hide-if-needed"><span>&nbsp;&nbsp;</span><span ng-bind="::translate('Description')"></span></span>
                                    </uib-tab-heading>
                                    <div class="panel-body panel-html-content min-height100" ng-bind-html="trustAsHtml(product.Description)">
                                    </div>
                                </uib-tab>
                                <uib-tab select="tabSelected()">
                                    <uib-tab-heading>
                                        <em class="fa fa-book"></em><span class="tab-title hide-if-needed"><span>&nbsp;&nbsp;</span><span ng-bind="::translate('Params')"></span></span>
                                    </uib-tab-heading>
                                    <div class="panel-body panel-html-content min-height100">
                                        <table class="table table-params">
                                            <tr ng-repeat="pr in ::product.params">
                                                <td class="td1">
                                                    <div><b> {{ ::pr.name }} </b></div>
                                                </td>
                                                <td class="td2">
                                                    <div>
                                                        <span>{{ ::pr.value }}</span>
                                                        <img ng-if="pr.image" ng-src="{{ ::pr.image }}" style="margin-left:5px; height: 20px; vertical-align: middle">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </uib-tab>
                                <uib-tab select="tabSelected()">
                                    <uib-tab-heading>
                                        <em class="fa fa-ship"></em><span class="tab-title hide-if-needed"><span>&nbsp;&nbsp;</span><span ng-bind="::translate('Delivery')"></span></span>
                                    </uib-tab-heading>
                                    <div class="panel-body panel-html-content min-height100" ng-bind-html="trustAsHtml(translate('DeliveryText'))">
                                    </div>
                                </uib-tab>
                                <!--<uib-tab>
                                    <uib-tab-heading>
                                        <em class="fa fa-play-circle-o"></em><span class="tab-title hide-if-needed">&nbsp;&nbsp;<span ng-bind="::translate('Video')"></span></span>
                                    </uib-tab-heading>
                                    <div class="panel-body">
                                        <strong>Donec quam felis</strong>
                                        <p>
                                            Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                                            and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                                        </p>
                                        <p>
                                            <iframe src="https://www.youtube.com/embed/hy1ZfVknC1c" allowfullscreen class="main-banner" frameborder="0" scrolling="no"></iframe>
                                        </p>
                                    </div>
                                </uib-tab>-->
                                <uib-tab select="tabSelected()">
                                    <uib-tab-heading>
                                        <em class="fa fa-comments-o"></em>
                                        <span class="tab-title hide-if-needed">
                                            <span>&nbsp;&nbsp;</span>
                                            <span ng-bind="::translate('Feedback')"></span>&nbsp;<span style="color:gray">({{ comments.length + (((comments.length % 4) == 0 && comments.length > 0) ? '+' : '') }})</span>
                                        </span>
                                    </uib-tab-heading>
                                    <div class="panel-body min-height100">
                                        <div ng-include="'/views/store/inner-comments.html'"></div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>

                        <div ng-if="product.Recents && product.Recents.length > 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                            <div style="margin-top:10px">
                                <b><span ng-bind="::translate('RecentProducts')"></span>:</b>
                            </div>
                             <div recent items="product.Recents"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>