<script> window.prerenderReady = false; </script>

<div class="login-container">
    <div class="row" style="margin-bottom:20px">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3 ng-bind="::translate('RecoveryPassword')"></h3>
                <small ng-bind="::translate('FillFormBelow')"></small>
            </div>
            <div class="hpanel">
                <div class="panel-body" style="padding:10px">
                    <p ng-bind="::translate('EnterNewPassword')"></p>
                    <form id="loginForm">
                        <div class="form-group col-lg-12">
                            <label ng-bind="::translate('Password')"></label>
                            <input type="password" value="" ng-class="{'validation-error': validation.password}" id="password" ng-model="pwd" class="form-control" name="password">
                            <label ng-if="validation.password" class="validation-error" ng-bind-html="validation.password"></label>
                        </div>
                        <div class="form-group col-lg-12">
                            <label ng-bind="::translate('PasswordAgain')"></label>
                            <input type="password" value="" ng-class="{'validation-error': validation.confirmpassword}" id="password2" ng-model="pwd2" class="form-control" name="password2">
                            <label ng-if="validation.confirmpassword" class="validation-error" ng-bind-html="validation.confirmpassword"></label>
                        </div>
                    </form>
                    <button class="btn btn-warning btn-block" ng-disabled="checkRecovery()" ng-click="resetPassword()" ng-bind="::translate('ResetPassword')"></button>
                    <hr>
                    <div class="login-social-btn"><span calc-left-margin ng-bind="::translate('OrUse')"></span></div>
                    <a class="btn btn-default btn-block" ui-sref="login" ng-bind="::translate('Login')"></a>
                    <a class="btn btn-default btn-block" ui-sref="register" ng-bind="::translate('Register')"></a>
                </div>
            </div>
        </div>
    </div>
</div>