<script> window.prerenderReady = false; </script>

<div class="login-container">
    <div class="row" style="margin-bottom:20px">
        <div class="col-md-12">
            <div ng-if="loginMsg" class="form-summary-msg alert alert-success">
                <span ng-bind-html="loginMsg"></span>
            </div>
            <div ng-if="errorMsg" class="form-summary-msg alert alert-danger">
                <span ng-bind-html="errorMsg"></span>
            </div>
            <div class="text-center m-b-md">
                <h3 ng-bind="::translate('Register')"></h3>
                <small ng-bind="::translate('FillFormBelow')"></small>
            </div>
            <div class="hpanel">
                <div class="panel-body" style="padding:10px">
                    <form id="loginForm">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label ng-bind="::translate('Email')"></label>
                                <input type="text" value="" ng-class="{'validation-error': validation.email}" id="email" autofocus ng-model="email" placeholder="" class="form-control" name="email">
                                <label ng-if="validation.email" class="validation-error" ng-bind-html="validation.email"></label>
                            </div>
                            <div class="form-group col-lg-12">
                                <label ng-bind="::translate('Password')"></label>
                                <input type="password" value="" ng-class="{'validation-error': validation.password}" id="password" ng-model="pwd" class="form-control" name="password">
                                <label ng-if="validation.password" class="validation-error" ng-bind-html="validation.password"></label>
                            </div>
                            <div class="form-group col-lg-12">
                                <label ng-bind="::translate('PasswordAgain')"></label>
                                <input type="password" value="" ng-class="{'validation-error': validation.confirmpassword}" id="password2" ng-model="pwd2" class="form-control" name="password2">
                                <label ng-if="validation.confirmpassword" class="validation-error" ng-bind-html="validation.confirmpassword"></label>
                            </div>
                        </div>
                    </form>
                    <div class="text-center">
                        <button class="btn btn-info btn-block" ng-click="register()" ng-bind="::translate('Register')"></button>
                        <hr>
                        <div class="login-social-btn"><span calc-left-margin ng-bind="::translate('OrUse')"></span></div>
                        <a class="btn btn-default btn-block" ui-sref="login" ng-bind="::translate('Login')"></a>
                        <a class="btn btn-default btn-block" ui-sref="password_recovery" ng-bind="::translate('RecoveryPassword')"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>