<script> window.prerenderReady = false; </script>

<div class="catalog-page page">
    <div class="content" panel>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="hpanel hgreen">
                    <div class="panel-body" style="font-size:12px">
                        <div ng-bind-html="::trustAsHtml(translate('TermsText'))"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>