﻿<div class="recent-outer">
    <div ng-class="{'inactive': hideLeft}" ng-disabled="scrolling || hideLeft" class="btn-go btn-left" ng-click="go('left', $event)">
        <span class="fa fa-arrow-left"></span>
    </div>
    <div ng-show="show" class="recent-wrapper">
        <div class="recent-item" id="{{ ::'item'+$index}}" ng-repeat="item in items">
            <a ng-href="#/product/{{ ::item.ProductId }}" data-product-id="{{ p.ProductId }}">
                <table style="height:180px;width:100%;">
                   <tr>
                        <td style="vertical-align: middle;text-align: center;height: 20px;border-bottom: 2px dotted #ddd;position: relative;">
                            <span style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: inline-block;max-width: 150px;line-height: normal;vertical-align: middle;color:#34495e">{{ ::item.ProductName }}</span>
                            <div style="font-size: 10px;display: inline-block;position: absolute;top: 24px;right: 5px;">
                                <span style="color:#999">{{ item.Rate || 0 }}</span>&nbsp;<i class="fa fa-star star-filled"></i><span style="color:#999">&nbsp;/&nbsp;{{ item.RateCount }}</span>&nbsp;<span class="fa fa-user" style="color:mediumaquamarine"></span>
                            </div>
                        </td>
                   </tr>
                   <tr>
                        <td style="vertical-align: middle;text-align: center;height: 138px;width: 100%;">
                            <img style="max-height:100%;max-width:100%;" class="" ng-src="{{ ::getUrl('/api/Catalog/GetPreviewImage?id=' + item.ProductId) }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle;text-align:center;height:22px;border-top:2px dotted #ddd;">
                            <span class="price">
                                <span ng-bind="::translate('Price')"></span>:
                                <strong class="text-success">{{ ::item.ProductPrice.Price }}</strong>
                                &nbsp;₴
                            </span>
                        </td>
                   </tr>
                </table>
            </a>
        </div>
    </div>
    <div ng-class="{'inactive': hideRight}" ng-disabled="scrolling || hideRight" class="btn-go btn-right" ng-click="go('right', $event)">
        <span class="fa fa-arrow-right"></span>
    </div>
</div>