﻿<div class="color-line">
</div>
<div id="logo" class="light-version">
    <div style="position:relative;">
        <label style="position:absolute;left:-64px;top:-2px;font-size:11px;" ng-bind="translate('Telephones')"></label>
        <h6 class="m-b-xs" style="font-family:Tahoma;font-size:10px;" ng-bind-html="trustAsHtml(translate('Tel1'))"></h6>
        <h6 class="m-b-xs" style="font-family:Tahoma;font-size:10px;" ng-bind-html="trustAsHtml(translate('Tel2'))"></h6>
        <h6 class="m-b-xs" style="font-family:Tahoma;font-size:10px;" ng-bind-html="trustAsHtml(translate('Tel3'))"></h6>
    </div>
</div>
<nav role="navigation" ng-class="{'search-active': searchGlobal.text}">
    <minimaliza-menu></minimaliza-menu>
    <div ng-if="!searchGlobal.text || ($state.current.name == 'search' || $state.current.name == 'index')" class="small-logo" style="padding-top:14px;">
        <img ui-sref="index" src="../../images/logo-xs.png" alt="Logo" style="vertical-align: middle;margin-left: 5px;display: inline-block;" />
        <span style="vertical-align: middle; margin-left: 5px;">
            <span class="font-uppercase" style="font-size: 20px;font-weight: bold;word-spacing: -2px;vertical-align:middle">
                <span style="color:#E67E22">I</span>
                <span style="color:#FFB606">G</span>
                <span style="color:#62CB31">R</span>
                <span style="color:#3498DB">U</span>
                <span style="color:#9B59B6">H</span>
                <span style="color:#34495E">I</span>
            </span>
        </span>
    </div>
    <button ng-if="searchGlobal.text && ($state.current.name != 'search' && $state.current.name != 'index')" ng-click="applySearchFilter()" type="button" class="search-button navbar-toggle mobile-menu-toggle">
        <i class="fa fa-search"></i>
    </button>
    <div ng-if="($state.current.name != 'search' && $state.current.name != 'index')" role="search" class="navbar-form-custom" method="post" action="#">
        <div class="form-group">
            <input type="text" ng-model="searchGlobal.text" placeholder="{{ translate('Search') }}" ng-keypress="keyPress($event)" class="form-control" name="search">
        </div>
    </div>
    <button ng-if="searchGlobal.text && ($state.current.name != 'search' && $state.current.name != 'index')" ng-click="searchGlobal.text = ''" type="button" class="search-clear-button navbar-toggle mobile-menu-toggle" ng-click="clearSearch()">
        <i class="fa fa-close"></i>
    </button>
    <div class="mobile-menu">
        <button ng-if="!searchGlobal.text || ($state.current.name == 'search' || $state.current.name == 'index')" type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="collapse mobile-navbar" id="mobile-collapse">
            <ul class="nav navbar-nav">
                <li ng-if="!loggedIn && $state.current.name != 'login'">
                    <a ui-sref="login">
                        <span class="pe-7s-user" style="font-size: 20px; vertical-align: middle; margin-right: 10px;"></span>&nbsp;
                        <span ng-bind="translate('Login')" style="vertical-align:middle;"></span>
                    </a>
                </li>
                <li ng-if="!loggedIn && $state.current.name != 'register'">
                    <a ui-sref="register">
                        <span class="pe-7s-add-user" style="font-size: 20px; vertical-align: middle; margin-right: 10px;"></span>&nbsp;
                        <span ng-bind="translate('Register')" style="vertical-align:middle;"></span>
                    </a>
                </li>
                <li ng-if="$state.current.name != 'cart'">
                    <a ui-sref="cart">
                        <span class="pe-7s-cart" style="font-size: 20px; vertical-align: middle; margin-right: 10px;"></span>&nbsp;
                        <span ng-bind="translate('Cart')" style="vertical-align:middle"></span>
                    </a>
                </li>
                <li ng-if="loggedIn && $state.current.name != 'cabinet'">
                    <a ui-sref="cabinet({tab: 'main'})">
                        <span class="pe-7s-home" style="font-size: 20px; vertical-align: middle; margin-right: 10px;"></span>&nbsp;
                        <span ng-bind="translate('Cabinet')" style="vertical-align:middle"></span>
                    </a>
                </li>
                <li ng-if="loggedIn" ng-click="logout()">
                    <a>
                        <span class="pe-7s-power" style="font-size: 20px; vertical-align: middle; margin-right: 10px;"></span>&nbsp;
                        <span ng-bind="translate('Logout')" style="vertical-align:middle"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <i class="pe-7s-global"></i>
                </a>
                <ul class="dropdown-menu hdropdown notification animated">
                    <li ng-click="changeLanguage(0)">
                        <a>
                            <span class="label" ng-class="{'label-info': langId === 0, 'label-default': langId !== 0}">RU</span> Русский язык
                        </a>
                    </li>
                    <li ng-click="changeLanguage(1)">
                        <a>
                            <span class="label" ng-class="{'label-info': langId === 1, 'label-default': langId !== 1}">UA</span> Українська мова
                        </a>
                    </li>
                    <!--<li  ng-click="changeLanguage(2)">
                        <a>
                            <span class="label" ng-class="{'label-info': langId === 2, 'label-default': langId !== 2}">EN</span> English
                        </a>
                    </li>-->
                </ul>
            </li>
            <li>
                <a ui-sref="cart">
                    <i class="pe-7s-cart" ng-class="{'green-cart': !isCartEmpty()}"></i>
                    <i ng-if="!isCartEmpty()" class="cart-count"> {{ cartCount() }}</i>
                </a>
            </li>
            <li ng-if="loggedIn">
                <a ui-sref="cabinet({tab: 'main'})">
                    <i ng-if="!auth.PictureUrl" class="logged-in"></i>
                    <img ng-if="auth.PictureUrl" ng-src="{{ getProfileImage(auth) }}" style="width: 24px;height: 24px;">
                </a>
            </li>
            <li ng-if="!loggedIn">
                <a ui-sref="login">
                    <i class="pe-7s-user"></i>
                </a>
            </li>
            <li ng-if ="loggedIn">
                <a href="#" ng-click="logout()">
                    <i class="pe-7s-upload pe-rotate-90"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>