﻿<div id="navigation">

    <div class="profile-picture">
        <a ui-sref="index">
            <img src="images/logo2.png" style="margin-bottom:5px;padding: 10px 40px 15px;" alt="logo">
        </a>
        <div class="stats-label text-color" style="margin-top: -10px;margin-bottom: 5px;">
            <span class="font-extra-bold font-uppercase" ng-bind="translate('Internet magazine')"></span>
            <div style="margin-top: 2px;margin-bottom: 10px;">
                <span class="font-uppercase" style="font-size: 20px;font-weight: bold;word-spacing: -2px;">
                    <span style="color:#E67E22">I</span>
                    <span style="color:#FFB606">G</span>
                    <span style="color:#62CB31">R</span>
                    <span style="color:#3498DB">U</span>
                    <span style="color:#9B59B6">H</span>
                    <span style="color:#34495E">I</span>
                </span>
            </div>
        </div>
    </div>

    <ul class="nav" id="side-menu">
        <li ui-sref-active="active" class="active">
            <a ui-sref="index">
                <span class="btn-label fa fa-th"></span>
                <span class="nav-label" ng-bind="translate('Index')"></span>
                <span class="label label-success pull-right">NEW</span>
            </a>
        </li>
        <li ui-sref-active="active" class="active">
            <a ui-sref="search">
                <span class="btn-label fa fa-search"></span>
                <span class="nav-label" ng-bind="translate('Search')"></span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="delivery">
                <span class="btn-label fa fa-truck"></span>
                <span class="nav-label" ng-bind="translate('Delivery')"></span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="contacts">
                <span class="btn-label fa fa-phone"></span>
                <span class="nav-label" ng-bind="translate('Contacts')"></span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="faq">
                <span class="btn-label fa fa-wrench"></span>
                <span class="nav-label" ng-bind="translate('FAQ')"></span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="feedback">
                <span class="btn-label fa fa-comments-o"></span>
                <span class="nav-label" ng-bind="translate('Feedback')"></span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="about">
                <span class="btn-label fa fa-info"></span>
                <span class="nav-label" ng-bind="translate('About')"></span>
            </a>
        </li>
    </ul>

    <div ng-show="(currentState == 'catalog' || currentState == 'catalog_series') && bodysmall === false">
        <search-panel search-cfg="search" apply-search="applySearchFilter" code="code" clear-search="customClearFilter" is-small="true" is-collapsed="false"></search-panel>
    </div>

</div>

<a ui-sref="cart">
    <div class="outside-cart" ng-class="{'visible': !isCartEmpty()}">
        <i class="pe-7s-cart"></i>
        <span class="cart-count">{{ cartCount() }}</span>
    </div>
</a>