<!-- This is template for panel tools -->
<!-- It contains collapse function (showhide) and close function (closebox) -->
<!-- All function is handled from directive panelTools in directives.js file -->
<div class="panel-tools">
    <a ng-click="showhide($event)"><i class="fa fa-chevron-up"></i></a>
</div>