<div ng-if="appTitle" class="footer-menu row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="min-height:80px">
        <ul class="list-footer-menu">
            <li><a ui-sref="index">
                <span class="btn-label fa fa-th"></span>
                <span class="nav-label" ng-bind="translate('Index')"></span></a>
            </li>
            <li><a ui-sref="search">
                <span class="btn-label fa fa-search"></span>
                <span class="nav-label" ng-bind="translate('Search')"></span></a>
            </li>
            <li><a ui-sref="delivery">
                <span class="btn-label fa fa-truck"></span>
                <span class="nav-label" ng-bind="translate('Delivery')"></span></a>
            </li>
            <li><a ui-sref="contacts">
                <span class="btn-label fa fa-phone"></span>
                <span class="nav-label" ng-bind="translate('Contacts')"></span></a>
            </li>
            <li><a ui-sref="faq">
                <span class="btn-label fa fa-wrench"></span>
                <span class="nav-label" ng-bind="translate('FAQ')"></span></a>
            </li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="min-height:80px">
        <ul class="list-footer-menu">
            <li><a ui-sref="terms">
                <span class="btn-label fa fa-file-o"></span>
                <span class="nav-label" ng-bind="translate('Terms')"></span></a>
            </li>
            <li><a ui-sref="feedback">
                <span class="btn-label fa fa-comments-o"></span>
                <span class="nav-label" ng-bind="translate('Feedback')"></span></a>
            </li>
            <li><a ui-sref="about">
                <span class="btn-label fa fa-info"></span>
                <span class="nav-label" ng-bind="translate('About')"></span></a>
            </li>
            <li><a ui-sref="cart">
                <span class="btn-label fa fa-shopping-cart"></span>
                <span class="nav-label" ng-bind="translate('Cart')"></span></a>
            </li>
            <li><a ui-sref="cabinet({tab: 'main'})">
                <span class="btn-label fa fa-home"></span>
                <span class="nav-label" ng-bind="translate('Cabinet')"></span></a>
            </li>
            
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="min-height:80px">
        <ul class="list-footer-menu">
            <li><a ui-sref="contactus">
                <span class="btn-label fa fa-paper-plane-o"></span>
                <span class="nav-label" ng-bind="translate('WriteUs')"></span></a>
            </li>
            <li><b><span ng-bind="translate('Phones')"></span></b></li>
            <li><span ng-bind-html="trustAsHtml(translate('Tel1'))"></span></li>
            <li><span ng-bind-html="trustAsHtml(translate('Tel2'))"></span></li>
            <li><span ng-bind-html="trustAsHtml(translate('Tel3'))"></span></li>
        </ul>
    </div>
</div>
<div ng-if="appTitle" style="min-height:40px;padding:10px 18px;border-top:1px solid #fff;background-color:peru;color:#fff">
    <span class="pull-right">
        <span ng-bind="::appTitle"></span> &trade; 2017
    </span>
    <span ng-bind="::translate('AllRightsReserved')"></span>&nbsp;&reg;
</div>