<div class="p-m">
    <button id="sidebar-close" class="sidebar-button btn btn-default m-b-md" ng-click="$root.rightSidebar = false"><i class="pe pe-7s-close"></i>
    </button>
    <div>
        <span class="font-bold no-margins"> Analytics </span>
        <br>
        <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.</small>
    </div>
    <div class="row m-t-sm m-b-sm">
        <div class="col-lg-6">
            <h3 class="no-margins font-extra-bold text-success">300,102</h3>

            <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
        </div>
        <div class="col-lg-6">
            <h3 class="no-margins font-extra-bold text-success">280,200</h3>

            <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
        </div>
    </div>
    <div class="progress m-t-xs full progress-small">
        <div style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar" class="progress-bar progress-bar-success">
            <span class="sr-only">35% Complete (success)</span>
        </div>
    </div>
</div>
<div class="p-m bg-light border-bottom border-top">
    <span class="font-bold no-margins"> Social talks </span>
    <br>
    <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.</small>
    <div class="m-t-md">
        <div class="social-talk">
            <div class="media social-profile clearfix">
                <a class="pull-left">
                    <img src="images/a1.jpg" alt="profile-picture">
                </a>

                <div class="media-body">
                    <span class="font-bold">John Novak</span>
                    <small class="text-muted">21.03.2015</small>
                    <div class="social-content small">
                        Injected humour, or randomised words which don't look even slightly believable.
                    </div>
                </div>
            </div>
        </div>
        <div class="social-talk">
            <div class="media social-profile clearfix">
                <a class="pull-left">
                    <img src="images/a3.jpg" alt="profile-picture">
                </a>

                <div class="media-body">
                    <span class="font-bold">Mark Smith</span>
                    <small class="text-muted">14.04.2015</small>
                    <div class="social-content">
                        Many desktop publishing packages and web page editors.
                    </div>
                </div>
            </div>
        </div>
        <div class="social-talk">
            <div class="media social-profile clearfix">
                <a class="pull-left">
                    <img src="images/a4.jpg" alt="profile-picture">
                </a>

                <div class="media-body">
                    <span class="font-bold">Marica Morgan</span>
                    <small class="text-muted">21.03.2015</small>

                    <div class="social-content">
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-m">
    <span class="font-bold no-margins"> Sales in last week </span>

    <div class="m-t-xs">
        <div class="row">
            <div class="col-xs-6">
                <small>Today</small>
                <h4 class="m-t-xs">$170,20 <i class="fa fa-level-up text-success"></i></h4>
            </div>
            <div class="col-xs-6">
                <small>Last week</small>
                <h4 class="m-t-xs">$580,90 <i class="fa fa-level-up text-success"></i></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <small>Today</small>
                <h4 class="m-t-xs">$620,20 <i class="fa fa-level-up text-success"></i></h4>
            </div>
            <div class="col-xs-6">
                <small>Last week</small>
                <h4 class="m-t-xs">$140,70 <i class="fa fa-level-up text-success"></i></h4>
            </div>
        </div>
    </div>
    <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.
        Many desktop publishing packages and web page editors.
    </small>
</div>