<div class="row">
    <div class="col-lg-4">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Line type chart
            </div>
            <div class="panel-body">
                <div>
                    <c3chart bindto-id="chart1">
                        <chart-column column-id="data 1" column-values="30, 200, 100, 400, 150, 250" column-type="line" column-color="#62cb31">
                        <chart-column column-id="data 2" column-values="50, 20, 10, 40, 15, 25" column-type="line" column-color="#BABABA">
                    </c3chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Area bar chart
            </div>
            <div class="panel-body">
                <div>
                    <c3chart bindto-id="chart2">
                        <chart-column column-id="data 1" column-values="300, 350, 300, 0, 0, 0" column-type="area" column-color="#62cb31">
                        <chart-column column-id="data 2" column-values="130, 100, 140, 200, 150, 50" column-type="area-spline" column-color="#BABABA">
                    </c3chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Pie type chart
            </div>
            <div class="panel-body">
                <div>
                    <c3chart bindto-id="pie-plot1-chart">
                        <chart-colors color-pattern="#CFCFCF,#62cb31">
                        <chart-column column-id="Data 1" column-values="20" column-color="#CFCFCF" column-type="pie">
                        <chart-column column-id="Data 2" column-values="80" column-color="#62cb31" column-type="pie">
                        <chart-pie expand="true">
                    </c3chart>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Scatter type chart
            </div>
            <div class="panel-body">
                <div>
                    <c3chart bindto-id="scatter-plot2-chart">
                        <chart-colors color-pattern="#62cb31,#BABABA">
                        <chart-column column-id="Data 1 x" column-values="3.2, 3.2, 3.1, 2.3, 2.8, 2.8, 3.3, 2.4, 2.9, 2.7, 2.0, 3.0, 2.2, 2.9, 2.9, 3.1, 3.0, 2.7, 2.2, 2.5, 3.2, 2.8, 2.5, 2.8, 2.9, 3.0, 2.8, 3.0, 2.9, 2.6, 2.4, 2.4, 2.7, 2.7, 3.0, 3.4, 3.1, 2.3, 3.0, 2.5, 2.6, 3.0, 2.6, 2.3, 2.7, 3.0, 2.9, 2.9, 2.5, 2.8">
                        <chart-column column-id="Data 2 x" column-values="3.3, 2.7, 3.0, 2.9, 3.0, 3.0, 2.5, 2.9, 2.5, 3.6, 3.2, 2.7, 3.0, 2.5, 2.8, 3.2, 3.0, 3.8, 2.6, 2.2, 3.2, 2.8, 2.8, 2.7, 3.3, 3.2, 2.8, 3.0, 2.8, 3.0, 2.8, 3.8, 2.8, 2.8, 2.6, 3.0, 3.4, 3.1, 3.0, 3.1, 3.1, 3.1, 2.7, 3.2, 3.3, 3.0, 2.5, 3.0, 3.4, 3.0">
                        <chart-column column-id="Data 1" column-values="1.4, 1.5, 1.5, 1.3, 1.5, 1.3, 1.6, 1.0, 1.3, 1.4, 1.0, 1.5, 1.0, 1.4, 1.3, 1.4, 1.5, 1.0, 1.5, 1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7, 1.5, 1.0, 1.1, 1.0, 1.2, 1.6, 1.5, 1.6, 1.5, 1.3, 1.3, 1.3, 1.2, 1.4, 1.2, 1.0, 1.3, 1.2, 1.3, 1.3, 1.1, 1.3" column-type="scatter">
                        <chart-column column-id="Data 2" column-values="2.5, 1.9, 2.1, 1.8, 2.2, 2.1, 1.7, 1.8, 1.8, 2.5, 2.0, 1.9, 2.1, 2.0, 2.4, 2.3, 1.8, 2.2, 2.3, 1.5, 2.3, 2.0, 2.0, 1.8, 2.1, 1.8, 1.8, 1.8, 2.1, 1.6, 1.9, 2.0, 2.2, 1.5, 1.4, 2.3, 2.4, 1.8, 1.8, 2.1, 2.4, 2.3, 1.9, 2.3, 2.5, 2.3, 1.9, 2.0, 2.3, 1.8" column-type="scatter">
                        <chart-axes values-xs="Data 1:Data 1 x,Data 2:Data 2 x">
                    </c3chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Bar type chart
            </div>
            <div class="panel-body">
                <div>
                    <c3chart bindto-id="stacked-bar-plot1-chart">
                        <chart-colors color-pattern="#62cb31,#BABABA">
                        <chart-column column-id="data 1" column-name="Data 1" column-values="30,200,100,400,150,250" column-type="bar">
                        <chart-column column-id="data 2" column-name="Data 2" column-values="50,20,10,40,15,25" column-type="bar">
                        <chart-group group-values="data 1,data 2">
                    </c3chart>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Guage type chart
            </div>
            <div class="panel-body">
                <div>
                    <c3chart bindto-id="gauge-plot1-chart">
                        <chart-colors color-pattern="#CFCFCF,#62cb31">
                        <chart-column column-id="Data 1" column-values="70" column-type="gauge">
                        <chart-gauge min="50" max="75" units=" hours" width="39">
                    </c3chart>
                </div>
            </div>
        </div>
    </div>
</div>
