<div ng-controller="chartistCtrl">

    <div class="row">
        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Basic line chart
                </div>
                <div class="panel-body">
                    <div>
                        <chartist class="ct-chart ct-perfect-fourth" chartist-data="lineData" chartist-chart-options="lineOptions" chartist-chart-type="Line">
                    </chartist></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Basic pie chart
                </div>
                <div class="panel-body">
                    <div>
                        <chartist class="ct-chart ct-perfect-fourth" chartist-data="pieData" chartist-chart-type="Pie">
                    </chartist></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Gauge chart
                </div>
                <div class="panel-body">
                    <div>
                        <chartist class="ct-chart ct-perfect-fourth" chartist-data="guageData" chartist-chart-options="guageOptions" chartist-chart-type="Pie">
                    </chartist></div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Horizontal bar chart
                </div>
                <div class="panel-body">
                    <div>
                        <chartist class="ct-chart ct-perfect-fourth" chartist-data="hbarData" chartist-chart-options="hbarOptions" chartist-chart-type="Bar">
                    </chartist></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Stacked bar chart
                </div>
                <div class="panel-body">
                    <div>
                        <chartist class="ct-chart ct-perfect-fourth" chartist-data="sbarData" chartist-chart-options="sbarOptions" chartist-chart-type="Bar">
                    </chartist></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Line chart with area
                </div>
                <div class="panel-body">
                    <div>
                        <chartist class="ct-chart ct-major-twelfth" chartist-data="areaData" chartist-chart-options="areaOptions" chartist-chart-type="Line">
                    </chartist></div>
                </div>
            </div>
        </div>
    </div>

</div>