<div class="row" ng-controller="inlineChartsCtrl">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Sparkline charts
            </div>
            <div class="panel-body">

                <p>
                    This jQuery plugin generates sparklines (small inline charts) directly in the browser using data supplied either inline in the HTML
                </p>
                <table class="table table-bordered white-bg">
                    <thead>
                    <tr>
                        <th>Graph</th>
                        <th>Type</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <div sparkline spark-data="inlineData" spark-options="inlineOptions"></div>
                        </td>
                        <td>
                            Inline line chart
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div sparkline spark-data="barSmallData" spark-options="barSmallOptions"></div>
                        </td>
                        <td>
                            Bar chart
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div sparkline spark-data="smallPieData" spark-options="smallPieOptions"></div>
                        </td>
                        <td>
                            Pie chart
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div sparkline spark-data="longLineData" spark-options="longLineOptions"></div>
                        </td>
                        <td>
                            Long inline chart
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div sparkline spark-data="tristateData" spark-options="tristateOptions"></div>
                        </td>
                        <td>
                            Tristate chart
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div sparkline spark-data="discreteData" spark-options="discreteOptions"></div>
                        </td>
                        <td>
                            Discrete chart
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="row" ng-controller="inlineChartsCtrl">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Peity charts
            </div>
            <div class="panel-body">

                <p>
                    Peity is a simple jQuery plugin that converts an element's content into a simple svg mini pie donut line or bar chart and is compatible with any browser that supports svg: Chrome, Firefox, IE9+, Opera, Safari.
                </p>
                <table class="table table-bordered white-bg">
                    <thead>
                    <tr>
                        <th>Graph</th>
                        <th>Type</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <pie-chart data="PieChart2.data" options="PieChart2.options"></pie-chart>
                        </td>
                        <td>
                            Pie chart
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <line-chart data="LineChart.data" options="LineChart.options"></line-chart>
                        </td>
                        <td>
                            Line chart
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <bar-chart data="BarChart.data" options="BarChart.options">
                        </bar-chart></td>
                        <td>
                            Bar chart
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
