/*
 * Author: Digital Zoom Studio
 * Website: http://digitalzoomstudio.net/
 * Portfolio: http://codecanyon.net/user/ZoomIt/portfolio
 *
 * Version: 5.01
 */


@mixin animation($transition-property, $transition-duration, $transition-timing) {
transition-property: $transition-property;transition-duration: $transition-duration;transition-timing-function: $transition-timing;-moz-transition-property:$transition-property;-moz-transition-duration: $transition-duration;-moz-transition-timing-function:$transition-timing;-webkit-transition-property:$transition-property;-webkit-transition-duration: $transition-duration;-webkit-transition-timing-function:$transition-timing;-o-transition-property:$transition-property;-o-transition-duration: $transition-duration;-o-transition-timing-function:$transition-timing;-ms-transition-property:$transition-property;
-ms-transition-duration: $transition-duration;-ms-transition-timing-function:$transition-timing;
}
@mixin boxsizing() {
-moz-box-sizing:    border-box;   -webkit-box-sizing: border-box;    box-sizing:        border-box;
}

$transition-property: all;
$transition-duration: 0.3s;
$transition-timing: ease-out;
$classmain : ".scroller-con";

/*functional styling*/
.scroller-con{
  position: relative;
  width: 100%;
  height:200px;
  @include boxsizing();
  * {

    @include boxsizing();
  }
  .scroller{
    overflow: hidden;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    .inner{
      position: absolute!important;
    }
    .real-inner{
      position: absolute;
      top:0;
      left:0;
    }
  }

  .scroller::-webkit-scrollbar {display:none;}
}

.scroller-con.type-scrollTop{
  overflow:hidden;
  height: auto;
  .scrollbary_bg, .scrollbary{
    position: fixed;
  }

}


$transition-property: left,top;
$transition-duration: 0.3s;
$transition-timing: ease-out;
#{$classmain}.easing .inner{
@include animation($transition-property, $transition-duration, $transition-timing)
}
$transition-property: left,top;
$transition-duration: 0.7s;
$transition-timing: ease-out;
#{$classmain} .scrollbar.easing > *{
  @include animation($transition-property, $transition-duration, $transition-timing)
}

#{$classmain} .scrollbary{
	position: absolute;
	cursor: pointer;
}

#{$classmain} .scrollbary_bg{
	position: absolute;
	cursor: pointer;
}



#{$classmain} .scrollbarx{
	position: absolute;
	cursor: pointer;
}

#{$classmain} .scrollbarx_bg{
	position: absolute;
	cursor: pointer;
}




.scroller-con.swipe-enabled{
  cursor: move;
  cursor: -moz-grab;
  cursor: grab;
  cursor: url(styleimg/openhand.cur) 4 4, move;
}

.scroller-con.swipe-enabled.closedhand {
  cursor: url(styleimg/closedhand.cur) 4 4, move;
}





/*estethic styling*/

/* skin_default */

.scroller-con.skin_default{
  .scrollbarx{
    width: 60px;
    height: 7px;
    left: 0;
    bottom: -10px;
    background: #5896c6;
    border-radius:2px;
  }
  .scrollbarx_bg{
    height: 7px;
    left: 0;
    bottom: -10px;
    background: #eee;
    border-radius:5px;
  }

  $scrollbar_w : 10px;
  .scrollbary{
    width: $scrollbar_w;
    height: 60px;
    top: 0;
    right: - ($scrollbar_w + 1);
    right: calc(0%);
    background: #5896c6;
    border-radius:2px;
  }

  .scrollbary_bg{
    width: $scrollbar_w;
    top: 0;
    right: - ($scrollbar_w + 1);
    right: calc(0%);
    background: #eee;
    border-radius:5px;
  }
}


.scroller-con.dir-ver{
  .scroller{
    width: calc(100% - 16px);
  }

}


$classmain : ".scroller-con.skin_alternate";
/* skin_alternate */
.scroller-con.skin_alternate{

  margin-bottom: 40px;
  .scrollbarx{
    width: 200px;
    height: 30px;
    left: 0;
    bottom: -30px;
    background: yellow;
  }
  .scrollbarx_bg{
    height: 30px;
    left: 0;
    bottom: -30px;
    background: #000;
  }

  .scrollbary{
    width: 7px;
    height: 60px;
    top: 0;
    right: -10px;
    background: transparent url('styleimg/scroller1.png');
  }
  .scrollbary_bg{
    width: 7px;
    top: 0;
    right: -10px;
    background: #eee;
  }
}




$classmain : ".scroller-con.skin_blackwhite";
/*Skin 3*/
#{$classmain}{
	margin-top:30px;
}
#{$classmain} .scrollbarx{
	position: absolute;
	width: 35px;
	height: 10px;
	left: 0;
	top: -15px;
	background: url('styleimg/s3scrollerx.png');
	cursor: pointer;
}
#{$classmain} .scrollbarx_bg{
	position: absolute;
	height: 1px;
	left: 0;
	top: -10px;
	background: #eee;
	cursor: pointer;
}

#{$classmain} .scrollbary{
	width: 10px;
	height: 35px;
	top: 0;
	right: -15px;
	background: url('styleimg/s3scrollery.png');
}
#{$classmain} .scrollbary_bg{
	position: absolute;
	width: 1px;
	top: 0;
	right: -10px;
	background: #fff;
	cursor: pointer;
}








$classmain : ".scroller-con.skin_progress";

/*======Skin-Progress*/

#{$classmain} .scrollbarx{
	width: 60px;
	height: 19px;
	left: 0;
	bottom: -20px;
	background-image: url('styleimg/progress.png');
	border-radius:15px;
}
#{$classmain} .scrollbarx_bg{
	height: 19px;
	left: 0;
	bottom: -20px;
	background: #191d21;
	border-radius:15px;
	border:1px solid #1a1a1a;
	box-shadow:0 0 4px 0px rgba(0,0,0,0.3);
	-moz-box-sizing:    border-box;   -webkit-box-sizing: border-box;    box-sizing:        border-box;
}
#{$classmain} .scrollbary{
	width: 19px;
	height: 60px;
	top: 0;
	right: -28px;
	background-image: url('styleimg/progressy.png');
	border-radius:15px;
}
#{$classmain} .scrollbary_bg{
	width: 19px;
	top: 0;
	right: -28px;
	background: #191d21;
	border-radius:15px;
	border:1px solid #1a1a1a;
	box-shadow:0 0 4px 0px rgba(0,0,0,0.3);
	-moz-box-sizing:    border-box;   -webkit-box-sizing: border-box;    box-sizing:        border-box;
}


$classmain : ".scroller-con.skin_progressbox";

/*======Skin_ProgressBox*/

#{$classmain} .scrollbarx{
  width: 60px;
  height: 19px;
  left: 0;
  bottom: -16px;
  background-image: url('styleimg/progressblue.png');
}
#{$classmain} .scrollbarx_bg{
  height: 19px;
  left: 0;
  bottom: -16px;
  background: #191d21;
  border:1px solid #1a1a1a;
  box-shadow:0 0 4px 0px rgba(0,0,0,0.3);
  -moz-box-sizing:    border-box;   -webkit-box-sizing: border-box;    box-sizing:        border-box;
}
#{$classmain} .scrollbary{
  width: 19px;
  height: 60px;
  top: 0;
  right: -28px;
  background-image: url('styleimg/progressy.png');
  border-radius:15px;
}
#{$classmain} .scrollbary_bg{
  width: 19px;
  top: 0;
  right: -28px;
  background: #191d21;
  border:1px solid #1a1a1a;
  box-shadow:0 0 4px 0px rgba(0,0,0,0.3);
  -moz-box-sizing:    border-box;   -webkit-box-sizing: border-box;    box-sizing:        border-box;
}




$classmain : ".scroller-con.skin_slider";

/*skin slider*/

#{$classmain} .scrollbarx{
	width: 60px;
	height: 7px;
	left: 0;
	bottom: -10px;
	background: #5896c6;
	border-radius:2px;
}
#{$classmain} .scrollbarx_bg{
	height: 7px;
	left: 0;
	bottom: -10px;
	background: #eee;
	border-radius:5px;
}
#{$classmain} .scrollbary{
	width: 30px;
	height: 30px;
	top: 0;
	right: -30px;
	background-image: url('styleimg/handle.png');
	background-repeat:no-repeat;
	background-position:center center;
}
#{$classmain} .scrollbary_bg{
	width: 7px;
	top: 0;
	right: -18px;
	background: #282a31;
	border-radius:15px;
	border:1px solid #1a1a1a;
	box-shadow:0 0 4px 0px rgba(0,0,0,0.3);
	-moz-box-sizing:    border-box;   -webkit-box-sizing: border-box;    box-sizing:        border-box;
}


.scroller-con.skin_slider.scrollbars-inset{
  .scrollbary{
    right: 0px;
  }
  .scrollbary_bg{
    right: 0px;
  }
  .scrollbarx{
    bottom: 0px;
  }
  .scrollbarx_bg{
    bottom: 10px;
  }
}


/*skin slider*/

#{$classmain} .scrollbarx{
	width: 30px;
	height: 30px;
	left: 0;
	bottom: -31px;
	background-color:transparent;
	background-image: url('styleimg/handle.png');
	background-repeat:no-repeat;
	background-position:center center;
}
#{$classmain} .scrollbarx_bg{
	height: 7px;
	left: 0;
	bottom: -20px;
	background: #282a31;
	border-radius:15px;
	border:1px solid #1a1a1a;
	box-shadow:0 0 4px 0px rgba(0,0,0,0.3);
	-moz-box-sizing:    border-box;   -webkit-box-sizing: border-box;    box-sizing:        border-box;
}
#{$classmain} .scrollbary{
	width: 30px;
	height: 30px;
	top: 0;
	right: -30px;
	background-image: url('styleimg/handle.png');
	background-repeat:no-repeat;
	background-position:center center;
}
#{$classmain} .scrollbary_bg{
	width: 7px;
	top: 0;
	right: -18px;
	background: #282a31;
	border-radius:15px;
	border:1px solid #1a1a1a;
	box-shadow:0 0 4px 0px rgba(0,0,0,0.3);
	-moz-box-sizing:    border-box;   -webkit-box-sizing: border-box;    box-sizing:        border-box;
}








$classmain : ".scroller-con.skin_timeline";

/*skin skin_timeline*/

#{$classmain} .scrollbar{
  opacity:0;
}

$size: 17px;
#{$classmain} .scrollbarx{
  width: $size;
  height: $size;
  left: 0;
  bottom: 7px;
  background-color:transparent;
  background-image: url('styleimg/skin_timeline_handle.png');
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center center;
}
#{$classmain} .scrollbarx_bg{
  height: 30px;
  left: 0;
  bottom: 0px;
  background-image: url(styleimg/skin_timeline_bg.png);
  background-position: center center;
  background-repeat: repeat-x;
  box-shadow:0 0 4px 0px rgba(0,0,0,0.3);
  -moz-box-sizing:    border-box;   -webkit-box-sizing: border-box;    box-sizing:        border-box;
}
#{$classmain} .scrollbary{
  width: 30px;
  height: 30px;
  top: 0;
  right: -30px;
  background-image: url('styleimg/handle.png');
  background-repeat:no-repeat;
  background-position:center center;
}
#{$classmain} .scrollbary_bg{
  width: 7px;
  top: 0;
  right: -18px;
  background: #282a31;
  border-radius:15px;
  box-shadow:0 0 4px 0px rgba(0,0,0,0.3);
  -moz-box-sizing:    border-box;   -webkit-box-sizing: border-box;    box-sizing:        border-box;
}





.scroller-con.skin_royale{

  margin-bottom: 30px;
  .scrollbarx_bg, .scrollbary_bg{

    background-color: #1c1a17;
    border-radius: 3px;
  }
  .scrollbarx, .scrollbary{
    background-color: #363330;
    border-radius: 3px;

  }

  .scrollbarx_bg{
    height: 14px;
    top: auto;
    bottom: -24px;
  }
  .scrollbarx{
    width: 50px;
    height: 14px;
    top: auto;
    bottom: -24px;
  }
  .scrollbary_bg{
    width: 14px;
    left: auto;
    right: -24px;
  }
  .scrollbary{
    width: 14px;
    left: auto;
    right: -24px;
    height: 50px;
  }
}





$classmain : ".scroller-con.skin_apple";


/*======skin apple*/

#{$classmain} .scrollbarx{
	width: 90px;
	height: 8px;
	left: 0;
	bottom: -15px;
	background:rgba(0,0,0,0.5);
	border-radius:10px;
}
#{$classmain} .scrollbarx_bg{
	height: 0px;
}
#{$classmain} .scrollbary{
	width: 8px;
	height: 90px;
	top: 0;
	right: 0px;
	background:rgba(0,0,0,0.5);
	border-radius:10px;
}


$transition-property: all;
$transition-duration: 0.3s;
$transition-timing: ease-out;
#{$classmain} .scrollbary_bg{
	width: 8px;
  right:0;
  background: rgba(255,255,255,0);
  @include animation($transition-property, $transition-duration, $transition-timing)
}
#{$classmain} .scrollbar:hover .scrollbary_bg, #{$classmain} .scrollbar.dragging .scrollbary_bg{
  background: rgba(255,255,255,0.3);
}

$classmain : ".scroller-con.skin_pez";

#{$classmain}{
    margin:0; 
    }
    

    
#{$classmain} .scrollbarx{
	width: 60px;
	height: 21px;
	left: 0;
	bottom: 0px;
    background-color: transparent;
	background: url(./styleimg/skinpez_draggerx.png) no-repeat center center transparent;
	border-radius:2px;
}
#{$classmain} .scrollbarx_bg{
	height: 21px;
	left: 0;
	bottom: 0px;
    background-color: transparent;
	background: url(./styleimg/skinpez_bg.png) repeat-x scroll 0 0 transparent;
}
#{$classmain} .scrollbary{
	width: 7px;
	height: 60px;
	top: 0;
	right: -12px;
	background: #5896c6;
	border-radius:2px;
}
#{$classmain} .scrollbary_bg{
	width: 7px;
	top: 0;
	right: -12px;
	background: #eee;
	border-radius:5px;
}


.scroller-con.skin_bigblue{
  .scrollbary{

    width: 20px;
    background: #59c8ef;
    opacity: 0.2;
    border-radius: 0;
    height: 350px;
  }
  .scrollbary_bg{
    opacity: 0;
    border-radius: 0;
  }
}

.scroller-con.place-scrollbar-left{
  .scrollbary, .scrollbary_bg{
    left: auto;
    right: 100%;
  }
}



body.scroller-con{ overflow:hidden!important; margin-top:0!important;
}
body.scroller-con .inner{ width:100%;
}
body.scroller-con.skin_blackwhite .scrollbary{ right:0;
}
body.scroller-con.skin_blackwhite .scrollbary_bg{ right:5px;
}








/*misc*/
.preloader{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius:10px;
	background:#fff url(./styleimg/preloader.gif) center no-repeat;
}
.fullwidth{ width:100%; }
.fullheight{ height:100%; }