﻿<script> window.prerenderReady = false; </script>
<div class="cabinet-page admin-page page">
    <div class="content" panel>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div ng-if="loginMsg" class="form-summary-msg alert alert-success">
                    <span ng-bind-html="loginMsg"></span>
                </div>
                <div ng-if="errorMsg" class="form-summary-msg alert alert-danger">
                    <span ng-bind-html="errorMsg"></span>
                </div>
                <div class="tab-content" style="margin-bottom:5px;">
                    <uib-tabset active="active">
                        <uib-tab index="0">
                            <uib-tab-heading>
                                <span class="tab-title hide-if-needed">&nbsp;&nbsp;<span ng-bind="::translate('Information')"></span></span>
                            </uib-tab-heading>
                            <div class="panel-body">
                                <div class="row" style="position:relative">
                                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                                        <a target="_blank" ng-href="{{::getProfileUrl(auth)}}">
                                            <div class="login-card">
                                                <div class="profile-image">
                                                    <img ng-src="{{ ::getProfileImage(auth) }}" />
                                                </div>
                                                <div class="profile-info">
                                                    <div>
                                                        <div>
                                                            <span class="profile-info-line"><b style="font-size:16px">{{ ::auth.Name }}</b></span>
                                                        </div>
                                                        <div><span class="profile-info-line"><u>{{ auth.Email }}</u></span></div>
                                                        <div><span class="profile-info-line" ng-bind="::translate('Registered')" style="font-size:10px"></span><span style="font-size:10px">:10.04.2017</span></div>
                                                    </div>
                                                    <i class="fa social" ng-class="{'fa-google-plus': auth.Type == 'Google', 'fa-facebook': auth.Type == 'Facebook', 'fa-twitter': auth.Type == 'Twitter', 'fa-instagram': auth.Type == 'Instagram'}"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div ng-if="admin" class="divacs">Adminx</div>
                                </div>
                                <div>&nbsp;</div>
                                <div class="row">
                                    <div class="col-lg-12 form-group">
                                        <label class="control-label" ng-bind="::translate('Phone')"></label>
                                        <div class="address-address-editor">
                                            <a href="#" editable-text="model.phone" e-type="input-mask" e-mask="+38 (999) 999-99-99" e-label="translate('Phone')"><pre>{{ model.phone || translate('NoPhone') }}</pre></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <label class="control-label" ng-bind="::translate('Email')"></label>
                                        <div class="address-text-editor">
                                            <a href="#" editable-text="model.email" e-label="translate('Email')">
                                                <pre>{{ model.email || ' ' }}</pre>
                                            </a>
                                        </div>
                                    </div>
                                    <div ng-show="false" class="col-lg-12 form-group">
                                        <label class="control-label" ng-bind="::translate('Address')"></label>
                                        <div class="address-text-editor">
                                            <a href="#" editable-textarea="model.address" e-rows="2">
                                                <pre style="white-space: normal;">{{ model.address || translate('NoAddress') }}</pre>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div>&nbsp;</div>
                                <div ng-if="(auth.Logins && auth.Logins.length > 1 || auth.Logins && auth.Logins.length == 1) && auth.Logins[0].Name != auth.Name">
                                    <label class="control-label" ng-bind="::translate('OtherConnectedProfiles')" style="margin-bottom:5px;"></label>
                                </div>
                                <div class="row">
                                    <div ng-if="l.Name != auth.Name" ng-repeat="l in auth.Logins" class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
                                        <a target="_blank" ng-href="{{::getProfileUrl(l)}}">
                                            <div class="login-card">
                                                <div class="profile-image">
                                                    <img ng-src="{{ ::getProfileImage(l) }}" />
                                                </div>
                                                <div class="profile-info">
                                                    <div>
                                                        <div>
                                                            <span class="profile-info-line"><b style="font-size:16px">{{ ::l.Name }}</b></span>
                                                        </div>
                                                        <div><span class="profile-info-line"><u>{{ ::l.Email }}</u></span></div>
                                                        <div><span class="profile-info-line" ng-bind="::translate('Registered')" style="font-size:10px"></span><span style="font-size:10px">:10.04.2017</span></div>
                                                    </div>
                                                    <span ng-disabled="loading" class="btn btn-danger" ng-click="removeProfile(l, $event)"><i class="fa fa-times"></i></span>
                                                    <i class="fa social" ng-class="{'fa-google-plus': l.Type == 'Google', 'fa-facebook': l.Type == 'Facebook', 'fa-twitter': l.Type == 'Twitter', 'fa-instagram': l.Type == 'Instagram'}"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="1">
                            <uib-tab-heading>
                                <span class="tab-title hide-if-needed">&nbsp;&nbsp;<span ng-bind="::translate('Orders')"></span></span>
                            </uib-tab-heading>
                            <div class="panel-body">
                                <div class="row">
                                    <div style="display:inline-block;" class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                        <div style="margin-bottom:10px;">
                                            <label class="control-label" ng-bind="::translate('FilterByDate')"></label>
                                            <input id="calendar" type="text" class="form-control just-date" ng-model="model.calendar" ng-change="changeDate()" date-picker language="ru" />
                                        </div>
                                        <div style="margin-bottom:10px;">
                                            <label class="control-label" ng-bind="::translate('OrderNumber')"></label>
                                            <input id="number" type="text" class="form-control" ng-model="model.number" />
                                        </div>
                                        <div style="margin-bottom:10px;">
                                            <label class="control-label" ng-bind="::translate('UserName')"></label>
                                            <input id="username" type="text" class="form-control" ng-model="model.userName" />
                                        </div>
                                        <div style="margin-bottom:20px;">
                                            <a ng-disabled="loading" class="btn btn-warning2 col-lg-12 col-md-12 col-sm-12" ng-bind="::translate('ApplyFilter')" ng-click="applyFilter()" style="margin-bottom:10px;vertical-align:top;"></a>
                                            <a ng-disabled="loading" class="btn btn-primary2 col-lg-12 col-md-12 col-sm-12" ng-bind="::translate('ClearFilter')" ng-click="clearFilter()" style="margin-bottom:20px;vertical-align:top;"></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                        <div>
                                            <script type="text/ng-template" id="group-template.html">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title" style="color:#555">
                                                        <a tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                                                            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                                                                {{ heading }}
                                                            </span>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="panel-collapse collapse" uib-collapse="!isOpen">
                                                    <div class="panel-body" style="text-align: right; overflow:hidden;" ng-transclude></div>
                                                </div>
                                            </script>
                                            <uib-accordion close-others="false">
                                                <div ng-repeat="o in model.orders" uib-accordion-group class="orders-accordion panel-default" is-open="o.isCustomHeaderOpen">
                                                    <uib-accordion-heading>
                                                        <a ng-if="o.User" ng-href="{{::getProfileUrl(o.User)}}" class="profile-link" target="_blank">
                                                            <img class="order-user-thumbnail" ng-src="{{ ::getProfileImage(o.User) }}" />
                                                            <span class="order-user-name" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: inline-block;max-width: 48%;">{{ ::o.User.Data.FullName }} </span>
                                                        </a>
                                                        <img ng-if="!o.User" class="order-user-thumbnail" src="../../images/usershadow.png" />
                                                        <span ng-if="!o.User" class="order-user-name">{{ ::o.UserShadow.FullName }} </span>
                                                        <span class="order-date">{{ ::formatDate(o.PopulationDate, true) }} </span>
                                                        <span class="order-total" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: inline-block;max-width: 38%;">
                                                            <span ng-bind="::translate('Total')" ng-class="{'hidden': small}"></span>
                                                            <span ng-class="{'hidden': small}">:&nbsp;</span>
                                                            {{ orderTotal(o) }}
                                                            &nbsp;&#8372;
                                                        </span>
                                                        <span class="order-number"><span ng-bind="::translate('#')"></span>:&nbsp;{{ o.Number }}</span>
                                                        <span class="order-state" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: inline-block;max-width: 60%;" 
                                                              ng-class="{'new': o.OrderState.Code == 'OrderState_New', 'placed': o.OrderState.Code == 'OrderState_Placed','failed': o.OrderState.Code == 'OrderState_Failed','canceled': o.OrderState.Code == 'OrderState_Canceled','processed': o.OrderState.Code == 'OrderState_Processed','succeeded': o.OrderState.Code == 'OrderState_Succeeded'}">{{ o.OrderState.Name }} </span>
                                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': o.isCustomHeaderOpen, 'glyphicon-chevron-right': !o.isCustomHeaderOpen}"></i>
                                                    </uib-accordion-heading>
                                                    <div class="text-left">
                                                        <div ng-if="admin" class="btn-group btn-order-action">
                                                            <button ng-disabled="loading" data-toggle="dropdown" class="btn btn-info btn-xs dropdown-toggle">
                                                                <span style="display:inline-block;padding:2px 4px" ng-bind="::translate('OrderState')"></span>
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li><a ng-click="orderAction(o, 'New')"><i class="fa fa-newspaper-o"></i>&nbsp;<span ng-bind="::translate('OrderState_New')"></span></a></li>
                                                                <li><a ng-click="orderAction(o, 'Placed')"><i class="fa fa-send"></i>&nbsp;<span ng-bind="::translate('OrderState_Placed')"></span></a></li>
                                                                <li><a ng-click="orderAction(o, 'Processed')"><i class="fa fa-check"></i>&nbsp;<span ng-bind="::translate('OrderState_Processed')"></span></a></li>
                                                                <li><a ng-click="orderAction(o, 'Succeeded')"><i class="fa fa-check-circle"></i>&nbsp;<span ng-bind="::translate('OrderState_Succeeded')"></span></a></li>
                                                                <li class="divider"></li>
                                                                <li><a ng-click="orderAction(o, 'Canceled')"><i class="fa fa-ban"></i>&nbsp;<span ng-bind="::translate('OrderState_Canceled')"></span></a></li>
                                                                <li><a ng-click="orderAction(o, 'Failed')"><i class="fa fa-times-circle"></i>&nbsp;<span ng-bind="::translate('OrderState_Failed')"></span></a></li>
                                                            </ul>
                                                        </div>
                                                        <div ng-if="admin" class="btn-group btn-order-action pull-right">
                                                            <button ng-disabled="loading" ng-click="removeOrder(o)" class="btn btn-danger btn-xs dropdown-toggle">
                                                                <span style="display:inline-block;padding:2px 2px" ng-bind="::translate('Delete')"></span>
                                                            </button>
                                                        </div>
                                                        <div>&nbsp;</div>
                                                        <table ng-show="!small" class="table" style="margin-bottom:0;">
                                                            <thead>
                                                                <tr>
                                                                    <th ng-bind="::translate('#')"></th>
                                                                    <th ng-bind="::translate('ProductName')"></th>
                                                                    <th ng-bind="::translate('Price')"></th>
                                                                    <th ng-bind="::translate('Count')"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="ps in o.ProductSets track by $index">
                                                                    <td>{{ ::$index + 1 }}</td>
                                                                    <td>
                                                                        <span ng-bind="ps.Product.Name"></span><br />
                                                                        <img style="width:100px" class="order-item-preview" ng-src="{{ getUrl('/api/Catalog/GetPreviewImage?id=' + ps.Product.Id) }}" />
                                                                    </td>
                                                                    <td>{{ ::ps.FixPrice }}&nbsp;&#8372;</td>
                                                                    <td>{{ ::ps.Quantity }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div ng-show="small" class="row" ng-repeat="ps in o.ProductSets track by $index" style="margin: 5px 0;border: 1px solid #ccc;border-radius: 4px;overflow: hidden; padding: 5px 5px 5px 0;">
                                                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5" style="overflow:hidden;margin-top:5px;margin-bottom:5px;">
                                                                <b><div ng-bind="::translate('#')"></div></b>
                                                                <div>{{ ::$index + 1 }}</div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-7" style="overflow:hidden;margin-top:5px;margin-bottom:5px;">
                                                                <b><div ng-bind="::translate('ProductName')"></div></b>
                                                                <div>
                                                                    <span ng-bind="ps.Product.Name"></span><br />
                                                                    <img style="width:100px" class="order-item-preview" ng-src="{{ getUrl('/api/Catalog/GetPreviewImage?id=' + ps.Product.Id) }}" />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-5" style="overflow:hidden;margin-top:5px;margin-bottom:5px;">
                                                                <b><div ng-bind="::translate('Price')"></div></b>
                                                                <div>
                                                                    {{ ::ps.FixPrice }}&nbsp;&#8372;
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-7" style="overflow:hidden;margin-top:5px;margin-bottom:5px;">
                                                                <b><div ng-bind="::translate('Count')"></div></b>
                                                                <div>{{ ::ps.Quantity }}</div>
                                                            </div>
                                                        </div>
                                                        <div>&nbsp;</div>
                                                        <div class="form-group">
                                                            <label class="control-label" ng-bind="::translate('Phone')"></label>
                                                            <div class="address-address-editor">
                                                                <a href="#" editable-text="o.Phone" e-type="input-mask" e-mask="+38 (999) 999-99-99" e-label="translate('Phone')">
                                                                    <pre>{{ o.Phone || translate('NoPhone') }}</pre>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label" ng-bind="::translate('AdditionalInfo')"></label>
                                                            <div class="address-address-editor">
                                                                <a href="#" editable-textarea="o.AdditionalInfo" e-rows="2" e-label="translate('AdditionalInfo')">
                                                                    <pre>{{ o.AdditionalInfo || '' }}</pre>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label" ng-bind="::translate('DeliveryMethod')" style="margin-bottom:0"></label><br />
                                                            <span>{{ :: o.DeliveryMethod.Name }}</span>
                                                        </div>
                                                        <div ng-if="o.DeliveryMethod.Id.toUpperCase() !== 'B683A766-4239-4E45-B392-AD7C23E91EB0'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="control-label ng-binding" style="margin-bottom:0" ng-bind="::translate('Address')"></label>
                                                                <span ng-bind-html="::trustAsHtml(translate('PickupAddressText'))"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" ng-if="o.DeliveryMethod.Id.toUpperCase() === 'B683A766-4239-4E45-B392-AD7C23E91EB0'">
                                                            <label class="control-label" ng-bind="::translate('City')" style="margin-bottom:0"></label><br />
                                                            <span>{{ :: o.NPCity.Description }}</span>
                                                        </div>
                                                        <div class="form-group" ng-if="o.DeliveryMethod.Id.toUpperCase() === 'B683A766-4239-4E45-B392-AD7C23E91EB0'">
                                                            <label class="control-label" ng-bind="::translate('Warehouse')" style="margin-bottom:0"></label><br />
                                                            <span>{{ :: o.NPWarehouse.Description }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </uib-accordion>
                                            <a ng-disabled="loading" ng-if="showMoreOrders" class="btn btn-default col-xs-12" ng-bind="::translate('LoadMore')" style="margin-bottom:20px;background-color:powderblue;" ng-click="loadMore()"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</div>