﻿<script> window.prerenderReady = false; </script>

<div class="catalog-page page">

    <div style="display:none;background-image:url('../images/link8-hover.png')"></div>

    <div class="m-content">
        <div class="row content-row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom:0px;">
                <!-- begin slider -->
                <div ng-if="slides && slides.length > 0" id="jssor_1" style="position: relative;padding:0; margin: 0 auto; top: 0px; left: 0px; width: 1000px; height: 300px; overflow: hidden; visibility: hidden;">
                    <!-- Loading Screen -->
                    <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                        <div style="position:absolute;display:block;background:url('../../styles/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                    </div>

                    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1000px; height: 300px; overflow: hidden;">
                        <div ng-repeat = "s in slides" data-p="112.50" style="display:none;">
                            <a class="slide-link" ng-show="::s.Id" id="{{ ::s.Id }}" ng-href="#/product/{{ s.Url }}">
                                <div class="link-image"></div>
                            </a>
                            <img data-u="image" ng-src="{{ ::getUrl('/api/Catalog/GetPreviewSlideImage?id=' + s.ImageId.Id) }}" />
                            <div data-u="thumb"><!-- text --></div>
                        </div>
                    </div>
                    <!-- Thumbnail Navigator -->
                    <div data-u="thumbnavigator" class="jssort09-600-45" style="position:absolute;bottom:0px;left:0px;width:1000px;height:45px;">
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height:100%; background-color: #000; filter:alpha(opacity=40.0); opacity:0.4;"></div>
                        <!-- Thumbnail Item Skin Begin -->
                        <div data-u="slides" style="cursor: default;">
                            <div data-u="prototype" class="p">
                                <div data-u="thumbnailtemplate" class="t"></div>
                            </div>
                        </div>
                        <!-- Thumbnail Item Skin End -->
                    </div>
                    <!-- Bullet Navigator -->
                    <div data-u="navigator" class="jssorb01" style="bottom:16px;right:16px;">
                        <div data-u="prototype" style="width:12px;height:12px;"></div>
                    </div>
                    <!-- Arrow Navigator -->
                    <span data-u="arrowleft" class="jssora05l" style="top:0px;left:8px;width:40px;height:40px;" data-autocenter="2"></span>
                    <span data-u="arrowright" class="jssora05r" style="top:0px;right:8px;width:40px;height:40px;" data-autocenter="2"></span>
                </div>
                <!-- end slider -->
            </div>
        </div>
    </div>

    <div class="right-side" ng-class="{'m-l-0': !showfilters}">
        <div class="content" ng-class="{'p-t-0': !showfilters}" style="min-height:512px;">
            <div>&nbsp;</div>
            <div ng-include="'/views/store/sort-paging-catalog.html'"></div>
            <div>&nbsp;</div>
            <div ng-show="startLoading" class="loading"></div>
            <div class="row products" ng-include="'/views/store/inner-catalog.html'"></div>
            <div class="text-center">
                <paging pages="pages" onpageclick="goToPage"></paging>
            </div>
        </div>
    </div>

</div>