﻿<script> window.prerenderReady = false; </script>

<div class="delivery-page page">

    <div class="content" panel>
        <div class="hpanel hgreen" style="margin-bottom:20px;">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12" ng-bind-html="trustAsHtml(translate('DeliveryText'))"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="text-right">
                            <div class="btn-group">
                                <i class="fa fa-facebook btn btn-default btn-xs"></i>
                                <i class="fa fa-twitter btn btn-default btn-xs"></i>
                            </div>
                        </div>
                        <h3 ng-bind="::translate('InternerMagazineContacts')"></h3>
                        <!--<h3><a href=""><span ng-bind="::translate('PickupAddress')"></span></a></h3>
                        <div class="text-muted font-bold m-b-xs">Киевская обл., г. Вышгород</div>
                        <p>
                            ул. Кургузова 100, оф. 100
                        </p>
                        <div class="border-right border-left">
                            <section id="map" ng-controller="googleMapCtrl">
                                <div ui-map="myMap" ui-options="mapOptions" style="height: 200px"></div>
                            </section>
                        </div>-->
                        <br />
                        <dl style="margin-bottom:0">
                            <dt ng-bind="::translate('Phones')"></dt>
                            <dd ng-bind-html="::trustAsHtml(translate('Tel1'))"></dd>
                            <dd ng-bind-html="::trustAsHtml(translate('Tel2'))"></dd>
                            <dd ng-bind-html="::trustAsHtml(translate('Tel3'))"></dd>
                            <dd>&nbsp;</dd>
                            <dt>Email</dt>
                            <dd><a href="mailto:store@igruhi.com" style="color:deepskyblue">store@igruhi.com</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>