﻿<script> window.prerenderReady = false; </script>

<div class="about-page page">
    <div class="content" panel style="padding-bottom:35px;">
        <div ng-include="'/views/store/inner-comments.html'"></div>
    </div>
</div>