﻿<div ng-if="!startLoading && series && series.length === 0" class="hpanel comment-hpanel">
    <div class="panel-body comment">
        <span ng-bind="::translate('NoSeriesForAppliedFilter')"></span>
    </div>
</div>
<div ng-if="series" id="s{{ ::s.Id }}" ng-repeat="s in ::series" class="col-lg-3 col-md-3 col-sm-4 col-xs-6" style="vertical-align: top; padding-left: 5px; padding-right: 5px;">
    <a ng-href="{{ ::getSeriesUrl(code, s) }}" data-series-id="{{ ::s.Id }}" style="min-height: 260px;" class="viewtype0" ng-class="{ 'is-category' : s.isCategory }">
        <div animate-index="$index" class="animated-panel hpanel w-150" style="border: 2px solid gray; border-radius: 4px;">
            <div background-color-fun background-color-fun-index="$index" class="panel-heading hbuilt" style="padding: 6px 5px 5px 5px; overflow: hidden; text-overflow: ellipsis; text-transform: uppercase;">
                <h5 class="text-center custom-text">
                    <span class="text-capitalize series-text">{{ ::translate('Series') }}&nbsp;</span>
                    <span>{{ ::s.CName }}</span>
                </h5>
            </div>
            <div class="panel-body panel-border-body product-image-body text-center h-180" style="padding: 0;">
                <div class="product-image-wrap">
                    <img class="product-item-preview x" ng-src="{{ ::getUrl(getSeriesImageUrl(s) + s.Id) }}"/>
                </div>
            </div>
            <div class="panel-footer" style="position: relative;padding:6px 15px;overflow: hidden;text-overflow: ellipsis;">
                <h5 ng-if="s.isCategory" class="price text-center" style="font-size:12px;color:lightslategray">{{ ::translate('AllGoodsInThisCategory') }}</h5>
                <h5 ng-if="!s.isCategory" class="price text-center" style="font-size:12px;color:lightslategray">{{ ::translate('Total') + ' ' + s.Count + ' ' + translate('Goods') }}</h5>
            </div>
        </div>
    </a>
</div>