﻿<script>
    window.prerenderReady = false;
</script>
<div class="login-container">
    <div class="row" style="margin-bottom:20px">
        <div class="col-md-12">
            <div ng-if="loginMsg" class="form-summary-msg alert alert-success">
                <span ng-bind-html="loginMsg"></span>
            </div>
            <div ng-if="errorMsg" class="form-summary-msg alert alert-danger">
                <span ng-bind-html="errorMsg"></span>
            </div>
            <div class="text-center m-b-md">
                <h3 ng-bind="::translate('LoginPage')"></h3>
                <small ng-bind="::translate('InternetMagazineOfUniqueConstructors')"></small>
            </div>
            <div class="hpanel">
                <div class="panel-body" style="padding:10px">
                    <form id="loginForm">
                        <div class="form-group">
                            <label class="control-label" for="username" ng-bind="::translate('Email')"></label>
                            <input type="text" ng-class="{'validation-error': validation.email}" placeholder="" autofocus ng-model="email" value="" name="email" id="email" class="form-control">
                            <label ng-if="validation.email" class="validation-error" ng-bind-html="validation.email"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password" ng-bind="::translate('Password')"></label>
                            <input type="password" ng-class="{'validation-error': validation.password}" placeholder="" ng-model="pwd" value="" name="password" id="password" class="form-control">
                            <label ng-if="validation.password" class="validation-error" ng-bind-html="validation.password"></label>
                        </div>
                        <div ng-if="model.key" vc-recaptcha
                             theme="'light'"
                             key="model.key"
                             on-create="setWidgetId(widgetId)"
                             on-success="setResponse(response)"
                             on-expire="cbExpiration()"></div>
                            <label ng-if="validation.response" class="validation-error" ng-bind-html="validation.response"></label>
                        <div>&nbsp;</div>
                    </form>
                    <button class="btn btn-success btn-block" ng-click="login()" ng-bind="::translate('Login')"></button>
                    <div ng-if="model.redirectUrl">
                        <hr />
                        <div class="login-social-btn"><span calc-left-margin ng-bind="translate('OrEnterUsing')"></span></div>
                        <div class="login-social-btns text-center">
                            <i class="fa fa-facebook-square" title="Facebook" ng-click="authenticateExternalProvider('Facebook')"></i>
                            <i class="fa fa-google-plus-square" title="Google+" ng-click="authenticateExternalProvider('Google')"></i>
                            <i class="fa fa-twitter-square" title="Twitter" ng-click="authenticateExternalProvider('Twitter')"></i>
                            <i class="fa fa-instagram" title="Instagram" ng-click="authenticateExternalProvider('Instagram')"></i>
                            <!--<i class="fa fa-instagram-square" title="Instagram" ng-click="authenticateExternalProvider('Instagram')"></i>-->
                        </div>
                    </div>
                    <div>&nbsp;</div>
                    <a class="btn btn-default btn-block" ui-sref="register" ng-bind="::translate('Register')"></a>
                    <a class="btn btn-default btn-block" ui-sref="password_recovery" ng-bind="::translate('RecoveryPassword')"></a>
                </div>
            </div>
        </div>
    </div>
</div>