﻿<script> window.prerenderReady = false; </script>

<div class="about-page">

    <div class="content" panel>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <h4><span ng-bind="::translate('PrivacyStatement')"></span></h4>
                        <div>&nbsp;</div>
                        <div class="m-b-xs" ng-bind-html="trustAsHtml(translate('PrivacyStatementText'))"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>