﻿<script> window.prerenderReady = false; </script>

<div class="search-page page">
    <div class="m-content">
        <search-panel search-cfg="searchGlobal" apply-search="applySearchFilter" clear-search="clearFilter" is-small="false" is-collapsed="false"></search-panel>
    </div>
    <div style="height:10px;"></div>
    <div class="content" style="min-height:512px;">
        <div class="right-side" ng-class="{'m-l-0': !showfilters}">
            <div ng-class="{'p-t-0': !showfilters}">
                <div ng-include="'/views/store/sort-paging-catalog.html'"></div>
                <div>&nbsp;</div>
                <div ng-show="startLoading" class="loading"></div>
                <div class="row products" ng-include="'/views/store/inner-catalog.html'"></div>
                <div class="text-center">
                    <paging pages="pages" onpageclick="goToPage"></paging>
                </div>
            </div>
        </div>
    </div>
</div>