﻿<script> window.prerenderReady = false; </script>

<div class="catalog-page page">

    <div class="m-content">
        <div class="row content-row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom:0px;">
            </div>
        </div>
    </div>

    <div class="right-side m-l-0">
        <div class="content p-t-0" style="min-height:512px;">
            <div ng-show="startLoading" class="loading"></div>
            <div class="row products" ng-include="'/views/store/inner-series.html'"></div>
        </div>
    </div>

</div>