﻿<div style="vertical-align:top;margin-bottom:5px;clear:both;">
    <div ng-show="!small" class="text-left" style="margin-right:5px;display:inline-block;float:left;vertical-align:top;">
        <label class="page-size-label" ng-bind="::translate('View')"></label>
        <span class="label-page-size-span">&nbsp;</span>
        <div class="page-size-group btn-group">
            <button class="btn" ng-class="{'btn-info': !viewType, 'btn-default': viewType}" ng-click="changeView(0)"><span class="fa fa-th" style="margin-top:2px;"></span></button>
            <button class="btn" ng-class="{'btn-info': viewType, 'btn-default': !viewType}" ng-click="changeView(1)"><span class="fa fa-th-list" style="margin-top:2px;"></span></button>
        </div>
    </div>
    <div class="text-right" style="margin-right:0;display:inline-block;float:left;vertical-align:top;">
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle"><span>{{ ::translate('Sort') }}</span>&nbsp;&nbsp;<span class="fa fa-sort"></span>&nbsp;&nbsp;<span class="caret"></span></button>
            <ul class="dropdown-menu pull-left sort-items">
                <li><a ng-click="sort('Category')"><span ng-class="{'fa fa-check': sortBy == 'Category'}" style="margin-right:10px;"></span><span ng-bind="::translate('ByCategory')"></span></a></li>
                <li class="divider"></li>
                <li><a ng-click="sort('FromChipestToExpensive')"><span ng-class="{'fa fa-check': sortBy == 'FromChipestToExpensive'}" style="margin-right:10px;"></span><span ng-bind="::translate('FromChipestToExpensive')"></span></a></li>
                <li><a ng-click="sort('FromExpensiveToChipest')"><span ng-class="{'fa fa-check': sortBy == 'FromExpensiveToChipest'}" style="margin-right:10px;"></span><span ng-bind="::translate('FromExpensiveToChipest')"></span></a></li>
                <li class="divider"></li>
                <li><a ng-click="sort('ByDateAsc')"><span ng-class="{'fa fa-check': sortBy == 'ByDateAsc'}" style="margin-right:10px;"></span><span ng-bind="::translate('ByDateAsc')"></span></a></li>
                <li><a ng-click="sort('ByDateDesc')"><span ng-class="{'fa fa-check': sortBy == 'ByDateDesc'}" style="margin-right:10px;"></span><span ng-bind="::translate('ByDateDesc')"></span></a></li>
                <li class="divider"></li>
                <li><a ng-click="sort('ByPopularity')"><span ng-class="{'fa fa-check': sortBy == 'ByPopularity'}" style="margin-right:10px;"></span><span ng-bind="::translate('ByPopularity')"></span></a></li>
                <li class="divider"></li>
                <li><a ng-click="sort('ByRating')"><span ng-class="{'fa fa-check': sortBy == 'ByRating'}" style="margin-right:10px;"></span><span ng-bind="::translate('ByRating')"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="text-right" style="margin-right: 0;display:inline-block;float:right;vertical-align:top;">
        <label ng-if="!small" class="page-size-label" ng-bind="::translate('ShowOnPage')"></label>
        <span class="label-page-size-span">&nbsp;</span>
        <div class="page-size-group btn-group">
            <button ng-repeat="size in ::pageSizes" ng-class="{'btn-info': size.active, 'btn-default': !size.active}" class="btn" ng-click="changePageSize(size)">{{ ::size.value }}</button>
        </div>
    </div>
</div>