<div class="row">
    <div class="col-lg-5">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Animation panel
            </div>
            <div class="panel-body">
                <p>
                    <strong>Homer</strong> has special small directive <code>animate-panel</code> that allowes you to implement staggering animations to any layout elements.
                    It is designed to work on any html elements in order to achive a effect of building layout on state change. It works also with ng-repeat but we recomand to use angular-animate to achive staggering effect with ng-repeat.
                    This deirective is mainly for main layout elements.
                </p>

                <p>
                    It is easy to use. All you have to do is to add <code>animate-panel</code> to wrapper of elements that should be staggering. For example:

                </p>
                <pre>
&lt;div animate-panel effect="zomeIn" child="element"&gt;

    &lt;div class="element"&gt&lt;/div&gt;
    &lt;div class="element"&gt;&lt;/div&gt;
    &lt;div class="element"&gt;&lt;/div&gt;

&lt;/div&gt; </pre>

                <p>
                    In default directive get all <code>.row > div</code> elements and applay <strong>zoomIn</strong> effect. You can use any effect avalible with <strong>Animatin.css</strong> library. You can find many example of use in Homer theme but feel free to play with examples below.

                </p>

            </div>
        </div>


    </div>
    <div class="col-lg-7">

        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Live preview
            </div>
            <div class="panel-body">
                        <p>Select one of the animation from Animation.css library</p>
                        <select name="animation" ng-model="stanimation" class="form-control">
                            <optgroup label="Bouncing Entrances">
                                <option value="bounceIn">bounceIn</option>
                                <option value="bounceInDown">bounceInDown</option>
                                <option value="bounceInLeft">bounceInLeft</option>
                                <option value="bounceInRight">bounceInRight</option>
                                <option value="bounceInUp">bounceInUp</option>
                            </optgroup>
                            <optgroup label="Fading Entrances">
                                <option value="fadeIn">fadeIn</option>
                                <option value="fadeInDown">fadeInDown</option>
                                <option value="fadeInDownBig">fadeInDownBig</option>
                                <option value="fadeInLeft">fadeInLeft</option>
                                <option value="fadeInLeftBig">fadeInLeftBig</option>
                                <option value="fadeInRight">fadeInRight</option>
                                <option value="fadeInRightBig">fadeInRightBig</option>
                                <option value="fadeInUp">fadeInUp</option>
                                <option value="fadeInUpBig">fadeInUpBig</option>
                            </optgroup>
                            <optgroup label="Flippers">
                                <option value="flipInX">flipInX</option>
                                <option value="flipInY">flipInY</option>
                                <option value="flipOutX">flipOutX</option>
                                <option value="flipOutY">flipOutY</option>
                            </optgroup>
                            <optgroup label="Lightspeed">
                                <option value="lightSpeedIn">lightSpeedIn</option>
                            </optgroup>
                            <optgroup label="Rotating Entrances">
                                <option value="rotateIn">rotateIn</option>
                                <option value="rotateInDownLeft">rotateInDownLeft</option>
                                <option value="rotateInDownRight">rotateInDownRight</option>
                                <option value="rotateInUpLeft">rotateInUpLeft</option>
                                <option value="rotateInUpRight">rotateInUpRight</option>
                            </optgroup>
                            <optgroup label="Zoom Entrances">
                                <option value="zoomIn">zoomIn</option>
                                <option value="zoomInDown">zoomInDown</option>
                                <option value="zoomInLeft">zoomInLeft</option>
                                <option value="zoomInRight">zoomInRight</option>
                                <option value="zoomInUp">zoomInUp</option>
                            </optgroup>
                        </select>
                        <button class="btn btn-success m-t-sm" ng-click="runAnimation()">Play it!</button>
            </div>
        </div>

        <div ng-if="runIt">
            <div class="row" animate-panel effect="{{stanimation}}" child="hpanel">
                <div class="col-lg-4">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div panel-tools></div>
                            Box example
                        </div>
                        <div class="panel-body">

                            <div class="h-100"></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div panel-tools></div>
                            Box example
                        </div>
                        <div class="panel-body">

                            <div class="h-100"></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div panel-tools></div>
                            Box example
                        </div>
                        <div class="panel-body">

                            <div class="h-100"></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div panel-tools></div>
                            Box example
                        </div>
                        <div class="panel-body">

                            <div class="h-100"></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div panel-tools></div>
                            Box example
                        </div>
                        <div class="panel-body">

                            <div class="h-100"></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div panel-tools></div>
                            Box example
                        </div>
                        <div class="panel-body">

                            <div class="h-100"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

