<div class="content" animate-panel child="hpanel" effect="fadeInDown">
<div class="row">
    <div class="col-lg-4">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Box example
            </div>
            <div class="panel-body">

                <div class="h-100"></div>

            </div>
        </div>
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Box example
            </div>
            <div class="panel-body">

                <div class="h-100"></div>

            </div>
        </div>
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Box example
            </div>
            <div class="panel-body">

                <div class="h-100"></div>

            </div>
        </div>
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Box example
            </div>
            <div class="panel-body">

                <div class="h-100"></div>

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Box example
            </div>
            <div class="panel-body">

                <div class="h-100"></div>

            </div>
        </div>
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Box example
            </div>
            <div class="panel-body">

                <div class="h-100"></div>

            </div>
        </div>
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Box example
            </div>
            <div class="panel-body">

                <div class="h-100"></div>

            </div>
        </div>
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Box example
            </div>
            <div class="panel-body">

                <div class="h-100"></div>

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Box example
            </div>
            <div class="panel-body">

                <div class="h-100"></div>

            </div>
        </div>
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Box example
            </div>
            <div class="panel-body">

                <div class="h-100"></div>

            </div>
        </div>
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Box example
            </div>
            <div class="panel-body">

                <div class="h-100"></div>

            </div>
        </div>
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Box example
            </div>
            <div class="panel-body">

                <div class="h-100"></div>

            </div>
        </div>
    </div>
</div>
</div>
