<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <h3>Forms extended</h3>
                <p>Extra from controls for select, date, multiselect, inline edit and spin. All form controls automatically receive some global styling.
            </p></div>
        </div>
    </div>
</div>
<div class="row" ng-controller="formsCtrl">
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Angular-xeditable
            </div>
            <div class="panel-body">
                <p><strong>Angular-xeditable</strong> is a bundle of <a href="http://angularjs.org">AngularJS</a> directives that allows you to create
                    <em>editable elements</em>.Such technique is also known as <em>click-to-edit</em> or <em>edit-in-place</em>.<br>It is based on ideas of <a href="http://vitalets.github.io/x-editable">x-editable</a> but was written from scratch
                    to use power of angular and support complex forms / editable grids.</p>

                <div class="text-center">
                    <i class="fa fa-angle-down fa-2x"></i>
                </div>

                <div>
                    <h5>Basic text</h5>
                    <p>To make element editable via textbox just add <code>editable-text="model.field"</code> attribute.</p>
                    <a href="#" editable-text="user.name">{{ user.name || "empty" }}</a>
                </div>

                <div class="m-t-md">
                    <h5>Select local</h5>
                    <p>To create editable select (dropdown) just set <code>editable-select</code> attribute pointing to model.
                        To pass dropdown options you should define <code>e-ng-options</code> attribute
                        that works like normal angular <code>ng-options</code> but is transfered to underlying <code>&lt;select&gt;</code> from original element.</p>
                    <div ng-controller="SelectLocalCtrl">
                        <a href="#" editable-select="user.status" e-ng-options="s.value as s.text for s in statuses">
                            {{ showStatus() }}
                        </a>
                    </div>
                </div>

                <div class="m-t-md">
                    <h5>Textarea</h5>
                    <p>To make element editable via textarea just add <code>editable-textarea</code> attribute
                        pointing to model in scope. You can also wrap content into <code>&lt;pre&gt;</code> tags to keep linebreaks.
                        Data can be submitted by <em>Ctrl + Enter</em>.</p>
                    <a href="#" editable-textarea="user.desc" e-rows="7" e-cols="40">
                        <pre>{{ user.desc || 'no description' }}</pre>
                    </a>
                </div>

                <div class="m-t-md x-edit-checkbox">
                    <h5>Checkbox</h5>
                    <p>To make element editable via checkbox just add <code>editable-checkbox</code> attribute
                        pointing to model in scope. Set <code>e-title</code> attribute to define text shown with checkbox.</p>
                    <a href="#" editable-checkbox="user.remember" e-title="Remember?" e-style="opacity:1">
                        {{ user.remember && "Remember me!" || "Don't remember" }}
                    </a>
                </div>

                <div class="m-t-md">
                    <h5>Radiolist</h5>
                    <p>To create list of radios use <code>editable-radiolist</code> attribute pointing to model.
                        Also you should define <code>e-ng-options</code> attribute to set value and display items.
                        By default, radioboxes aligned <em>horizontally</em>.</p>
                    <div ng-controller="RadiolistCtrl">
                        <a href="#" editable-radiolist="user.status" e-ng-options="s.value as s.text for s in statuses">
                            {{ showStatus() }}
                        </a>
                    </div>
                </div>

                <div class="m-t-md">
                    <h5>HTML5 inputs</h5>
                    <p>Following HTML5 types are supported via <code>editable-xxx</code> directive:</p>

                    <div ng-controller="Html5InputsCtrl">
                        <div class="m-t-sm">Email: <a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></div>
                        <div class="m-t-sm">Tel: <a href="#" editable-tel="user.tel" e-pattern="\d{3}\-\d{2}\-\d{2}" e-title="xxx-xx-xx">{{ user.tel || 'empty' }}</a></div>
                        <div class="m-t-sm">Number: <a href="#" editable-number="user.number" e-min="18">{{ user.number || 'empty' }}</a></div>
                        <div class="m-t-sm">Range: <a href="#" editable-range="user.range" e-step="5">{{ user.range || 'empty' }}</a></div>
                        <div class="m-t-sm">Url: <a href="#" editable-url="user.url">{{ user.url || 'empty' }}</a></div>
                        <div class="m-t-sm">Search: <a href="#" editable-search="user.search">{{ user.search || 'empty' }}</a></div>
                        <div class="m-t-sm">Color: <a href="#" editable-color="user.color">{{ user.color || 'empty' }}</a></div>
                        <div class="m-t-sm">Date: <a href="#" editable-date="user.date">{{ user.date || 'empty' }}</a></div>
                        <div class="m-t-sm">Time: <a href="#" editable-time="user.time">{{ user.time || 'empty' }}</a></div>
                        <div class="m-t-sm">Datetime: <a href="#" editable-datetime="user.datetime">{{ user.datetime || 'empty' }}</a></div>
                        <div class="m-t-sm">Month: <a href="#" editable-month="user.month">{{ user.month || 'empty' }}</a></div>
                        <div class="m-t-sm">Week: <a href="#" editable-week="user.week">{{ user.week || 'empty' }}</a></div>
                    </div>
                </div>

                <p class="m-t-lg">
                    All examples and documentation you can find at: <a href="http://vitalets.github.io/angular-xeditable/#overview" target="_blank">http://vitalets.github.io/angular-xeditable/#overview</a>
                </p>


            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Ui-Select
            </div>
            <div class="panel-body">
                <p>
                    AngularJS-native version of Select2 and Selectize.
                </p>

                <h5>Bootstrap theme with Ui Select - basic example</h5>
                <p>Selected: {{person.selected}}</p>
                <ui-select ng-model="person.selected" theme="bootstrap" ng-disabled="disabled">
                    <ui-select-match placeholder="Select a person in the list">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                        <div ng-bind-html="person.name | highlight: $select.search"></div>
                            email: {{person.email}}
                            age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>

                <h5 class="m-t-lg">Multi Selection example</h5>
                <p>Selected: {{multipleDemo.colors}}</p>
                <ui-select multiple="multiple" ng-model="multipleDemo.colors" theme="bootstrap" ng-disabled="disabled">
                    <ui-select-match placeholder="Select colors...">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="color in availableColors | filter:$select.search">
                        {{color}}
                    </ui-select-choices>
                </ui-select>


            </div>
        </div>

        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Bootstrap TouchSpin
            </div>
            <div class="panel-body">
                <p>
                    A mobile and touch friendly input spinner component for Bootstrap 3. It supports the mousewheel and the up/down keys.
                </p>

                <div ng-controller="spinCtrl">

                    <div>
                        <h5>Basci example</h5>
                        <input id="demo1" type="text" name="demo1" touch-spin spin-options="spinOption1" ng-model="inputteresxcs">
                    </div>

                    <div class="m-t-md">
                        <h5>Vertical button alignment:</h5>
                        <input id="demo2" type="text" name="demo1" touch-spin spin-options="spinOption2" ng-model="inputteresxcs">
                    </div>

                    <div class="m-t-md">
                        <h5>Example with postfix </h5>
                        <input id="demo3" type="text" name="demo1" touch-spin spin-options="spinOption3" ng-model="inputteresxcs">
                    </div>

                    <div class="m-t-md">
                        <h5>Basci with button postfix </h5>
                        <input id="demo4" type="text" name="demo1" touch-spin spin-options="spinOption4" ng-model="inputteresxcs">
                    </div>

                </div>


            </div>
        </div>

        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Datepicker <small>(ui.bootstrap.datepicker)</small>
            </div>
            <div class="panel-body">
                <p>
                    A clean, flexible, and fully customizable date picker.
                    User can navigate through months and years. The datepicker shows dates that come from other than the main month being displayed. These other dates are also selectable.
                </p>

                <div ng-controller="DatepickerDemoCtrl">
                    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

                    <h5>Popup</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" show-button-bar="false" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2019-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                            </p>
                        </div>
                    </div>

                    <h5>Inline</h5>
                    <div style="display:inline-block; min-height:240px">
                        <uib-datepicker ng-model="dt" min-date="minDate" show-weeks="true"></uib-datepicker>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <label>Format:</label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
                        </div>
                    </div>

                    <hr>
                    <button type="button" class="btn btn-sm btn-primary" ng-click="today()">Today</button>
                    <button type="button" class="btn btn-sm btn-default" ng-click="dt = '2009-08-24'">2009-08-24</button>
                    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Bootstrap clockpicker
            </div>
            <div class="panel-body">
                <h5>ClockPicker</h5>
                <p>A clock-style timepicker for Bootstrap.</p>
                <div class="form-group">
                    <div class="input-group clockpicker" clock-picker data-autoclose="true">
                        <input type="text" class="form-control" value="09:30">
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Bootstrap datetimepicker
            </div>
            <div class="panel-body">
                <h5>Date/time picker</h5>
                <p>Date/time picker widget based on twitter bootstrap</p>
                <div class="form-group">
                    <div class="input-group date" id="datetimepicker1">
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                        <input type="text" class="form-control" date-time-picker>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">

    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Awesome bootstrap checkbox
            </div>
            <div class="panel-body">

                <p>
                    Font Awesome Bootstrap Checkboxes & Radios. Pure css way to make inputs look prettier.
                    https://github.com/flatlogic/awesome-bootstrap-checkbox
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset>
                            <legend>
                                Basic
                            </legend>
                            <p>
                                Supports bootstrap brand colors: <code>.checkbox-primary</code>, <code>.checkbox-info</code> etc.
                            </p>
                            <div class="checkbox">
                                <input id="checkbox1" type="checkbox">
                                <label for="checkbox1">
                                    Default
                                </label>
                            </div>
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox2" type="checkbox" checked="">
                                <label for="checkbox2">
                                    Primary
                                </label>
                            </div>
                            <div class="checkbox checkbox-success">
                                <input id="checkbox3" type="checkbox">
                                <label for="checkbox3">
                                    Success
                                </label>
                            </div>
                            <div class="checkbox checkbox-info">
                                <input id="checkbox4" type="checkbox">
                                <label for="checkbox4">
                                    Info
                                </label>
                            </div>
                            <div class="checkbox checkbox-warning">
                                <input id="checkbox5" type="checkbox" checked="">
                                <label for="checkbox5">
                                    Warning
                                </label>
                            </div>
                            <div class="checkbox checkbox-danger">
                                <input id="checkbox6" type="checkbox" checked="">
                                <label for="checkbox6">
                                    Check me out
                                </label>
                            </div>
                            <p>Checkboxes without label text</p>
                            <div class="checkbox">
                                <input type="checkbox" id="singleCheckbox1" value="option1" aria-label="Single checkbox One">
                                <label></label>
                            </div>
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" id="singleCheckbox2" value="option2" checked="" aria-label="Single checkbox Two">
                                <label></label>
                            </div>
                            <p>Inline checkboxes</p>
                            <div class="checkbox checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1">
                                <label for="inlineCheckbox1"> Inline One </label>
                            </div>
                            <div class="checkbox checkbox-success checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox2" value="option1" checked="">
                                <label for="inlineCheckbox2"> Inline Two </label>
                            </div>
                            <div class="checkbox checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox3" value="option1">
                                <label for="inlineCheckbox3"> Inline Three </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset>
                            <legend>
                                Circled
                            </legend>
                            <p>
                                <code>.checkbox-circle</code> for roundness.
                            </p>
                            <div class="checkbox checkbox-circle">
                                <input id="checkbox7" type="checkbox">
                                <label for="checkbox7">
                                    Simply Rounded
                                </label>
                            </div>
                            <div class="checkbox checkbox-info checkbox-circle">
                                <input id="checkbox8" type="checkbox" checked="">
                                <label for="checkbox8">
                                    Me too
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset>
                            <legend>
                                Radio
                            </legend>
                            <p>
                                Supports bootstrap brand colors: <code>.radio-primary</code>, <code>.radio-danger</code> etc.
                            </p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="radio">
                                        <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                                        <label for="radio1">
                                            Small
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="radio1" id="radio2" value="option2">
                                        <label for="radio2">
                                            Big
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="radio radio-danger">
                                        <input type="radio" name="radio2" id="radio3" value="option1">
                                        <label for="radio3">
                                            Next
                                        </label>
                                    </div>
                                    <div class="radio radio-danger">
                                        <input type="radio" name="radio2" id="radio4" value="option2" checked="">
                                        <label for="radio4">
                                            One
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <p>Radios without label text</p>
                            <div class="radio">
                                <input type="radio" id="singleRadio1" value="option1" name="radioSingle1" aria-label="Single radio One">
                                <label></label>
                            </div>
                            <div class="radio radio-success">
                                <input type="radio" id="singleRadio2" value="option2" name="radioSingle1" checked="" aria-label="Single radio Two">
                                <label></label>
                            </div>
                            <p>Inline radios</p>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                <label for="inlineRadio1"> Inline One </label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                <label for="inlineRadio2"> Inline Two </label>
                            </div>
                        </fieldset>
                    </div>
                </div>




            </div>
        </div>

    </div>

</div>

