<div class="btn-group i-group" data-toggle="buttons" style="width:100%">
    <label class="btn btn-default" style="width:88px;overflow:hidden;"  ng-click="click()" ng-class="{'active': c1v}">
        <input type="checkbox" name="pol" value="1" autocomplete="off">
        <span ng-bind="::translate('ForBoys')"></span>
    </label>
    <label class="btn btn-default" style="width:88px;overflow:hidden;"  ng-click="click()" ng-class="{'active': c2v}">
        <input type="checkbox" name="pol" value = "2" autocomplete="off">
        <span ng-bind="::translate('ForGirls')"></span>
    </label>
</div>