<div class="row" ng-controller="alertsCtrl">
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Sweet alert
            </div>
            <div class="panel-body">
                <p>
                    AngularJS wrapper for SweetAlert. Sweet Alert is a beautiful replacement for Javascript's "Alert".
                </p>
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>
                            Examples
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            A basic message
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm" ng-click="demo1()">Run example</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            A success message!
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm" ng-click="demo2()">Run example</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            A warning message, with a function attached to the "Confirm"-button
                        </td>
                        <td>
                            <button class="btn btn-warning btn-sm" ng-click="demo3()">Run example</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ... and by passing a parameter, you can execute something else for "Cancel".
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" ng-click="demo4()">Run example</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="m-t-md">
                    <p>
                        You can easy add sweet alert in your controller by adding code like this:
                    </p>
                    <pre>
sweetAlert.swal({
    title: "Good job!",
    text: "You clicked the button!",
    type: "success"
});</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Angular notify
            </div>
            <div class="panel-body">
                <p>
                    Minimalistic and extensible notification service for Angular.
                </p>

                <div class="text-center float-e-margins">
                    <div class="font-bold m">Example with Homer template</div>
                    <button ng-click="homerDemo1()" class="btn btn-info btn-sm">Run example</button>
                    <button ng-click="homerDemo2()" class="btn btn-success btn-sm">Run example</button>
                    <button ng-click="homerDemo3()" class="btn btn-warning btn-sm">Run example</button>
                    <button ng-click="homerDemo4()" class="btn btn-danger btn-sm">Run example</button>
                </div>

                <div class="text-center font-bold m">Customize your notifycation</div>
                <form class="form-horizontal" role="form" ng-submit="demo()">
                    <div class="form-group">
                        <label for="msg" class="col-sm-4 control-label">Message</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="msg" placeholder="Message" ng-model="msg">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="clz" class="col-sm-4 control-label">CSS Class</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="clz" placeholder="CSS class names" ng-model="classes">
                            <span class="help-block">Try Bootstrap alert classes like "alert-danger" or "alert-success".</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="template" class="col-sm-4 control-label">Template</label>

                        <div class="col-sm-8">
                            <select class="form-control" ng-model="template">
                                <option value="">(standard template)</option>
                                <option value="views/common/notify.html">Homer template</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-primary">Demo</button>
                            <button type="button" class="btn btn-default" ng-click="closeAll()">Close All</button>
                        </div>
                    </div>
                </form>
                <div class="m-t-md">
                    <p>
                        You can easy add any notification in your controller by adding code like this:
                    </p>
                    <pre>
notify({
    message:'Hello! This is a sample message!',
    classes: 'alert-info'
}); </pre>
                </div>
            </div>
        </div>
    </div>
</div>
