<div class="row">
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div panel-tools></div>
                Accordion directive example
            </div>
            <div class="panel-body">
                <div class="text-center m-b-md">
                    <h3>Accordion</h3>
                    <small>The accordion directive builds on top of the collapse directive to provide a list of items, with collapsible bodies that are collapsed or expanded by clicking on the item's header.</small><br>
                    <input type="checkbox" ng-model="oneAtATime">
                    Open only one at a time
                </div>
                <uib-accordion close-others="oneAtATime">
                    <uib-accordion-group heading="Static Header, initially expanded">
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
                    </uib-accordion-group>
                    <uib-accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                        {{group.content}}
                    </uib-accordion-group>
                    <uib-accordion-group heading="Dynamic Body Content">
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
                    </uib-accordion-group>
                    <uib-accordion-group is-open="status.open">
                        <uib-accordion-heading>
                            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div panel-tools></div>
                Collapse directive example
            </div>
            <div class="panel-body">
                <div class="text-center m-b-md">
                    <h3>Collapse box</h3>
                    <small>AngularJS version of Bootstrap's collapse plugin. Provides a simple way to hide and show an element with a css transition</small><br>
                    <button class="btn btn-default btn-sm" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
                </div>
                <div uib-collapse="isCollapsed">
                    <div class="well well-lg">
                        <h5 class="font-bold">Lorem ipsum</h5>
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                        <br>
                        <br>
                        I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div panel-tools></div>
                Tooltips
            </div>
            <div class="panel-body">
                <div class="text-center m-b-md">
                    <h3>Tooltips</h3>
                    <small>A lightweight, extensible directive for fancy tooltip creation. The tooltip directive supports multiple placements, optional transition animation, and more.</small>
                </div>
                <div class="tooltip-demo m">
                    <button type="button" class="btn btn-sm btn-default" tooltip-placement="left" uib-tooltip="On the Left!">Tooltip - left</button>
                    <button type="button" class="btn btn-sm btn-default" tooltip-placement="top" uib-tooltip="On the Top!">Tooltip - top</button>
                    <button type="button" class="btn btn-sm btn-default" tooltip-placement="bottom" uib-tooltip="On the Bottom!">Tooltip - bottom</button>
                    <button type="button" class="btn btn-sm btn-default" tooltip-placement="right" uib-tooltip="On the Right!">Tooltip - right</button>
                </div>


                <div class="tooltip-demo m">
                    <div class="form-group">
                        <label>Dynamic Tooltip Text</label>
                        <input type="text" ng-model="dynamicTooltipText" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Dynamic Tooltip Popup Text</label>
                        <input type="text" ng-model="dynamicTooltip" class="form-control">
                    </div>
                    <p>
                        Pellentesque <a href="#" uib-tooltip="{{dynamicTooltip}}" tooltip-placement="left">{{dynamicTooltipText}}</a>,
                        sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in
                        aliquam. Tincidunt lobortis feugiat vivamus at
                        <a href="#" tooltip-placement="left" uib-tooltip="On the Left!">left</a> eget
                        arcu dictum varius duis at consectetur lorem. Vitae elementum curabitur
                        <a href="#" tooltip-placement="right" uib-tooltip="On the Right!">right</a>
                        nunc sed velit dignissim sodales ut eu sem integer vitae. Turpis egestas
                        <a href="#" tooltip-placement="bottom" uib-tooltip="On the Bottom!">bottom</a>
                        pharetra convallis posuere morbi leo urna,
                        <a href="#" tooltip-animation="false" uib-tooltip="I don't fade. :-(">fading</a>
                        at elementum eu, facilisis sed odio morbi quis commodo odio. In cursus
                        <a href="#" tooltip-popup-delay="1000" uib-tooltip="appears with delay">delayed</a> turpis massa tincidunt dui ut.
                    </p>

                    <p>
                        I can even contain HTML. <a href="#" uib-tooltip-html="htmlTooltip">Check me out!</a>
                    </p>

                    <form role="form">
                        <div class="form-group">
                            <label>Or use custom triggers, like focus: </label>
                            <input type="text" value="Click me!" uib-tooltip="See? Now click away..." tooltip-trigger="focus" tooltip-placement="top" class="form-control">
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div panel-tools></div>
                Popover
            </div>
            <div class="panel-body">
                <div class="text-center m-b-md">
                    <h3>Popover</h3>
                    <small>A lightweight, extensible directive for fancy popover creation. The popover directive supports multiple placements, optional transition animation, and more.</small>
                </div>
                <div class="m">
                    <div class="form-group">
                        <label>Popup Text:</label>
                        <input type="text" ng-model="dynamicPopover" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Popup Title:</label>
                        <input type="text" ng-model="dynamicPopoverTitle" class="form-control">
                    </div>
                    <button uib-popover="{{dynamicPopover}}" popover-title="{{dynamicPopoverTitle}}" class="btn btn-info">Dynamic Popover</button>

                    <hr>
                    <h5>Positional</h5>
                    <button popover-placement="top" uib-popover="On the Top!" class="btn btn-primary">Top</button>
                    <button popover-placement="left" uib-popover="On the Left!" class="btn btn-primary">Left</button>
                    <button popover-placement="right" uib-popover="On the Right!" class="btn btn-primary">Right</button>
                    <button popover-placement="bottom" uib-popover="On the Bottom!" class="btn btn-primary">Bottom</button>

                    <hr>
                    <h5>Triggers</h5>
                    <p>
                        <button uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter" class="btn btn-default">Mouseenter</button>
                    </p>
                    <input type="text" value="Click me!" uib-popover="I appeared on focus! Click away and I'll vanish..." popover-trigger="focus" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="hpanel">
            <uib-tabset>
                <uib-tab>
                    <uib-tab-heading>
                        This is tab
                    </uib-tab-heading>
                    <div class="panel-body">
                        <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                            existence in this spot, which was created for the bliss of souls like mine.</p>

                        <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                            the present moment; and yet I feel that I never was a greater artist than now. When.</p>
                    </div>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        This is second tab
                    </uib-tab-heading>
                    <div class="panel-body">
                        <strong>Donec quam felis</strong>

                        <p>Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                            and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath </p>

                        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                            sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.</p>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel">
            <uib-tabset>
                <uib-tab>
                    <uib-tab-heading>
                        <i class="fa fa-laptop"></i>
                    </uib-tab-heading>
                    <div class="panel-body">
                        <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                            existence in this spot, which was created for the bliss of souls like mine.</p>

                        <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                            the present moment; and yet I feel that I never was a greater artist than now. When.</p>
                    </div>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        <i class="fa fa-desktop"></i>
                    </uib-tab-heading>
                    <div class="panel-body">
                        <strong>Donec quam felis</strong>

                        <p>Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                            and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath </p>

                        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                            sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.</p>
                    </div>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        <i class="fa fa-database"></i>
                    </uib-tab-heading>
                    <div class="panel-body">
                        <strong>Donec quam felis</strong>

                        <p>Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                            and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath </p>

                        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                            sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.</p>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="hpanel">
            <div>
                <uib-tabset class="tabs-left">
                    <uib-tab>
                        <uib-tab-heading>
                            This is tab
                        </uib-tab-heading>
                        <div class="panel-body">
                            <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                                existence in this spot, which was created for the bliss of souls like mine.</p>

                            <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke
                                at
                                the present moment; and yet I feel that I never was a greater artist than now. When.</p>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>
                            This is second tab
                        </uib-tab-heading>
                        <div class="panel-body">
                            <strong>Donec quam felis</strong>

                            <p>Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the
                                insects
                                and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath </p>

                            <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                                sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.</p>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel">
            <uib-tabset class="tabs-right">
                <uib-tab>
                    <uib-tab-heading>
                        This is tab
                    </uib-tab-heading>
                    <div class="panel-body">
                        <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                            existence in this spot, which was created for the bliss of souls like mine.</p>

                        <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                            the present moment; and yet I feel that I never was a greater artist than now. When.</p>
                    </div>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        This is second tab
                    </uib-tab-heading>
                    <div class="panel-body">
                        <strong>Donec quam felis</strong>

                        <p>Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                            and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath </p>

                        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                            sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.</p>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div panel-tools></div>
                Pagination
            </div>
            <div class="panel-body">
                <div class="text-center m-b-md">
                    <h3>Pagination</h3>
                    <small>A lightweight pagination directive that is focused on ... providing pagination & will take care of visualising a pagination bar and enable / disable buttons correctly!</small>
                </div>
                <div class="pagination-example">
                    {{currentPage}}
                    <br><uib-pagination total-items="totalItems" ng-model="currentPage"></uib-pagination>
                    <br><uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    <br><uib-pagination direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"></uib-pagination>
                    <pre>The selected page no: {{currentPage}}</pre>
                    <button class="btn btn-info" ng-click="setPage(3)">Set current page to: 3</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div panel-tools></div>
                Typehead
            </div>
            <div class="panel-body">
                <div class="text-center m-b-md">
                    <h3>Typehead</h3>
                    <small>This directive can be used to quickly create elegant typeaheads with any form text input.</small>
                </div>



                <h5>Static arrays</h5>
                <pre>Model: {{selected | json}}</pre>
                <input type="text" ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">

                <h5>Asynchronous results</h5>
                <pre>Model: {{asyncSelected | json}}</pre>
                <input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div panel-tools></div>
                Progressbar
            </div>
            <div class="panel-body">
                <div class="text-center m-b-md">
                    <h3>Progressbar</h3>
                    <small>A progress bar directive that is focused on providing feedback on the progress of a workflow or action.</small>
                </div>
                <h5>Basic ProgressBars</h5>
                <small>Light version of progress bar</small>

                <div class="m">
                    <uib-progressbar value="15" type="warning">15%</uib-progressbar>
                    <uib-progressbar value="30" type="success">30%</uib-progressbar>
                    <uib-progressbar value="45" type="info">45%</uib-progressbar>
                    <uib-progressbar value="60" type="danger">60%</uib-progressbar>
                </div>

                <h5>Striped Progressbars</h5>
                <small>Add <code>.full</code> class to get full background. Add <code>.progress-striped</code> to get striped version.</small>

                <div class="m">
                    <uib-progressbar value="75" type="warning" class="progress-striped full">75%</uib-progressbar>
                </div>
                <h5>Active Progressbars</h5>
                <small>Add <code>.active</code> to get active striped.</small>

                <div class="m">
                    <uib-progressbar value="90" type="success" class="progress-striped active full">90%</uib-progressbar>
                </div>
                <h5>Mini version</h5>
                <small>Add <code>.progress-small</code> class to get mini version</small>
                <div class="m">
                <uib-progressbar value="25" type="warning" class="progress-small full"></uib-progressbar>
                <uib-progressbar value="50" type="success" class="progress-small full"></uib-progressbar>
                <uib-progressbar value="75" type="info" class="progress-small full"></uib-progressbar>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div panel-tools></div>
                Dropdown
            </div>
            <div class="panel-body h-200">
                <div class="text-center m-b-md">
                    <h3>Dropdown</h3>
                    <small>Dropdown is a simple directive which will toggle a dropdown menu on click or programmatically. </small>
                </div>
                <div class="row">
                        <div class="dropdown-example" uib-dropdown>
                            <ul uib-dropdown-menu role="menu">
                                <li><a href>Action</a></li>
                                <li><a href>Another action</a></li>
                                <li><a href>Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href>Separated link</a></li>
                            </ul>
                        </div>
                        <div class="dropdown-example" uib-dropdown>
                            <ul uib-dropdown-menu role="menu">
                                <li><a href><strong>Action</strong></a></li>
                                <li><a href><span class="text-success">Another action</span></a></li>
                                <li><a href>Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href><span class="text-muted">Separated link</span></a></li>
                            </ul>
                        </div>
                        <div class="dropdown-example" uib-dropdown>
                            <ul uib-dropdown-menu role="menu">
                                <li><a href><i class="fa fa-pencil"> </i> Edit</a></li>
                                <li><a href><i class="fa fa-copy"> </i> Copy</a></li>
                                <li><a href><i class="fa fa-paste"> </i> paste</a></li>
                                <li class="divider"></li>
                                <li><a href><i class="fa fa-trash"> </i> Remove</a></li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div panel-tools></div>
                Rating
            </div>
            <div class="panel-body">
                <div class="text-center m-b-md">
                    <h3>Rating</h3>
                    <small>Rating directive that will take care of visualising a star rating bar.</small>
                </div>
                <uib-rating ng-model="rate" max="max" on-hover="hoveringOver(value)" on-leave="overStar = null"></uib-rating>
                <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

                <pre style="margin:15px 0">Rate: <b>{{rate}}</b> - Hovering over: <b>{{overStar || "none"}}</b></pre>

                <button class="btn btn-sm btn-primary" ng-click="rate = 0" ng-disabled="isReadonly">Clear</button>
            </div>
        </div>
    </div>
</div>