<div class="row" ng-controller="loadingCtrl">
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                Basic buttons example
            </div>
            <div class="panel-body">

                <strong>Ladda</strong>
                <p>
                    A UI concept which merges loading indicators into the action that invoked them. Primarily intended for use with forms where it gives users immediate feedback upon submit rather than leaving them wondering while the browser does its thing.
                </p>

                <div class="row">
                    <div class="col-sm-3">
                        <h5>expand-left</h5>
                        <button ladda="loading" ng-click="runLoading()" class="ladda-button btn btn-success" data-style="expand-left">Submit</button>
                    </div>
                    <div class="col-sm-3">
                        <h5>expand-right</h5>
                        <button ladda="loading1" ng-click="runLoading1()" class="ladda-button btn btn-success" data-style="expand-right">Submit</button>
                    </div>
                    <div class="col-sm-3">
                        <h5>expand-up</h5>
                        <button ladda="loading2" ng-click="runLoading2()" class="ladda-button btn btn-success" data-style="expand-up">Submit</button>
                    </div>
                    <div class="col-sm-3">
                        <h5>expand-down</h5>
                        <button ladda="loading3" ng-click="runLoading3()" class="ladda-button btn btn-success" data-style="expand-down">Submit</button>
                    </div>
                </div>
                <div class="row m-t-md">
                    <div class="col-sm-3">
                        <h5>contract</h5>
                        <button ladda="loading4" ng-click="runLoading4()" class="ladda-button btn btn-warning" data-style="contract">Submit</button>
                    </div>
                    <div class="col-sm-3">
                        <h5>zoom-in</h5>
                        <button ladda="loading5" ng-click="runLoading5()" class="ladda-button btn btn-warning" data-style="zoom-in">Submit</button>
                    </div>
                    <div class="col-sm-3">
                        <h5>zoom-out</h5>
                        <button ladda="loading6" ng-click="runLoading6()" class="ladda-button btn btn-warning" data-style="zoom-out">Submit</button>
                    </div>
                </div>
                <div class="row m-t-md">
                    <div class="col-sm-3">
                        <h5>slide-left</h5>
                        <button ladda="loading7" ng-click="runLoading7()" class="ladda-button btn btn-info" data-style="slide-left">Submit</button>
                    </div>
                    <div class="col-sm-3">
                        <h5>slide-right</h5>
                        <button ladda="loading8" ng-click="runLoading8()" class="ladda-button btn btn-info" data-style="slide-right">Submit</button>
                    </div>
                    <div class="col-sm-3">
                        <h5>slide-up</h5>
                        <button ladda="loading9" ng-click="runLoading9()" class="ladda-button btn btn-info" data-style="slide-up">Submit</button>
                    </div>
                    <div class="col-sm-3">
                        <h5>slide-down</h5>
                        <button ladda="loading10" ng-click="runLoading10()" class="ladda-button btn btn-info" data-style="slide-down">Submit</button>
                    </div>
                </div>
                <div class="row m-t-lg">
                    <div class="col-sm-3">
                        <section class="progress-demo">
                            <h5>expand-right</h5>
                            <button ladda="loading11" ng-click="runLoading11()" class="ladda-button btn btn-danger" data-style="expand-right">Submit</button>
                        </section>
                    </div>
                    <div class="col-sm-3">
                        <section class="progress-demo">
                            <h5>contract</h5>
                            <button ladda="loading12" ng-click="runLoading12()" class="ladda-button btn btn-danger" data-style="contract">Submit</button>
                        </section>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                API Example
            </div>
            <div class="panel-body">
                <h5 class="m-t-none m-b-sm">Demo how to use with api services</h5>
                <button ladda="loadingDemo" ng-click="runLoadingDemo()" class="ladda-button ladda-button-demo btn btn-block btn-primary" data-style="zoom-in">Submit</button>


                <div class="m-t-sm">
<pre>
&lt;button ladda="loadingDemo" ng-click="runLoadingDemo()" class="ladda-button ladda-button-demo btn btn-primary"  data-style="zoom-in"&gt;Submit&lt;/button&gt;
</pre>
<pre>
    $scope.runLoadingDemo = function() {
        // start loading
        $scope.loadingDemo = true;

        $timeout(function(){
            // Simulate some service and stop loading
            $scope.loadingDemo = false;
        },2000)
    };
</pre>
                </div>
            </div>
        </div>
    </div>
</div>
