<div class="row" ng-controller="modalCtrl">
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Homer modal windows
            </div>
            <div class="panel-body">
                <p>
                    Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.
                </p>
                <p>
                    Creating custom modals is straightforward: create a partial view, its controller and reference them when using the service.
                </p>
                <div class="text-center">
                    <button class="btn btn-success" ng-click="open1()">Launch demo modal</button>
                </div>

                <div class="m-t-md">
                    <pre>
var modalInstance = $modal.open({
    templateUrl: 'views/modal/modal_example3.html',
    size: size,
    controller: ModalInstanceCtrl,
});</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Optional size and colors
            </div>
            <div class="panel-body">
                <p>
                    Modals have two optional sizes, available via parameter to be placed on function <code>open('lg')</code>
                </p>

                <div class="text-center m-b-md">
                    <button class="btn btn-primary" ng-click="open3('lg')">Large Modal</button>
                    <button class="btn btn-primary" ng-click="open3('sm')">Small Modal</button>
                </div>

                <p>
                    You can add extra class to color your modal window avalible class (<code>hmodal-info</code>, <code>hmodal-warning</code>, <code>hmodal-success</code>, <code>hmodal-danger</code>)
                </p>
                <div class="text-center m-t-md">
                    <button class="btn btn-success" ng-click="open5()">Success</button>
                    <button class="btn btn-info" ng-click="open2()">Info</button>
                    <button class="btn btn-warning" ng-click="open4()">Warning</button>
                    <button class="btn btn-danger" ng-click="open6()">Danger</button>
                </div>

                <div class="m-t-md">
                    <pre>
var modalInstance = $modal.open({
       templateUrl: 'views/modal/modal_example2.html',
       controller: ModalInstanceCtrl,
       windowClass: "hmodal-success"
}); </pre>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Options
            </div>
            <div class="panel-body">
                <p>
                    The $modal service has only one method: open(options) where available options are like follows:
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th style="width: 100px">Name</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>
                                templateUrl
                            </td>
                            <td>
                                a path to a template representing modal's content
                            </td>
                        </tr>

                        <tr>
                            <td>template</td>
                            <td>inline template representing the modal's content</td>
                        </tr>
                        <tr>
                            <td>scope</td>
                            <td> a scope instance to be used for the modal's content (actually the $modal service is going to create a child scope of a provided scope). Defaults to $rootScope</td>
                        </tr>
                        <tr>
                            <td>controller</td>
                            <td> a controller for a modal instance - it can initialize scope used by modal. Accepts the "controller-as" syntax in the form 'SomeCtrl as myctrl'; can be injected with
                                $modalInstance
                            </td>
                        </tr>
                        <tr>
                            <td>controllerAs</td>
                            <td>an alternative to the controller-as syntax, matching the API of directive definitions. Requires the controller option to be provided as well</td>
                        </tr>
                        <tr>
                            <td>resolve</td>
                            <td> members that will be resolved and passed to the controller as locals; it is equivalent of the resolve property for AngularJS routes</td>
                        </tr>
                        <tr>
                            <td>backdrop</td>
                            <td> controls presence of a backdrop. Allowed values: true (default), false (no backdrop), 'static' - backdrop is present but modal window is not closed when clicking
                                outside of the modal window.
                            </td>
                        </tr>
                        <tr>
                            <td>keyboard</td>
                            <td> indicates whether the dialog should be closable by hitting the ESC key, defaults to true</td>
                        </tr>
                        <tr>
                            <td>backdropClass</td>
                            <td> additional CSS class(es) to be added to a modal backdrop template</td>
                        </tr>
                        <tr>
                            <td>windowClass</td>
                            <td> additional CSS class(es) to be added to a modal window template</td>
                        </tr>
                        <tr>
                            <td>windowTemplateUrl</td>
                            <td> a path to a template overriding modal's window template</td>
                        </tr>
                        <tr>
                            <td>size</td>
                            <td> optional size of modal window. Allowed values: 'sm' (small) or 'lg' (large). Requires Bootstrap 3.1.0 or later</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
