<div class="row" ng-controller="tourCtrl">
    <div class="col-lg-12">
        <div class="hpanel" tour-step order="2" title="Tour title" content="Add any components you want from the Homer theme - graphs, tables, calendars, lists, create your unique app view with Homer." placement="top">
            <div class="panel-heading">
                <div panel-tools></div>
                Tour - how it works.
            </div>
            <div class="panel-body">

                <div class="row">

                    <div class="col-lg-4" tour-step order="3" title="Tour title" content="This is a 3 step on our tour. You can easy set a placement of tour tooltip." placement="right">
                        <p>
                            <strong>Start</strong> tour example!
                        </p>
                        <button class="btn btn-success m-b-lg" ng-click="tour.restart(true)">Start Tour!</button>

                        <h5>
                            Example text for tour purpose
                        </h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        </p>
                        <div class="flot-chart" style="height: 50px">
                            <div flot class="flot-chart-content" dataset="chartIncomeData" options="chartIncomeOptions"></div>
                        </div>
                        <div class="m-t-xs">

                            <div class="row">
                                <div class="col-xs-5">
                                    <small class="stat-label">Today</small>
                                    <h4>$230,00 </h4>
                                </div>
                                <div class="col-xs-7">
                                    <small class="stat-label">Last week</small>
                                    <h4>$7 980,60 <i class="fa fa-level-up text-success"></i></h4>
                                </div>
                            </div>
                        </div>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                        </p>

                    </div>

                    <div class="col-lg-8" tour-step order="4" title="Tour title" content="In this 4 step is a description of how to use tour directive." placement="left">
                        <h5>
                            How to use it
                        </h5>
                        <p>
                            Tour is very easy to use. All you have to do is to define main tour container (in this example we define it on body element):
                            <code>tour backdrop="true"</code>. We also add a backdrop = true to add a gray background. Next you need to define a tour step with order, title, content and placement like:
                            <code>tour-step order="3" title="Tour title" content="Tour description" placement="right"</code>
                        </p>
                        <strong> Example:</strong>
                        <pre>

&lt;div class="main" tour backdrop="true"&gt;

      &lt;div class="panel" tour-step order="1" title="Title" content="Tour Step Description" placement="top"&gt;
          This will be a step 1
      &lt;/div&gt;
      &lt;div class="panel" tour-step order="2" title="Title" content="Tour Step Description" placement="left"&gt;
          This will be a step 2
      &lt;/div&gt;
      &lt;div class="panel" tour-step order="3" title="Title" content="Tour Step Description" placement="right"&gt;
          This will be a step 3
      &lt;/div&gt;
      &lt;div class="panel" tour-step order="4" title="Title" content="Tour Step Description" placement="bottom"&gt;
          This will be a step 4
      &lt;/div&gt;

&lt;/div&gt;

                        </pre>

                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-12">
                        <h5>
                            Configuration
                        </h5>
                        <p>The TourConfigProvider allows you to set a couple options:</p>
                        <ul class="task-list">
                            <li>
                                <code>prefixOptions</code> {boolean, default: false} if set to true will require directive options to be prefixed to avoid conflicts</li>
                            <li>
                                <code>prefix</code> {string, default: 'bsTour'} the prefix to use if <code>prefixOptions</code> is set to <code>true</code>
                            </li>
                        </ul>
                        <p>Use <code>TourConfigProvider.set(&lt;option&gt;, &lt;value&gt;)</code> in your app's config block to change the settings</p>
                        <p>You can use either <code>tour</code> and <code>tourStep</code> or <code>bsTour</code> and <code>bsTourStep</code> as directive names without changing config.</p>

                        <p>
                            <strong>See full documentation of official tour plugin:</strong> <a href="http://bootstraptour.com/" target="_blank">http://bootstraptour.com/</a> and on angular wrapper:
                            <a href="https://github.com/benmarch/angular-bootstrap-tour" target="_blank">https://github.com/benmarch/angular-bootstrap-tour</a>.
                        </p>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

