<div class="color-line"></div>
<div class="back-link">
    <a ui-sref="dashboard" class="btn btn-primary">Back to Dashboard</a>
</div>
<div class="register-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Registration</h3>
                <small>Full suported AngularJS WebApp/Admin template with very clean and aesthetic style prepared for your next app. </small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        <form action="#" id="loginForm">
                            <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Username</label>
                                <input type="" value="" id="" class="form-control" name="">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Password</label>
                                <input type="password" value="" id="" class="form-control" name="">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Repeat Password</label>
                                <input type="password" value="" id="" class="form-control" name="">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Email Address</label>
                                <input type="" value="" id="" class="form-control" name="">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Repeat Email Address</label>
                                <input type="" value="" id="" class="form-control" name="">
                            </div>
                            <div class="checkbox col-lg-12">
                                <input icheck type="checkbox" ng-model="remember" ng-init="remember = true">
                                Sigh up for our newsletter
                            </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-success">Register</button>
                                <button class="btn btn-default">Cancel</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>HOMER</strong> - AngularJS Responsive WebApp <br> 2015 Copyright Company Name
        </div>
    </div>
</div>
