<div class="btn-group i-group" data-toggle="buttons">
    <label class="btn btn-default" ng-click="click()" ng-class="{'active': c1v}">
        <input type="checkbox" name="age" value="1" autocomplete="off">0-3
    </label>
    <label class="btn btn-default" ng-click="click()" ng-class="{'active': c2v}">
        <input type="checkbox" name="age" value="2" autocomplete="off">3-6
    </label>
    <label class="btn btn-default" ng-click="click()" ng-class="{'active': c3v}">
        <input type="checkbox" name="age" value="4" autocomplete="off">4-7
    </label>
    <label class="btn btn-default" ng-click="click()" ng-class="{'active': c4v}">
        <input type="checkbox" name="age" value="8" autocomplete="off">7-9
    </label>
    <label class="btn btn-default" ng-click="click()" ng-class="{'active': c5v}">
        <input type="checkbox" name="age" value="16" autocomplete="off">9-16
    </label>
    <label class="btn btn-default" ng-click="click()" ng-class="{'active': c6v}">
        <input type="checkbox" name="age" value="32" autocomplete="off">16+
    </label>
</div>