<div ng-show="small !== undefined" class="search-wrapper" ng-class="{'small': small}">
    <div class="row main-row">
        <div class="col-lg-12 buttons-row">
            <div class="col-xs-12" style="margin-top:5px;padding:0;" ng-class="{'col-lg-7': !small, 'col-lg-12': small, 'col-md-7': !small, 'col-md-12': small, 'col-sm-12': !small, 'col-sm-12': small}">
                <div class="input-group" ng-class="{'small-search-field' : small}">
                    <div ng-if="!small" class="input-group-btn">
                        <button class="btn btn-danger" ng-click="advancedSearch()" style="border-right:0 none;"><i class="fa fa-filter"></i></button>
                        <!--<button class="btn btn-default" ng-click="applySearch()" style="border-right:0 none;"><i class="fa fa-search"></i></button>-->
                    </div>
                    <input type="text" ng-model="text" ng-change="textChanged()" ng-keypress="keyPress($event)" placeholder="{{ ::translate('Search') }}" class="form-control" name="search" style="font-size:13px">
                    <div class="input-group-btn">
                        <button ng-show="text" class="btn btn-default" ng-click="clearText()"><i class="fa fa-close"></i></button>
                        <button ng-if="!small" class="btn btn-primary2" ng-click="applySearch()"><i class="fa fa-search"></i>&nbsp;<span ng-bind="::translate('Search')"></span></button>
                        <!--<button class="btn btn-default" ng-click="()" style="border-right:0 none;"><i class="fa fa-"></i></button>-->
                        <!--<button ng-if="small" class="btn btn-primary2" ng-click="advancedSearch()"><i class="fa fa-filter"></i></button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="filterVisible">
        <div class="filters">
            <div class="content">
                <div class="col-xs-12" style="padding-left:0;margin-bottom:10px;padding-right:0;" ng-class="{'col-lg-8': !small, 'col-lg-12': small, 'col-md-8': !small, 'col-md-12': small, 'col-sm-8': !small, 'col-sm-12': small}">
                    <div class="row" style="margin-bottom:10px;">
                        <div ng-if="!small" class="col-xs-12" ng-class="{'col-lg-3': !small, 'col-lg-12': small, 'col-md-3': !small, 'col-md-12': small, 'col-sm-3': !small, 'col-sm-12': small}"><span ng-bind="::translate('For')"></span></div>
                        <div class="col-xs-12" ng-class="{'col-lg-9': !small, 'col-lg-12': small, 'col-md-9': !small, 'col-md-12': small, 'col-sm-9': !small, 'col-sm-12': small}">
                            <span ng-if="small" ng-bind="::translate('For')" style="width:30px;display:inline-block;"></span>
                            <div pol v="pol" on-change="onChangePol" style="width:210px !important;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-class="{'col-lg-3': !small, 'col-lg-12': small, 'col-md-3': !small, 'col-md-12': small, 'col-sm-3': !small, 'col-sm-12': small}"><span ng-bind="::translate('Price')"></span></div>
                        <div class="col-xs-12" ng-class="{'col-lg-9': !small, 'col-lg-12': small, 'col-md-9': !small, 'col-md-12': small, 'col-sm-9': !small, 'col-sm-12': small}">
                            <div class="range-wrap"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-class="{'col-lg-3': !small, 'col-lg-12': small, 'col-md-3': !small, 'col-md-12': small, 'col-sm-3': !small, 'col-sm-12': small}"><span ng-bind="::translate('Age')"></span></div>
                        <div class="col-xs-12" ng-class="{'col-lg-9': !small, 'col-lg-12': small, 'col-md-9': !small, 'col-md-12': small, 'col-sm-9': !small, 'col-sm-12': small}">
                            <div age v="age" on-change="onChangeAge"></div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-xs-12" ng-class="{'col-lg-3': !small, 'col-lg-12': small, 'col-md-3': !small, 'col-md-12': small, 'col-sm-3': !small, 'col-sm-12': small}"><span ></span></div>
                        <div class="col-xs-12" ng-class="{'col-lg-9': !small, 'col-lg-12': small, 'col-md-9': !small, 'col-md-12': small, 'col-sm-9': !small, 'col-sm-12': small}" style="padding-left:10px;">
                            <div class="checkbox checkbox-success" style="display: inline-block; margin-right: 20px;margin-top:0;">
                                <input ng-init="exists = false" id="{{ :: id((small ? '_' : '') + 'exists') }}" type="checkbox" ng-model="exists" ng-change="filtersChanged()">
                                <label for="{{ :: id((small ? '_' : '') + 'exists') }}" ng-bind="::translate('Exists')"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" ng-class="{'col-lg-3': !small, 'col-lg-12': small, 'col-md-3': !small, 'col-md-12': small, 'col-sm-3': !small, 'col-sm-12': small}"><span ng-bind="::translate('Number')"></span></div>
                        <div class="col-xs-12" ng-class="{'col-lg-9': !small, 'col-lg-12': small, 'col-md-9': !small, 'col-md-12': small, 'col-sm-9': !small, 'col-sm-12': small}">
                            <input type="text" class="form-control" style="width:205px;" ng-model="number" ng-change="filtersChanged()">
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-xs-12" ng-class="{'col-lg-3': !small, 'col-lg-12': small, 'col-md-3': !small, 'col-md-12': small, 'col-sm-3': !small, 'col-sm-12': small}"><span></span></div>
                        <div class="col-xs-12" ng-class="{'col-lg-9': !small, 'col-lg-12': small, 'col-md-9': !small, 'col-md-12': small, 'col-sm-9': !small, 'col-sm-12': small}" style="padding-left:10px;">
                            <div class="checkbox checkbox-success" style="display: inline-block; margin-right: 20px;margin-top:0;">
                                <input ng-init="onlyWithComments = false" id="{{ :: id((small ? '_' : '') + 'onlyWithComments') }}" type="checkbox" ng-model="onlyWithComments" ng-change="filtersChanged()">
                                <label for="{{ :: id((small ? '_' : '') + 'onlyWithComments') }}" ng-bind="::translate('OnlyWithComments')"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" style="padding-right:0;padding-left:0;margin-bottom:10px" ng-class="{'col-lg-4': !small, 'col-lg-12': small, 'col-md-4': !small, 'col-md-12': small, 'col-sm-4': !small, 'col-sm-12': small}">
                    <div class="row" ng-show = "searchCategories && searchCategories.length > 1">
                        <div class="col-xs-12" ng-class="{'col-lg-12': !small, 'col-lg-12': small, 'col-md-12': !small, 'col-md-12': small, 'col-sm-12': !small, 'col-sm-12': small}"><span ng-bind="::translate('Categories')"></span></div>
                        <div class="col-xs-12" ng-class="{'col-lg-12': !small, 'col-lg-12': small, 'col-md-12': !small, 'col-md-12': small, 'col-sm-12': !small, 'col-sm-12': small}" style="padding-left:10px;">
                            <div ng-repeat="cat in searchCategories" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 checkbox checkbox-success" style="display: inline-block;overflow:hidden;margin-top:0;margin-bottom:0;">
                                <input ng-init="cat.checked = small ? small : (cat.ichecked || false)" id="{{ ::id('id_' + cat.Id) }}" type="checkbox" ng-model = "cat.checked" ng-change="categoryCheck(cat)" value="cat.Id">
                                <label for="{{::id('id_' + cat.Id) }}" style="white-space:nowrap;"> {{ ::cat.Name }}
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div ng-show = "searchBrands && searchBrands.length > 0" class="col-xs-12" ng-class="{'col-lg-12': !small, 'col-lg-12': small, 'col-md-12': !small, 'col-md-12': small, 'col-sm-12': !small, 'col-sm-12': small}">
                            <span ng-bind="::translate('Brands')"></span>
                        </div>
                        <div class="col-xs-12" ng-class="{'col-lg-12': !small, 'col-lg-12': small, 'col-md-12': !small, 'col-md-12': small, 'col-sm-12': !small, 'col-sm-12': small}" style="padding-left:10px;">
                            <div ng-repeat="brand in searchBrands" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 checkbox checkbox-success" style="display: inline-block; margin-right: 20px;margin-top:0;margin-bottom:0;">
                                <input ng-init="brand.checked = small ? small : (brand.ichecked || false)" id="{{ ::id('id_' + brand.Id) }}" type="checkbox" ng-model = "brand.checked" ng-change="brandCheck(brand)" value="brand.Id" >
                                <label for="{{ ::id('id_' + brand.Id) }}" style="white-space:nowrap;"> {{ ::brand.Name }}
                                </label>
                                <img ng-src="{{ getUrl('/api/Catalog/GetPreviewBrandImage?id=' + brand.Id) }}" style="height:20px; vertical-align: middle; display: inline-block;margin-left:5px;margin-right:5px;margin-top: 0;" />
                                <span ng-if="allUnchecked[brand.Id]" class="all-series-text" ng-bind=::translate('AllSeries')></span>
                                <div class="row" ng-show = "brand && brand.checked && brand.Series && brand.Series.length > 0">
                                    <div class="col-xs-12" ng-class="{'col-lg-12': !small, 'col-lg-12': small, 'col-md-12': !small, 'col-md-12': small, 'col-sm-12': !small, 'col-sm-12': small}"><span ng-bind="::translate('Series')"></span></div>
                                    <div class="col-xs-12" ng-class="{'col-lg-12': !small, 'col-lg-12': small, 'col-md-12': !small, 'col-md-12': small, 'col-sm-12': !small, 'col-sm-12': small}" style="padding-left:10px;">
                                        <div ng-repeat="brandSeries in brand.Series" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 checkbox checkbox-success" style="display: inline-block; margin-right: 20px;margin-top:0;margin-bottom:0;">
                                            <input ng-init="brandSeries.checked = (brandSeries.ichecked || false)" id="{{ id('id_' + brandSeries.Id) }}" type="checkbox"  ng-model = "brandSeries.checked" ng-change="brandSeriesCheck(brandSeries)" value="brandSeries.Code">
                                            <label for="{{ id('id_' + brandSeries.Id) }}"> {{ :: brandSeries.CName }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-row">
            <div class="col-xs-12" style="margin-top:5px;padding:0;"  ng-class="{'col-lg-4': !small, 'col-lg-12': small, 'col-md-4': !small, 'col-md-12': small, 'col-sm-4': !small, 'col-sm-12': small}">
                <table>
                    <tr>
                        <td style="padding-right:5px;" ng-show="!small">
                            <button class="btn btn-warning" style="width: 100%;" ng-click="applySearch()"><span ng-bind="::translate('ApplySearch')"></span></button>
                        </td>
                        <td style="padding-right:5px;" ng-show="small">
                            <button class="btn btn-warning" style="width: 100%;" ng-click="applyCustom()"><span ng-bind="::translate('ApplySearch')"></span></button>
                        </td>
                        <td>
                            <button class="btn btn-warning2" style="width: 100%;" ng-click="clearFilters()"><span ng-bind="::translate('Reset')"></span></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

<div>