<div class="paging-group btn-group" style="margin-top:5px;margin-bottom:5px;">
    <button ng-click="onpageclick('first')" ng-if="!pages.firstReached" type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i></button>
    <button ng-click="onpageclick(page)" ng-repeat="page in pages.items track by $index" ng-class="{'btn-success': page.active, 'btn-default': !page.active}" class="btn">{{ page.index }}</button>
    <button ng-click="onpageclick('last')" ng-if="!pages.lastReached" type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
</div>